/*  
Author  - Prasoon Parashar  
Reviwer - Deepak Dharkar 
JIRA     - CARDS-56583
Version - Plat_23.1.2
Description - High Balance Re-Calculation
*/

ALTER   PROCEDURE [dbo].[USP_ReCalculateHighBalance] 
	@AccountID INT,
	@AccountNumber VARCHAR(19), 
	@CurrentBalance MONEY, 
	@AmtOfAcctHighBal MONEY,
	@TransactionAmount MONEY,
	@AccountCreationTime DATETIME,
	@CBRBreakPoint1 DATETIME,
	@CBRBreakPoint2 DATETIME,
	@CBRBreakPoint3 DATETIME,
	@CBRBreakPoint4 DATETIME,
	@CBRAmountOfCurrentBalance MONEY,
	@CBRAmountOfCurrentBalanceBP1 MONEY,
	@CBRAmountOfCurrentBalanceBP2 MONEY,
	@CBRAmountOfCurrentBalanceBP3 MONEY,
	@CBRAmountOfCurrentBalanceBP4 MONEY,
	@CBRAmountOfHighBalance MONEY,
	@CBRAmountOfHighBalanceBP1 MONEY,
	@CBRAmountOfHighBalanceBP2 MONEY,
	@CBRAmountOfHighBalanceBP3 MONEY,
	@CBRAmountOfHighBalanceBP4 MONEY,
	@TranTime DATETIME,
	@PostTime DATETIME
AS
BEGIN
	SET ANSI_NULLS ON
	SET QUOTED_IDENTIFIER ON
	SET NOCOUNT ON

	--Author  - Prasoon Parashar

	DECLARE
		@CMTTranType VARCHAR(10), 
		@RowCounter INT = 0,
		@ProcessTime DATETIME,
		@Year VARCHAR(10), 
		@Month VARCHAR(15), 
		@Day VARCHAR(5), 
		@Time VARCHAR(15),
		@ValidationPointTime DATETIME


	SET @ValidationPointTime = @PostTime

	--SET @TranTime = dbo.PR_ISOGetBusinessTime()

	----Logic for calculating break points

	IF(@CBRBreakPoint1 IS NULL AND @CBRBreakPoint2 IS NULL AND @CBRBreakPoint3 IS NULL AND @CBRBreakPoint4 IS NULL)
	BEGIN
		SET @Year = TRY_CAST(YEAR(@ValidationPointTime) AS VARCHAR)
		SET @Month = TRY_CAST((DATEPART(QUARTER,@ValidationPointTime)-1)*3 AS VARCHAR)
		SET @Day = TRY_CAST(DAY(EOMONTH(TRY_CAST(@Year+'-'+TRY_CAST(TRY_CAST(@Month AS INT) AS VARCHAR)+'-1' AS DATETIME))) AS VARCHAR)
		SET @Time = '23:59:57'

		IF(@Month = 0)
		BEGIN
			SET @Month = 12
			SET @Year = @Year - 1
			SET @Day = TRY_CAST(DAY(EOMONTH(TRY_CAST(@Year+'-'+TRY_CAST(@Month AS VARCHAR)+'-1' AS DATETIME))) AS VARCHAR)
		END

		SET @CBRBreakPoint1 = DATEADD(SECOND, 86397, TRY_CAST(EOMONTH(TRY_CAST(@Year+'-'+@Month+'-'+@Day AS DATETIME)) AS DATETIME))
		SET @CBRBreakPoint2 = DATEADD(SECOND, 86397, TRY_CAST(EOMONTH(DATEADD(MONTH, -3, @CBRBreakPoint1)) AS DATETIME))
		SET @CBRBreakPoint3 = DATEADD(SECOND, 86397, TRY_CAST(EOMONTH(DATEADD(MONTH, -3, @CBRBreakPoint2)) AS DATETIME))
		SET @CBRBreakPoint4 = DATEADD(SECOND, 86397, TRY_CAST(EOMONTH(DATEADD(MONTH, -3, @CBRBreakPoint3)) AS DATETIME))
	END

	--SELECT @TranTime CurrentDate, @CBRBreakPoint1 BreakPoint1, @CBRBreakPoint2 BreakPoint2, @CBRBreakPoint3 BreakPoint3, @CBRBreakPoint4 BreakPoint4

	--SELECT @AccountCreationTime = DateAcctOpened FROM BSegment_Primary WITH (NOLOCK) WHERE acctId = @AccountID

	IF(@CBRBreakPoint1 IS NOT NULL AND @TranTime > @CBRBreakPoint1 AND @CBRAmountOfHighBalanceBP1 > 0)
	BEGIN
		SET @CBRAmountOfCurrentBalance = @CBRAmountOfCurrentBalanceBP1
		SET @CBRAmountOfHighBalance = @CBRAmountOfHighBalanceBP1
		SET @ProcessTime = @CBRBreakPoint1
	END
	ELSE IF(@CBRBreakPoint2 IS NOT NULL AND @TranTime > @CBRBreakPoint2 AND @CBRAmountOfHighBalanceBP2 > 0)
	BEGIN
		SET @CBRAmountOfCurrentBalance = @CBRAmountOfCurrentBalanceBP2
		SET @CBRAmountOfHighBalance = @CBRAmountOfHighBalanceBP2
		SET @ProcessTime = @CBRBreakPoint2
	END
	ELSE IF(@CBRBreakPoint3 IS NOT NULL AND @TranTime > @CBRBreakPoint3 AND @CBRAmountOfHighBalanceBP3 > 0)
	BEGIN
		SET @CBRAmountOfCurrentBalance = @CBRAmountOfCurrentBalanceBP3
		SET @CBRAmountOfHighBalance = @CBRAmountOfHighBalanceBP3
		SET @ProcessTime = @CBRBreakPoint3
	END
	ELSE IF(@CBRBreakPoint4 IS NOT NULL AND @TranTime > @CBRBreakPoint4 AND @CBRAmountOfHighBalanceBP4 > 0)
	BEGIN
		SET @CBRAmountOfCurrentBalance = @CBRAmountOfCurrentBalanceBP4
		SET @CBRAmountOfHighBalance = @CBRAmountOfHighBalanceBP4
		SET @ProcessTime = @CBRBreakPoint4
	END
	ELSE
	BEGIN
		SET @CBRAmountOfCurrentBalance = 0
		SET @CBRAmountOfHighBalance = 0
		SET @ProcessTime = @AccountCreationTime
	END

	
	DROP TABLE IF EXISTS #TempData
	SELECT ROW_NUMBER() OVER (PARTITION BY NULL ORDER BY PostTime) RowCounter,
	CP.AccountNumber, RTRIM(CP.CMTTRANTYPE) AS CMTTRANTYPE, CP.TransactionAmount,CP.TranId,CP.TranRef,CP.RevTgt, Trantime,CP.PostTime
	INTO #TempData
	FROM CCard_Primary CP WITH (NOLOCK)
	WHERE CP.AccountNumber IN (SELECT AccountNumber FROM BSegment_Primary WITH(NOLOCK) WHERE acctId = @AccountID) 
	AND CP.CMTTRANTYPE IN ('02','03','04','05','06','07','08','09','10','11','12','13','14','15','16',  
							'17','18','19','21','22','23','24','25','26','28','29','30','31','32','33',  
							'35','37','38','40','41','42','43','45','48','49','50','51','52','53','54',  
							'55','56','57','58','60','61','62','63','64','65','66','67','68','69','70',  
							'71','72','73','74','75','76','77','78','79','80','81','82','83','84','85',  
							'86','87','90','91','92','93','94','95','96','97','98',
							'110','111','1111','115','116','117','118')
	AND CP.PostTime > @ProcessTime

	INSERT INTO #TempData (TranId, AccountNumber, TransactionAmount, Trantime, PostTime)
	VALUES
	(0, @AccountNumber, @CBRAmountOfCurrentBalance, @ProcessTime, @ProcessTime)

	--SELECT * FROM #TempData

	;WITH CTE
	AS
	(
		SELECT *
		FROM #TempData
		WHERE RevTgt IS NOT NULL
	)
	UPDATE T1
	SET TransactionAmount = T1.TransactionAmount - C.TransactionAmount
	FROM #TempData T1
	JOIN CTE C ON (T1.TranID = C.RevTgt)

	DELETE FROM #TempData WHERE RevTgt IS NOT NULL 

	DELETE FROM #TempData WHERE TransactionAmount = 0 

	DROP TABLE IF EXISTS #TempRecords
	;WITH CTE
	AS
	(
		SELECT RowCounter, AccountNumber, CMTTRANTYPE, TransactionAmount, TranId, TranRef, RevTgt, Trantime, PostTime,
		SUM(CASE WHEN TRY_CAST(CMTTRANTYPE AS INT)%2 = 1 THEN TransactionAmount*-1 ELSE TransactionAmount END) 
		OVER (PARTITION BY NULL ORDER BY PostTime ROWS UNBOUNDED PRECEDING) CurrentBalance
		FROM #TempData
	)
	SELECT RowCounter, AccountNumber, CMTTRANTYPE, TransactionAmount, TranId, TranRef, RevTgt, Trantime, PostTime, CurrentBalance,
	MAX(CurrentBalance) OVER (PARTITION BY NULL ORDER BY PostTime ROWS UNBOUNDED PRECEDING) HighBalance
	INTO #TempRecords
	FROM CTE


	/*

	DECLARE db_cursor CURSOR FOR
	SELECT 
		RowCounter, CMTTranType, TransactionAmount
	FROM #tempData
	Order By RowCounter

	OPEN db_cursor
	FETCH NEXT FROM db_cursor INTO @RowCounter, @CMTTranType, @TransactionAmount

	--PRINT @@FETCH_STATUS

	WHILE @@FETCH_STATUS = 0
	BEGIN
	
		IF(TRY_CAST(@CMTTranType AS INT)%2 = 1)
		BEGIN
			SET @CBRAmountOfCurrentBalance = @CBRAmountOfCurrentBalance - @TransactionAmount
		END
		ELSE
		BEGIN
			SET @CBRAmountOfCurrentBalance = @CBRAmountOfCurrentBalance + @TransactionAmount
		END

		IF(@CBRAmountOfCurrentBalance > @CBRAmountOfHighBalance)
		BEGIN
			SET @CBRAmountOfHighBalance = @CBRAmountOfCurrentBalance
		END

		UPDATE #TempData SET CurrentBalance = @CBRAmountOfCurrentBalance, HighBalance = @CBRAmountOfHighBalance WHERE RowCounter = @RowCounter
	
		FETCH NEXT FROM db_cursor INTO @RowCounter, @CMTTranType, @TransactionAmount
	END

	CLOSE db_cursor
	DEALLOCATE db_cursor

	*/

	--SELECT * FROM #TempData

	--SELECT TOP 1 CurrentBalance, HighBalance 
	--FROM #TempData 
	--WHERE PostTime <= '2017-12-31 23:59:57.000' 
	--AND PostTime >= '2017-09-30 23:59:57.000' 
	--ORDER BY RowCounter DESC

	--Logic for calculating break points -- refreshed population

	SET @Year = TRY_CAST(YEAR(@ValidationPointTime) AS VARCHAR)
	SET @Month = TRY_CAST((DATEPART(QUARTER,@ValidationPointTime)-1)*3 AS VARCHAR)
	SET @Day = TRY_CAST(DAY(EOMONTH(TRY_CAST(@Year+'-'+TRY_CAST(TRY_CAST(@Month AS INT) AS VARCHAR)+'-1' AS DATETIME))) AS VARCHAR)
	SET @Time = '23:59:57'

	IF(@Month = 0)
	BEGIN
		SET @Month = 12
		SET @Year = @Year - 1
		SET @Day = TRY_CAST(DAY(EOMONTH(TRY_CAST(@Year+'-'+TRY_CAST(@Month AS VARCHAR)+'-1' AS DATETIME))) AS VARCHAR)
	END

	SET @CBRBreakPoint1 = DATEADD(SECOND, 86397, TRY_CAST(EOMONTH(TRY_CAST(@Year+'-'+@Month+'-'+@Day AS DATETIME)) AS DATETIME))
	SET @CBRBreakPoint2 = DATEADD(SECOND, 86397, TRY_CAST(EOMONTH(DATEADD(MONTH, -3, @CBRBreakPoint1)) AS DATETIME))
	SET @CBRBreakPoint3 = DATEADD(SECOND, 86397, TRY_CAST(EOMONTH(DATEADD(MONTH, -3, @CBRBreakPoint2)) AS DATETIME))
	SET @CBRBreakPoint4 = DATEADD(SECOND, 86397, TRY_CAST(EOMONTH(DATEADD(MONTH, -3, @CBRBreakPoint3)) AS DATETIME))
	
	SELECT TOP 1 @CBRAmountOfCurrentBalance = CurrentBalance, @CBRAmountOfHighBalance = HighBalance FROM #TempRecords ORDER BY RowCounter DESC
	SELECT TOP 1 @CBRAmountOfCurrentBalanceBP1 = CurrentBalance, @CBRAmountOfHighBalanceBP1 = HighBalance FROM #TempRecords WHERE PostTime <= @CBRBreakPoint1 AND PostTime >= @CBRBreakPoint2 ORDER BY RowCounter DESC
	SELECT TOP 1 @CBRAmountOfCurrentBalanceBP2 = CurrentBalance, @CBRAmountOfHighBalanceBP2 = HighBalance FROM #TempRecords WHERE PostTime <= @CBRBreakPoint2 AND PostTime >= @CBRBreakPoint3 ORDER BY RowCounter DESC
	SELECT TOP 1 @CBRAmountOfCurrentBalanceBP3 = CurrentBalance, @CBRAmountOfHighBalanceBP3 = HighBalance FROM #TempRecords WHERE PostTime <= @CBRBreakPoint3 AND PostTime >= @CBRBreakPoint4 ORDER BY RowCounter DESC
	SELECT TOP 1 @CBRAmountOfCurrentBalanceBP4 = CurrentBalance, @CBRAmountOfHighBalanceBP4 = HighBalance FROM #TempRecords WHERE PostTime <= @CBRBreakPoint4 ORDER BY RowCounter DESC

	--SELECT TOP 1 CurrentBalance, HighBalance FROM #TempRecords ORDER BY RowCounter DESC
	--SELECT TOP 1 CurrentBalance, HighBalance FROM #TempRecords WHERE PostTime <= @CBRBreakPoint1 AND PostTime >= @CBRBreakPoint2 ORDER BY RowCounter DESC
	--SELECT TOP 1 CurrentBalance, HighBalance FROM #TempRecords WHERE PostTime <= @CBRBreakPoint2 AND PostTime >= @CBRBreakPoint3 ORDER BY RowCounter DESC
	--SELECT TOP 1 CurrentBalance, HighBalance FROM #TempRecords WHERE PostTime <= @CBRBreakPoint3 AND PostTime >= @CBRBreakPoint4 ORDER BY RowCounter DESC
	--SELECT TOP 1 CurrentBalance, HighBalance FROM #TempRecords WHERE PostTime <= @CBRBreakPoint4 ORDER BY RowCounter DESC

	--SELECT * FROM #TempRecords WHERE PostTime <= '2018-03-31 23:59:57.000' ORDER BY RowCounter DESC

	--PRINT @ValidationPointTime

	SELECT 
		@AccountID acctId,
		@CBRBreakPoint1 CBRBreakPoint1,
		@CBRBreakPoint2 CBRBreakPoint2,
		@CBRBreakPoint3 CBRBreakPoint3,
		@CBRBreakPoint4 CBRBreakPoint4,
		@CBRAmountOfCurrentBalance CBRAmountOfCurrentBalance, 
		CASE WHEN @ValidationPointTime > @CBRBreakPoint1 THEN @CBRAmountOfCurrentBalanceBP1 ELSE 0 END CBRAmountOfCurrentBalanceBP1, 
		CASE WHEN @ValidationPointTime > @CBRBreakPoint2 THEN @CBRAmountOfCurrentBalanceBP2 ELSE 0 END CBRAmountOfCurrentBalanceBP2,  
		CASE WHEN @ValidationPointTime > @CBRBreakPoint3 THEN @CBRAmountOfCurrentBalanceBP3 ELSE 0 END CBRAmountOfCurrentBalanceBP3, 
		CASE WHEN @ValidationPointTime > @CBRBreakPoint4 THEN @CBRAmountOfCurrentBalanceBP4 ELSE 0 END CBRAmountOfCurrentBalanceBP4, 
		@CBRAmountOfHighBalance CBRAmountOfHighBalance,
		CASE WHEN @ValidationPointTime > @CBRBreakPoint1 THEN @CBRAmountOfHighBalanceBP1 ELSE 0 END CBRAmountOfHighBalanceBP1,
		CASE WHEN @ValidationPointTime > @CBRBreakPoint2 THEN @CBRAmountOfHighBalanceBP2 ELSE 0 END CBRAmountOfHighBalanceBP2,
		CASE WHEN @ValidationPointTime > @CBRBreakPoint3 THEN @CBRAmountOfHighBalanceBP3 ELSE 0 END CBRAmountOfHighBalanceBP3,
		CASE WHEN @ValidationPointTime > @CBRBreakPoint4 THEN @CBRAmountOfHighBalanceBP4 ELSE 0 END CBRAmountOfHighBalanceBP4
END