CREATE OR ALTER     PROCEDURE USP_ValidateRetailReplaySchedules
	@FileName VARCHAR(200), 
	@FileID VARCHAR(100),
	@BatchCount INT,
	@AccountNumberCheck INT
AS
BEGIN
	SET NOCOUNT ON
	SET QUOTED_IDENTIFIER ON

	-- Author: PRASOON PARASHAR
	-- Purpose: Retail Implementation

	DECLARE		@RecordCount		INT = 0,
				@ValidateCount		INT = 0,
				--@BatchCount			INT = 10000,
				@ErrorFlag			INT = 0,
				@InstitutionID		INT = 0,
				@CurrentTime		DATETIME

	DROP TABLE IF EXISTS #TempUpdateSchedules
	DROP TABLE IF EXISTS #TempScheduleCount

	SELECT @RecordCount = COUNT(1)
	FROM ILPScheduleDetailsBAD_DUMP WITH (NOLOCK)
	WHERE JobStatus = 0

	SELECT TOP 1 @InstitutionID =  InstitutionID FROM Institutions WITH (NOLOCK) WHERE SysOrgID = 51

	SELECT @CurrentTime = CAST(CONVERT(VARCHAR, ProcDayEnd, 23) + ' ' + CONVERT(VARCHAR, GETDATE(), 14) AS DATETIME)
	FROM ARSystemAccounts AR WITH (NOLOCK) 
	JOIN Org_Balances OB WITH (NOLOCK) ON (AR.acctId = OB.ARSystemAcctId)
	WHERE OB.acctId = @InstitutionID

	UPDATE ILP
	SET
		Report_Date = LTRIM(RTRIM(Report_Date)),
		Business_Date = LTRIM(RTRIM(Business_Date)),
		Batch_Timestamp = LTRIM(RTRIM(Batch_Timestamp)),
		Account_UUID = LTRIM(RTRIM(Account_UUID)),
		Plan_UUID = LTRIM(RTRIM(Plan_UUID)),
		Schedule_ID = LTRIM(RTRIM(Schedule_ID)),
		Institution_ID = LTRIM(RTRIM(Institution_ID)),
		Product_ID = LTRIM(RTRIM(Product_ID)),
		-- Error = SUBSTRING(LTRIM(RTRIM(Error)), 1, (LEN(LTRIM(RTRIM(Error))) -1)),
		Error = LTRIM(RTRIM(Error)),
		ProcessingDate = @CurrentTime,
		FileName = @FileName,
		FileID = @FileID,
		[Error_Message] = LTRIM(RTRIM(ILP.[Error_Message])),
		Field_Path = LTRIM(RTRIM(ILP.Field_Path)),
		--AccountNumber = SUBSTRING(LTRIM(RTRIM(AccountNumber)), 1, (LEN(LTRIM(RTRIM(AccountNumber))) -1))
		AccountNumber = SUBSTRING(LTRIM(RTRIM(AccountNumber)), 1, 19)
	FROM ILPScheduleDetailsBAD_DUMP ILP
	WHERE JobStatus = 0

	CREATE TABLE #TempUpdateSchedules
	(
		 [Report_Date]			VARCHAR(200) NULL,
		 [Business_Date]		VARCHAR(200) NULL,
		 [Batch_Timestamp]		VARCHAR(200) NULL,
		 [Account_UUID]			VARCHAR(200),
		 [Plan_UUID]			VARCHAR(200) NULL,
		 [Schedule_ID]			VARCHAR(200) NULL,
		 [Institution_ID]		VARCHAR(200) NULL,
		 [Product_ID]			VARCHAR(200) NULL,
		 [Error]				VARCHAR(200) NULL,
		 [Error_Message]		VARCHAR(500) NULL,
		 [Field_Path]			VARCHAR(200) NULL,
		 [Skey]					DECIMAL(19,0),
		 [FileName]				varchar (200) NULL,
		 [FileID]				varchar (100) NULL,
		 [parent02AID]			int NULL,
		 [AccountNumber]		char (19) NULL,
		 [acctId]				int NULL,
		 [ScheduleIDOnILP]		decimal(19) NULL,
		 [JobStatus]			int DEFAULT 0 NOT NULL,
		 [ProcessingDate]		datetime NULL,
		 [CorrectionDate]		datetime NULL,
		 [ValidationMessage]	VARCHAR (200) NULL,
		 [Counter]				int NULL,
		 [Ranking]				INT NULL
	)

	CREATE TABLE #TempScheduleCount
	(
		[Schedule_ID] VARCHAR(200) NULL,
		[Counter] int NULL
	)

	IF(@RecordCount > 0 AND @FileName <> '')
	BEGIN
		WHILE(@RecordCount >= @ValidateCount)
		BEGIN TRY
			BEGIN
				SET @ValidateCount = @ValidateCount + @BatchCount

				INSERT INTO #TempUpdateSchedules 
				SELECT 
					TOP(@BatchCount) 
					 Report_Date,
					 Business_Date,
					 Batch_Timestamp,
					 Account_UUID,
					 Plan_UUID,
					 Schedule_ID,
					 Institution_ID,
					 Product_ID,
					 Error,
					 [Error_Message],
					 Field_Path,
					 Skey,
					 FileName,
					 FileID,
					 parent02AID,
					 AccountNumber,
					 acctId,
					 ScheduleIDOnILP,
					 JobStatus,
					 ProcessingDate,
					 CorrectionDate,
					 ValidationMessage,
					 0,
					 RANK() OVER (PARTITION BY Plan_UUID, Schedule_ID ORDER BY Skey)
				FROM ILPScheduleDetailsBAD_DUMP WITH (NOLOCK)
				WHERE JobStatus = 0

				------------------------------------------------------- VALIDATION STARTS ---------------------------------------------------------------

				-- 1. Validate Records (JobStatus = 2)

				UPDATE TT
				SET
					JobStatus = 2,
					ValidationMessage = 'Error in Records'
				FROM #TempUpdateSchedules TT
				WHERE 
					(
						Report_Date IS NULL
						OR Report_Date = ''
						OR TRY_CONVERT(DATETIME, Report_Date) IS NULL
						OR Business_Date IS NULL
						OR Business_Date = ''
						OR TRY_CONVERT(DATE, Business_Date) IS NULL
						OR Batch_Timestamp IS NULL
						OR Batch_Timestamp = ''
						OR TRY_CONVERT(TIME, Batch_Timestamp) IS NULL
						OR Account_UUID IS NULL
						OR Account_UUID = ''
						OR Plan_UUID IS NULL
						OR Plan_UUID = ''
						OR Schedule_ID IS NULL
						OR ISNUMERIC(Schedule_ID) = 0						
						OR Institution_ID IS NULL
						OR ISNUMERIC(Institution_ID) = 0
						OR Product_ID IS NULL
						OR ISNUMERIC(Product_ID) = 0
						OR Error IS NULL
						OR Error = ''
						OR [Error_Message] IS NULL
						OR [Error_Message] = ''						
						OR Field_Path IS NULL
						OR Field_Path = ''
						OR (@AccountNumberCheck = 1 AND (AccountNumber = '' OR AccountNumber IS NULL))
					)
					AND JobStatus = 0

				-- 9. Validate UniversalUniqueID (JobStatus = 9) // Cookie: 162272

				UPDATE TT
				SET 
					TT.JobStatus = CASE WHEN BP.MergeInProcessPH IN (4, 14) THEN 9 ELSE 0 END	,
					--TT.AccountNumber = BP.AccountNumber,
					TT.parent02AID = BP.acctId,
					ValidationMessage = CASE WHEN BP.MergeInProcessPH IN (4, 14) THEN 'Account already merged' ELSE NULL END
				FROM #TempUpdateSchedules TT
				LEFT OUTER JOIN BSegment_Primary BP WITH (NOLOCK) ON (BP.UniversalUniqueID = TT.Account_UUID)
				WHERE TT.JobStatus = 0

				-- 10. Specific AccountNumber validation for exception file generation (JobStatus = 10) // Cookie: 163800
				IF(@AccountNumberCheck = 1)
				BEGIN
					UPDATE TT
					SET 
						TT.JobStatus = CASE WHEN BP.AccountNumber IS NULL THEN 10 ELSE 0 END	,
						--TT.AccountNumber = BP.AccountNumber,
						--TT.parent02AID = BP.acctId,
						ValidationMessage = CASE WHEN BP.AccountNumber IS NULL THEN 'INVALID AccountNumber' ELSE NULL END
					FROM #TempUpdateSchedules TT
					LEFT OUTER JOIN BSegment_Primary BP WITH (NOLOCK) ON (BP.AccountNumber = TT.AccountNumber)
					WHERE TT.JobStatus = 0
				END
			
				-- 2. Validate UniversalUniqueID (JobStatus = 3)

				UPDATE TT
				SET 
					TT.JobStatus = CASE WHEN BP.AccountNumber IS NULL OR TT.Product_ID <> BP.parent02AID OR TT.Institution_ID <> BP.InstitutionID THEN 3 ELSE 0 END	,
					--TT.AccountNumber = BP.AccountNumber,
					--TT.parent02AID = BP.acctId,
					ValidationMessage = CASE WHEN BP.AccountNumber IS NULL THEN 'INVALID AccountUUID or ProductID or InstitutionID' ELSE NULL END
				FROM #TempUpdateSchedules TT
				LEFT OUTER JOIN BSegment_Primary BP WITH (NOLOCK) ON (BP.UniversalUniqueID = TT.Account_UUID)
				WHERE TT.JobStatus = 0

				-- 3. Validate PlanUUID (JobStatus = 4)

				UPDATE TT
				SET
					TT.JobStatus =	CASE WHEN CPCC.PlanUUID IS NULL THEN 4 ELSE 0 END,
					TT.acctId = CPCC.acctId,
					ValidationMessage = CASE WHEN  CPCC.PlanUUID IS NULL THEN 'INVALID PlanUUID' ELSE NULL END
				FROM #TempUpdateSchedules TT 
				LEFT JOIN CPSgmentCreditCard CPCC WITH (NOLOCK) ON (TT.Plan_UUID = CPCC.PlanUUID)
				WHERE TT.JobStatus = 0

				-- 4. Validate PlanUUID AND AccountUUID (JobStatus = 5)

				UPDATE TT
				SET
					TT.JobStatus =	CASE WHEN CPA.acctId IS NULL THEN 5 ELSE 0 END,
					ValidationMessage = CASE WHEN CPA.acctId IS NULL THEN 'INVALID PlanUUID for AccountUUID' ELSE NULL END
				FROM #TempUpdateSchedules TT 
				LEFT JOIN CPSgmentAccounts CPA WITH (NOLOCK) ON (TT.acctId = CPA.acctId AND CPA.parent02AID = TT.parent02AID)
				WHERE TT.JobStatus = 0

				-- 5. Validate PlanUUID AND ScheduleID (JobStatus = 6)

				UPDATE TT
				SET
					TT.JobStatus = CASE WHEN ILP.ScheduleID IS NULL THEN 6 ELSE 0 END,
					TT.ScheduleIDOnILP = ILP.ScheduleID
				FROM #TempUpdateSchedules TT
				LEFT JOIN ILPScheduleDetailSummary ILP WITH (NOLOCK) ON (ILP.PlanID = TT.acctId AND ILP.ActivityOrder = TT.Schedule_ID)
				WHERE TT.JobStatus = 0

				-- 6. Validate Duplicate record (JobStatus = 7)

				INSERT INTO #TempScheduleCount
					SELECT 
						TT.ScheduleIDOnILP,
						COUNT(1)
					FROM #TempUpdateSchedules TT
					WHERE TT.JobStatus = 0
					GROUP BY TT.ScheduleIDOnILP

				UPDATE TT
				SET
					TT.Counter = TS.Counter,
					TT.JobStatus = CASE WHEN TT.Ranking > 1 THEN 7 ELSE 0 END,
					ValidationMessage = CASE WHEN TT.Ranking > 1 THEN 'Duplicate or active record already present for this ScheduleID' ELSE NULL END
				FROM #TempUpdateSchedules TT
				JOIN #TempScheduleCount TS ON (TT.ScheduleIDOnILP = TS.Schedule_ID)

				-- 7. Validate already ACTIVE records (JobStatus = 8)
				
				UPDATE TT
				SET
					TT.JobStatus = 8,
					TT.Counter = TT.Counter + ILP.Counter,
					ValidationMessage = 'Duplicate or active record already present for this ScheduleID'
				FROM #TempUpdateSchedules TT
				JOIN ILPScheduleDetailsBAD ILP WITH (NOLOCK) ON (ILP.ScheduleID = TT.ScheduleIDOnILP)
				WHERE ILP.JobStatus IN (0, 1)

				------------------------------------------------------- VALIDATION ENDS ---------------------------------------------------------------

				UPDATE ILP
				SET
					JobStatus = CASE WHEN TT.JobStatus = 0 THEN 1 WHEN TT.JobStatus = 8 THEN 7 ELSE TT.JobStatus END,
					--AccountNumber = TT.AccountNumber,
					parent02AID = TT.parent02AID,
					acctId = TT.acctId,
					ScheduleIDOnILP = TT.ScheduleIDOnILP,
					ValidationMessage = CASE WHEN TT.JobStatus = 0 THEN 'No Error' ELSE TT.ValidationMessage END,
					Counter = TT.Counter
				FROM ILPScheduleDetailsBAD_DUMP ILP WITH (NOLOCK)
				JOIN #TempUpdateSchedules TT ON (ILP.Skey = TT.Skey)
				WHERE ILP.FileName = @FileName

				BEGIN TRY
					BEGIN TRANSACTION
						UPDATE ILP
						SET
							ILP.Counter = TT.Counter
						FROM ILPScheduleDetailsBAD ILP WITH (NOLOCK)
						JOIN #TempUpdateSchedules TT ON (ILP.ScheduleID = TT.ScheduleIDOnILP)
						WHERE TT.JobStatus = 8 AND ILP.JobStatus = 1

						INSERT INTO ILPScheduleDetailsBAD
						(
							UniversalUniqueID
							, PlanUUID
							, ScheduleID
							, ReportDate
							, BusinessDate
							, BatchTimestamp
							, InstitutionID
							, ProductID
							, ErrorReason
							, FileName
							, FileID
							, parent02AID
							, AccountNumber
							, acctId
							, JobStatus
							, ProcessingDate
							, Counter
							, ErrorMessage
							, FieldPath
						)
						SELECT
							Account_UUID
							, Plan_UUID
							, ScheduleIDOnILP
							, CAST(Report_Date AS DATETIME)
							, CAST(Business_Date AS DATE)
							, CAST(Batch_Timestamp AS TIME)
							, Institution_ID
							, Product_ID
							, Error
							, FileName
							, FileID
							, parent02AID
							, AccountNumber
							, acctId
							, 0
							, ProcessingDate
							, Counter
							, [Error_Message]
							, Field_Path
						FROM ILPScheduleDetailsBAD_DUMP WITH (NOLOCK)
						WHERE FileName = @FileName AND FileID = @FileID AND JobStatus = 1

						INSERT INTO ILPScheduleDetailsBAD_Archive
						(
							Report_Date
							, Business_Date
							, Batch_Timestamp
							, Account_UUID
							, Plan_UUID
							, Schedule_ID
							, Institution_ID
							, Product_ID
							, Error
							, FileName
							, FileID
							, parent02AID
							, AccountNumber
							, acctId
							, ScheduleIDOnILP
							, JobStatus
							, ProcessingDate
							, CorrectionDate
							, ValidationMessage
							, [Error_Message]
							, Field_Path
						)
						SELECT
							ILP.Report_Date
							, ILP.Business_Date
							, ILP.Batch_Timestamp
							, ILP.Account_UUID
							, ILP.Plan_UUID
							, ILP.Schedule_ID
							, ILP.Institution_ID
							, ILP.Product_ID
							, ILP.Error
							, ILP.FileName
							, ILP.FileID
							, ILP.parent02AID
							, ILP.AccountNumber
							, ILP.acctId
							, ILP.ScheduleIDOnILP
							, ILP.JobStatus
							, ILP.ProcessingDate
							, ILP.CorrectionDate
							, ILP.ValidationMessage
							, ILP.[Error_Message]
							, ILP.Field_Path
						FROM ILPScheduleDetailsBAD_DUMP ILP WITH (NOLOCK)
						JOIN #TempUpdateSchedules TT ON (ILP.Skey = TT.Skey)

						DELETE ILP FROM ILPScheduleDetailsBAD_DUMP ILP 
						JOIN #TempUpdateSchedules TT ON (ILP.Skey = TT.Skey)

					COMMIT TRANSACTION
				END TRY

				BEGIN CATCH
					ROLLBACK TRANSACTION
					SET @ErrorFlag = 2
				END CATCH

				TRUNCATE TABLE #TempUpdateSchedules
				TRUNCATE TABLE #TempScheduleCount

			END
		END TRY
		BEGIN CATCH
			SET @ErrorFlag = 1
		END CATCH

	END
	ELSE
	BEGIN
		SET @ErrorFlag = 3
	END

	SELECT
	@ErrorFlag AS ErrorFlag,
	COUNT(1) AS RecordErrorCount,
	JobStatus,
	ValidationMessage
	FROM ILPScheduleDetailsBAD_Archive WITH (NOLOCK)
	WHERE FileName = @FileName AND FileID = @FileID
	GROUP BY JobStatus, ValidationMessage

END
