USE [PARASHAR_TEST]
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertInto_IntraDayAccountOTBRule_Internal]    Script Date: 3/29/2021 5:11:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================= 
-- Author:   Kiran Malani/ Prasoon Parashar
-- Create date:  11/16/2018
-- Description:  Cookie - 8808	 | Plat - Make the Payment OTB hold after the Payment variable at the Account Level.
-- ============================================= 
-- ============================================= 
-- Modified by:   Pratiksha Dalavi
-- Description: Added changes for COOKIE-128216  
-- ============================================= 
-- ============================================= 
-- Modified by:   Vishal Sharma
-- Description: Added changes for COOKIE-159720 
--Add beolw columns 
--ModelScoreThreshold1,
--ModelScoreThreshold2,
--ModelScoreThreshold3,
--ModelScoreThreshold4,
--ModelScoreThreshold5
  
-- ============================================= 
--Exec USP_InsertInto_IntraDayAccountOTBRule_Internal '20180321235957', 'IntraDayAccountOTBRule_201811122120271.csv',6969,'G2','ACCOUNTNUMBER'

ALTER    PROCEDURE [dbo].[USP_InsertInto_IntraDayAccountOTBRule_Internal] (	@fileId VARCHAR(100) , 
																			@fileName  VARCHAR(200),
																			@InstitutionID INT,
																			@PolicyVersion  varchar(30) null ,--,@Error int = 0 OUTPUT 
																			@Identifier varchar(20)  null) 
AS
  BEGIN
	SET NOCOUNT ON ;
	DECLARE @InvalidRecordCount INT =0, 
      @RecordCount              INT = 0, 
      @Error                    INT =0, 
      @RecordCountExt           INT = 0, 
      @BatchCount               INT =50000, 
      @validateCount            INT = 0,
	  @EndDate	datetime,
	  @startDate datetime,
	  @ErrorCount bigint = 0 ,
	  @ArchiveCount bigint = 0 ,
	  @SuccessCount bigint = 0 ,
	  @notprocessedCount bigint,
	  @SysOrgID INT
	  --@fileId VARCHAR(100) ='IntraDayAccountOTBRule_201811122120248.csv' ,
	  --@fileName  VARCHAR(200) = 'aaaaa'
	 
	 
	 if(@PolicyVersion  = 'G2' )
	  Begin 
		SELECT @RecordCount = Count(1)
		FROM   intradayaccountotbrule_external_G2 IT WITH(nolock) 
		WHERE  status = 0
	END
	Else 
	Begin 
		SELECT @RecordCount = Count(1)
		FROM   intradayaccountotbrule_external IT WITH(nolock) 
		WHERE  status = 0
	End
	--drop  table #tempupdateotb
	
	Create table  #tempupdateotb 
	(
		skey DECIMAL (19,0),
		fileId VARCHAR(100)  ,
		fileName  VARCHAR(200),
		ranking int,
		AccountNumber char (19) NULL,
		BSAcctID int NULL,
		ProductID int NULL,
		UniversalUniqueID	varchar(100),
		InstitutionID	int,
		IntradayThreshholdAmount	money,
		HeldDays_LessThanIntradayThreshhold	int,
		HeldDays_GreaterThanIntradayThreshhold	int,
		StartDate	datetime,
		Transactioncode	varchar(10),
		Status	int,
		ACHSucessfulPaymentThreshold money, --COOKIE-128216
		NontrivialPaymentSizeThreshold1 money,
		NontrivialPaymentSizeThreshold2 money, 
		BusinessDaysHeldifPaymentRiskLow   int,
		BusinessDaysHeldifPaymentRiskMedium   int,
		BusinessDaysHeldifPaymentRiskHigh  int , 
		BusinessDaysHeldifPaymentRiskVeryHigh int ,
		IntradayPaymentThreshold1 money,
		IntradayPaymentThreshold2 money,
		IntradayPaymentThreshold3 money,
		IntradayPaymentThreshold4 money,
		IntradayAttemptedSpendThreshold1 money,
		IntradayAttemptedSpendThreshold2 money,
		RIPThreshold1  money,
		RiskScore  money,
		ACHBankAccountThreshold money,
		VIPFlag  int ,
		TestFlag  int ,
		PolicyVersion   varchar(55),
		PolicySubVersion varchar(55),
		ModelScoreThreshold1  DECIMAL(19,7),
		ModelScoreThreshold2  DECIMAL(19,7),
		ModelScoreThreshold3  DECIMAL(19,7),
		ModelScoreThreshold4  DECIMAL(19,7),
		ModelScoreThreshold5  DECIMAL(19,7)
	)

	CREATE CLUSTERED INDEX IX_tempupdateotb_tempskey  
	ON #tempupdateotb (skey);  

	
	CREATE  NONCLUSTERED INDEX IX_tempupdateotb_tempUUIDTxncode 
	ON #tempupdateotb (UniversalUniqueID,Transactioncode);  

	--DROP TABLE #tempHoldpaymentdetails
	CREATE TABLE #tempHoldpaymentdetails
	(
		PymtHoldTranCode char(10),
		Institutionid INT
	)

	--SELECT @RecordCountExt = Count(1) 
 --   FROM   intradayaccountotbrule_internal WITH(nolock) 
 --   WHERE  status IN (0,1)     AND    fileid = @fileId 



	SELECT  top 1 @SysOrgID =  SysOrgID
	FROM   Institutions  With(NOLOCK)
	WHERE InstitutionID = @InstitutionID

	BEGIN TRY
		BEGIN TRANSACTION
			UPDATE PaymentHoldFileProcessing 
			SET
				TotalRecords = @RecordCount,
				StartTime = GETDATE(),
				FileStatus = 'INPROCESS'
			WHERE FileName = @fileName AND FileStatus IN ('NEW', 'ERROR')
		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		SET @Error = 2 
		ROLLBACK TRANSACTION
		UPDATE PaymentHoldFileProcessing SET FileStatus = 'ERROR' WHERE FileName = @fileName AND FileStatus IN ('INPROCESS', 'NEW')
	END CATCH


	IF (@RecordCount > 0     AND     @fileName <> ''     AND     @fileId <> '' AND @Error = 0) 
    BEGIN 
      BEGIN try 
        WHILE (@RecordCount >= @validateCount ) 
        BEGIN 
          SET @validateCount = @validateCount + @BatchCount 

		if(@SysOrgID = 10)
		  BEGIN
			  Insert INTO   #tempupdateotb 
			  (	skey,
					fileId,
					fileName,
					ranking,
					AccountNumber,
					BSAcctID,
					ProductID,
					UniversalUniqueID,
					InstitutionID,
					IntradayThreshholdAmount,
					HeldDays_LessThanIntradayThreshhold,
					HeldDays_GreaterThanIntradayThreshhold,
					StartDate,
					Transactioncode,
					Status,
					ACHSucessfulPaymentThreshold)
			  SELECT TOP(@BatchCount) IT.skey ,
						 @fileId as [fileid],
						 @fileName as [filename] ,
						 rank() over (partition by IT.UniversalUniqueID,transactioncode order by IT.skey) as Ranking,
						 BP.AccountNumber,
						 BP.AcctID,
						 BP.Parent02AID,
						 IT.UniversalUniqueID,
							IT.InstitutionID,
							IntradayThreshholdAmount,
							HeldDays_LessThanIntradayThreshhold,
							HeldDays_GreaterThanIntradayThreshhold,
							case when (IT.startdate is not null and ltrim(rtrim(IT.startdate)) <> '') then  CAST(Try_convert(datetime,Stuff(Stuff(Stuff(Ltrim(Rtrim(IT.startdate)),13,0,':'),11,0,':'),9,0,' '),112 ) AS VARCHAR(20))  else null end ,
							Transactioncode,
							Status,
							ACHSucessfulPaymentThreshold
			  FROM   intradayaccountotbrule_external IT WITH(nolock)
			  LEFT JOIN BSEGMENT_PRIMARY BP WITH(nolock) ON(IT.UniversalUniqueID = BP.AccountNumber ) 
			  WHERE  status =0 


		END
		ELSE
		BEGIN
			  
			  if(@PolicyVersion  = 'G2' and  (@Identifier is null  or  @Identifier = 'ACCOUNTNUMBER' ) )
			  Begin 
			  
				  Insert INTO   #tempupdateotb 
				  (	skey,
					fileId,
					fileName,
					ranking,
					AccountNumber,
					BSAcctID,
					ProductID,
					UniversalUniqueID,
					InstitutionID,
					IntradayThreshholdAmount,
					HeldDays_LessThanIntradayThreshhold,
					HeldDays_GreaterThanIntradayThreshhold,
					StartDate,
					Transactioncode,
					Status,
					ACHSucessfulPaymentThreshold,
					NontrivialPaymentSizeThreshold1,
					NontrivialPaymentSizeThreshold2,
					BusinessDaysHeldifPaymentRiskLow,
					BusinessDaysHeldifPaymentRiskMedium,
					BusinessDaysHeldifPaymentRiskHigh,
					BusinessDaysHeldifPaymentRiskVeryHigh,
					IntradayPaymentThreshold1,
					IntradayPaymentThreshold2,
					IntradayPaymentThreshold3,
					IntradayPaymentThreshold4,
					IntradayAttemptedSpendThreshold1,
					IntradayAttemptedSpendThreshold2,
					RIPThreshold1,
					RiskScore,
					VIPFlag   ,
					TestFlag   ,
					PolicyVersion   ,
					PolicySubVersion,
					ModelScoreThreshold1,
					ModelScoreThreshold2,
					ModelScoreThreshold3,
					ModelScoreThreshold4,
					ModelScoreThreshold5)
				  SELECT TOP(@BatchCount) IT.skey ,
							 @fileId as [fileid],
							 @fileName as [filename] ,
							 rank() over (partition by IT.Acctnumber order by IT.skey) as Ranking,
							 IT.AcctNumber,
							 BP.AcctID,
							 BP.Parent02AID,
							 BP.UniversalUniqueID,
								BP.InstitutionID,
								null,
								null,
								null,
								case when (IT.DecisionFileTimeStamp is not null and ltrim(rtrim(IT.DecisionFileTimeStamp)) <> '') then  CAST(Try_convert(datetime,Stuff(Stuff(Stuff(Ltrim(Rtrim(IT.DecisionFileTimeStamp)),13,0,':'),11,0,':'),9,0,' '),112 ) AS VARCHAR(20))  else null end ,
								'0',
								Status,
								ACHBankAccountThreshold,
								NontrivialPaymentSizeThreshold1,
								NontrivialPaymentSizeThreshold2,
								BusinessDaysHeldifPaymentRiskLow,
								BusinessDaysHeldifPaymentRiskMedium,
								BusinessDaysHeldifPaymentRiskHigh,
								BusinessDaysHeldifPaymentRiskVeryHigh,
								IntradayPaymentThreshold1,
								IntradayPaymentThreshold2,
								IntradayPaymentThreshold3,
								IntradayPaymentThreshold4,
								IntradayAttemptedSpendThreshold1,
								IntradayAttemptedSpendThreshold2,
								RIPThreshold1,
								RiskScore,
								VIPFlag,
								TestFlag,
								PolicyVersion,
								PolicySubVersion,
								ModelScoreThreshold1,
								ModelScoreThreshold2,
								ModelScoreThreshold3,
								ModelScoreThreshold4,
								Case when (ModelScoreThreshold5 IS NOT NULL AND len(LTrim(RTRIM(ModelScoreThreshold5))) > 1) THEN CAST(Substring(ModelScoreThreshold5,1,len(ModelScoreThreshold5) - 1) AS DECIMAL(19, 7))  ELSE 0 END
								FROM   intradayaccountotbrule_external_g2 IT WITH(nolock)
								LEFT JOIN BSEGMENT_PRIMARY BP WITH(nolock) ON(IT.AcctNumber = BP.AccountNumber and IT.Institutionid = BP.Institutionid ) 
								WHERE  status =0 

			  End
			  Else if(@PolicyVersion  = 'G2' and  (@Identifier is null  or  @Identifier = 'UUID' ) )
			  Begin 
			  
				  Insert INTO   #tempupdateotb 
				  (	skey,
					fileId,
					fileName,
					ranking,
					AccountNumber,
					BSAcctID,
					ProductID,
					UniversalUniqueID,
					InstitutionID,
					IntradayThreshholdAmount,
					HeldDays_LessThanIntradayThreshhold,
					HeldDays_GreaterThanIntradayThreshhold,
					StartDate,
					Transactioncode,
					Status,
					ACHSucessfulPaymentThreshold,
					NontrivialPaymentSizeThreshold1,
					NontrivialPaymentSizeThreshold2,
					BusinessDaysHeldifPaymentRiskLow,
					BusinessDaysHeldifPaymentRiskMedium,
					BusinessDaysHeldifPaymentRiskHigh,
					BusinessDaysHeldifPaymentRiskVeryHigh,
					IntradayPaymentThreshold1,
					IntradayPaymentThreshold2,
					IntradayPaymentThreshold3,
					IntradayPaymentThreshold4,
					IntradayAttemptedSpendThreshold1,
					IntradayAttemptedSpendThreshold2,
					RIPThreshold1,
					RiskScore,
					VIPFlag,
					TestFlag,
					PolicyVersion,
					PolicySubVersion,
					ModelScoreThreshold1,
					ModelScoreThreshold2,
					ModelScoreThreshold3,
					ModelScoreThreshold4,
					ModelScoreThreshold5)
				  SELECT TOP(@BatchCount) IT.skey ,
							 @fileId as [fileid],
							 @fileName as [filename] ,
							 rank() over (partition by IT.Acctnumber order by IT.skey) as Ranking,
							 BP.AccountNumber,
							 BP.AcctID,
							 BP.Parent02AID,
							 IT.AcctNumber,
								BP.InstitutionID,
								null,
								null,
								null,
								case when (IT.DecisionFileTimeStamp is not null and ltrim(rtrim(IT.DecisionFileTimeStamp)) <> '') then  CAST(Try_convert(datetime,Stuff(Stuff(Stuff(Ltrim(Rtrim(IT.DecisionFileTimeStamp)),13,0,':'),11,0,':'),9,0,' '),112 ) AS VARCHAR(20))  else null end ,
								'0',
								Status,
								ACHBankAccountThreshold,
								NontrivialPaymentSizeThreshold1,
								NontrivialPaymentSizeThreshold2,
								BusinessDaysHeldifPaymentRiskLow,
								BusinessDaysHeldifPaymentRiskMedium,
								BusinessDaysHeldifPaymentRiskHigh,
								BusinessDaysHeldifPaymentRiskVeryHigh,
								IntradayPaymentThreshold1,
								IntradayPaymentThreshold2,
								IntradayPaymentThreshold3,
								IntradayPaymentThreshold4,
								IntradayAttemptedSpendThreshold1,
								IntradayAttemptedSpendThreshold2,
								RIPThreshold1,
								RiskScore,
								VIPFlag,
								TestFlag,
								PolicyVersion,
								PolicySubVersion,
								ModelScoreThreshold1,
								ModelScoreThreshold2,
								ModelScoreThreshold3,
								ModelScoreThreshold4,
								Case when (ModelScoreThreshold5 IS NOT NULL AND len(LTrim(RTRIM(ModelScoreThreshold5))) > 1) THEN CAST(Substring(ModelScoreThreshold5,1,len(ModelScoreThreshold5) - 1) AS DECIMAL(19, 7))  ELSE 0 END
								FROM   intradayaccountotbrule_external_g2 IT WITH(nolock)
								LEFT JOIN BSEGMENT_PRIMARY BP WITH(nolock) ON(IT.AcctNumber = BP.UniversalUniqueID and IT.Institutionid = BP.Institutionid) 
								WHERE  status =0 

			  End
			  ELse
			  Begin 
				  Insert INTO   #tempupdateotb 
				  (	skey,
					fileId,
					fileName,
					ranking,
					AccountNumber,
					BSAcctID,
					ProductID,
					UniversalUniqueID,
					InstitutionID,
					IntradayThreshholdAmount,
					HeldDays_LessThanIntradayThreshhold,
					HeldDays_GreaterThanIntradayThreshhold,
					StartDate,
					Transactioncode,
					Status,
					ACHSucessfulPaymentThreshold)
					SELECT TOP(@BatchCount) IT.skey ,
						 @fileId as [fileid],
						 @fileName as [filename] ,
						 rank() over (partition by IT.UniversalUniqueID,transactioncode order by IT.skey) as Ranking,
						 BP.AccountNumber,
						 BP.AcctID,
						 BP.Parent02AID,
						 IT.UniversalUniqueID,
							IT.InstitutionID,
							IntradayThreshholdAmount,
							HeldDays_LessThanIntradayThreshhold,
							HeldDays_GreaterThanIntradayThreshhold,
							case when (IT.startdate is not null and ltrim(rtrim(IT.startdate)) <> '') then  CAST(Try_convert(datetime,Stuff(Stuff(Stuff(Ltrim(Rtrim(IT.startdate)),13,0,':'),11,0,':'),9,0,' '),112 ) AS VARCHAR(20))  else null end ,
							Transactioncode,
							Status,
							ACHSucessfulPaymentThreshold
						  FROM   intradayaccountotbrule_external IT WITH(nolock)
						  LEFT JOIN BSEGMENT_PRIMARY BP WITH(nolock) ON(IT.UniversalUniqueID = BP.UniversalUniqueID ) 
						  WHERE  status =0 
			  END
		END



		

		--  UPDATE IT
		--SET status = -5 --Invalid StartDate
		--FROM   intradayaccountotbrule_external IT with(nolock)
		--	JOIN   #tempupdateotb TT 
		--	ON     ( IT.skey = TT.skey)  
		--where (Startdate is not null and ltrim(rtrim(IT.startdate)) <> ''
		--	AND TRY_CONVERT(datetime,Stuff(Stuff(Stuff(Ltrim(Rtrim(IT.StartDate)),13,0,':'),11,0,':'),9,0,' '),112 ) IS NULL)

		--set @ErrorCount =  @ErrorCount + @@rowcount
		  
		  

		   --UPDATE IT 
			  --SET IT.startdate = case when (IT.startdate is not null and ltrim(rtrim(IT.startdate)) <> '') then  CAST(Try_convert(datetime,Stuff(Stuff(Stuff(Ltrim(Rtrim(IT.startdate)),13,0,':'),11,0,':'),9,0,' '),112 ) AS VARCHAR(20))  else ('NoDatePassed') end ,
				 -- IT.Ranking = TT.Ranking, 
				 -- IT.Transactioncode =  REPLACE(REPLACE(IT.Transactioncode, CHAR(13), ''), CHAR(10), '')
				 -- FROM   intradayaccountotbrule_external IT 
				 -- JOIN   #tempupdateotb TT 
				 -- ON     (IT.skey = TT.skey)



			UPDATE  #tempupdateotb     set status  = -1 --Duplicate Entry
				where ranking > 1

				set @ErrorCount =  @ErrorCount + @@rowcount

			
			IF(@SysOrgID <> 10 and  @SysOrgID <> 51)
			BEGIN

				INSERT INTO #tempHoldpaymentdetails
				SELECT m.ActualTranCode,  l.parent02Aid as Institutionid
				FROM MonetaryTxnControl m WITH(NOLOCK) 
				JOIN HoldPayment h WITH(NOLOCK) 
				ON (h.PymtHoldTranCode = m.TransactionCode) 
				JOIN Logo_Primary l WITH(NOLOCK) 
				ON (h.ProductId = l.acctId) where h.Status =0



				UPDATE IT set IT.status  =-2 --Invalid Tran Code
				from   intradayaccountotbrule_external IT   with(nolock) 
				left  join #tempHoldpaymentdetails  H on   (IT.InstitutionId  = H.institutionid and  REPLACE(REPLACE(IT.Transactioncode, CHAR(13), ''), CHAR(10), '') = H.PymtHoldTranCode) 
				where H.PymtHoldTranCode is  null 

				set @ErrorCount =  @ErrorCount + @@rowcount

				TRUNCATE TABLE #tempHoldpaymentdetails
			END
		  --Blank Value Validation
		  if(@PolicyVersion  <> 'G2'   or  @PolicyVersion is null)
		  Begin 
          UPDATE TT 
			  SET    status = - 3 -- Error in Record 
			  FROM   #tempupdateotb TT
			  WHERE ( [UniversalUniqueID] IS NULL 
			  OR     Ltrim(Rtrim([UniversalUniqueID])) = '' 
			  OR    [InstitutionID] IS NULL 
			  OR    [InstitutionID] <= 0 
			  OR	IntradayThreshholdAmount < 0
			  --OR	HeldDays_LessThanIntradayThreshhold =0
			  --OR    HeldDays_GreaterThanIntradayThreshhold=0
			  OR     Transactioncode IS NULL 
			  OR     Ltrim(Rtrim(Transactioncode)) = '' )
			  and status >= 0		  
          
		  set @ErrorCount =  @ErrorCount + @@rowcount
		  End

		  IF(@SysOrgID = 10)
		  BEGIN

			  UPDATE IT 
			  SET    status = -4 --Invalid Account Number or Account Number does not exists or not matching institution id
			  FROM   intradayaccountotbrule_external IT 
				  JOIN   #tempupdateotb TT ON(IT.skey = TT.skey) 
				  LEFT OUTER JOIN Bsegment_Primary BP WITH(NOLOCK) 
				  ON (BP.AccountNumber = IT.UniversalUniqueID and bp.institutionid = IT.InstitutionId)
			  WHERE  TT.status = 0 AND BP.AccountNumber IS NULL


			  set @ErrorCount =  @ErrorCount + @@rowcount
		 END
		 ELSE
		 BEGIN

			if(@PolicyVersion  <> 'G2'   or  @PolicyVersion is null)
			Begin
			  UPDATE TT 
			  SET    status = -4 --Invalid Account Number or Account Number does not exists or not matching institution id
			  from  #tempupdateotb TT  LEFT OUTER JOIN Bsegment_Primary BP WITH(NOLOCK) 
				  ON (BP.UniversalUniqueID = TT.UniversalUniqueID and bp.institutionid = TT.InstitutionId)
			  WHERE  status = 0 AND BP.AccountNumber IS NULL
			END
			else  if (@PolicyVersion  = 'G2')
			Begin 
				UPDATE #tempupdateotb 
			  SET    status = -4    where  status = 0 AND BSAcctID is null

			END
		END

		  UPDATE IT 
          SET    status = 1 from  #tempupdateotb IT  WHERE  status =0 
		   
		   set @SuccessCount = @SuccessCount + @@rowcount


		   BEGIN TRANSACTION 

		   if(@PolicyVersion  <> 'G2'   or  @PolicyVersion is null)
		   Begin 
				UPDATE II 
					SET 			ArchieveStatus = 1 
					FROM intradayaccountotbrule_internal II 
						JOIN #tempupdateotb IT ON (II.UniversalUniqueID = IT.UniversalUniqueID and II.transactioncode  = IT.transactioncode  )
					WHERE IT.Status > 0
  
						set @ArchiveCount  = @ArchiveCount +@@rowcount
				

				  INSERT INTO intradayaccountotbrule_internal 
							  ( 
									accountnumber,
									UniversalUniqueID, 
									institutionid, 
									startdate, 
									intradaythreshholdamount, 
									helddays_lessthanintradaythreshhold, 
									helddays_greaterthanintradaythreshhold, 
									status, 
									processingtime,
									TransactionCode,
									FileID,
									FileName,
									AcctID,
									ProductID,
									ACHSucessfulPaymentThreshold,
									ModelScoreThreshold1,
									ModelScoreThreshold2,
									ModelScoreThreshold3,
									ModelScoreThreshold4,
									ModelScoreThreshold5
							  ) 
				  SELECT TT.ACCOUNTNUMBER,
						 UniversalUniqueID,
						 institutionid, 
						 case when (startdate is not null and ltrim(rtrim(startdate)) <> '' and ltrim(rtrim(startdate)) <> 'NoDatePassed')THEN Try_convert(datetime,startdate,112 ) else NULL END,
						 intradaythreshholdamount, 
						 helddays_lessthanintradaythreshhold, 
						 helddays_greaterthanintradaythreshhold, 
						 status, 
						 Getdate(),
						 TransactionCode,
						 TT.FileID,
						 TT.FileName,
						 TT.BsAcctID,
						 TT.ProductID,
						 ACHSucessfulPaymentThreshold,
						 ModelScoreThreshold1,
						ModelScoreThreshold2,
						ModelScoreThreshold3,
						ModelScoreThreshold4,
						ModelScoreThreshold5
				  FROM   #tempupdateotb TT WITH(nolock)  where status > 0
			  
  
				UPDATE II 
				SET ArchieveStatus = 1 
				FROM intradayaccountotbrule_internal II 
					JOIN #tempupdateotb IT ON (II.UniversalUniqueID = IT.UniversalUniqueID and II.transactioncode  = IT.transactioncode  )
				WHERE ArchieveStatus = 0   AND IT.StartDate is null
				
				
				set @ArchiveCount  = @ArchiveCount +@@rowcount 

				End

		if(@PolicyVersion  = 'G2'  )
		   Begin 
				UPDATE II 
					SET 			ArchieveStatus = 1 
					FROM intradayaccountotbrule_internal II 
						JOIN #tempupdateotb IT ON (II.UniversalUniqueID = IT.UniversalUniqueID )
					WHERE IT.Status > 0
  
						set @ArchiveCount  = @ArchiveCount +@@rowcount
				

				  INSERT INTO intradayaccountotbrule_internal 
							  ( 
									accountnumber,
									UniversalUniqueID, 
									institutionid, 
									startdate, 
									intradaythreshholdamount, 
									helddays_lessthanintradaythreshhold, 
									helddays_greaterthanintradaythreshhold, 
									status, 
									processingtime,
									TransactionCode,
									FileID,
									FileName,
									AcctID,
									ProductID,
									ACHSucessfulPaymentThreshold,
									NontrivialPaymentSizeThreshold1,
									NontrivialPaymentSizeThreshold2,
									BusinessDaysHeldifPaymentRiskLow,
									BusinessDaysHeldifPaymentRiskMedium,
									BusinessDaysHeldifPaymentRiskHigh,
									BusinessDaysHeldifPaymentRiskVeryHigh,
									IntradayPaymentThreshold1,
									IntradayPaymentThreshold2,
									IntradayPaymentThreshold3,
									IntradayPaymentThreshold4,
									IntradayAttemptedSpendThreshold1,
									IntradayAttemptedSpendThreshold2,
									RIPThreshold1,
									RiskScore,
									VIPFlag,
									TestFlag,
									PolicyVersion,
									PolicySubVersion,
									ArchieveStatus,
									ModelScoreThreshold1,
									ModelScoreThreshold2,
									ModelScoreThreshold3,
									ModelScoreThreshold4,
									ModelScoreThreshold5	
							  ) 
				  SELECT TT.ACCOUNTNUMBER,
						 UniversalUniqueID,
						 institutionid, 
						 case when (startdate is not null and ltrim(rtrim(startdate)) <> '' and ltrim(rtrim(startdate)) <> 'NoDatePassed')THEN Try_convert(datetime,startdate,112 ) else NULL END,
						 null, 
						 null, 
						 null, 
						 TT.status, 
						 Getdate(),
						 TransactionCode,
						 TT.FileID,
						 TT.FileName,
						 TT.BsAcctID,
						 TT.ProductID,
						 ACHSucessfulPaymentThreshold,
						NontrivialPaymentSizeThreshold1,
						NontrivialPaymentSizeThreshold2,
						BusinessDaysHeldifPaymentRiskLow,
						BusinessDaysHeldifPaymentRiskMedium,
						BusinessDaysHeldifPaymentRiskHigh,
						BusinessDaysHeldifPaymentRiskVeryHigh,
						IntradayPaymentThreshold1,
						IntradayPaymentThreshold2,
						IntradayPaymentThreshold3,
						IntradayPaymentThreshold4,
						IntradayAttemptedSpendThreshold1,
						IntradayAttemptedSpendThreshold2,
						RIPThreshold1,
						RiskScore,
						VIPFlag,
						TestFlag,
						PolicyVersion,
						PolicySubVersion,
						case when TT.status < 0  then 1   else 0 end,
						ModelScoreThreshold1,
						ModelScoreThreshold2,
						ModelScoreThreshold3,
						ModelScoreThreshold4,
						ModelScoreThreshold5
				  FROM   #tempupdateotb TT WITH(nolock)  --where status > 0
			  
  
				UPDATE II 
				SET ArchieveStatus = 1 
				FROM intradayaccountotbrule_internal II 
					JOIN #tempupdateotb IT ON (II.UniversalUniqueID = IT.UniversalUniqueID  )
				WHERE ArchieveStatus = 0   AND IT.StartDate is null
				
				
				set @ArchiveCount  = @ArchiveCount +@@rowcount 

				End


				UPDATE PaymentHoldFileProcessing 
				SET
					ProcessedRecords		= CASE WHEN @validateCount >= @RecordCount THEN @RecordCount ELSE @validateCount END,
					FinishTime					= CASE WHEN @validateCount >= @RecordCount THEN GETDATE() ELSE NULL END,
					FileStatus					= CASE WHEN @validateCount >= @RecordCount THEN 'DONE' ELSE 'INPROCESS' END
				WHERE FileName = @fileName AND FileStatus = 'INPROCESS'

			
				if(@PolicyVersion  = 'G2'  )
			   Begin 
					DELETE IT 
				FROM   intradayaccountotbrule_external_G2 IT 
				JOIN   #tempupdateotb TT 
				ON     (IT.skey = TT.skey)
			   ENd
			   ELse
			   Begin
					DELETE IT 
				FROM   intradayaccountotbrule_external IT 
				JOIN   #tempupdateotb TT 
				ON     (IT.skey = TT.skey)
			   END
			
			

			TRUNCATE TABLE #tempupdateotb
			
          COMMIT TRANSACTION 
        END 
			set @notprocessedCount = @RecordCount - @ErrorCount - @SuccessCount

      END try 
      BEGIN catch 
         ROLLBACK TRAN 
        SET @Error =1 
		UPDATE PaymentHoldFileProcessing SET FileStatus = 'ERROR' WHERE FileName = @fileName AND FileStatus IN ('INPROCESS', 'NEW')
      END catch 

    END 
    ELSE 
    BEGIN 
      SET @Error =4 
	  UPDATE PaymentHoldFileProcessing SET FileStatus = 'ERROR' WHERE FileName = @fileName AND FileStatus IN ('INPROCESS', 'NEW')
    END
	SELECT @Error AS fileerror ,@RecordCount as TotalCount,@SuccessCount as SuccessCount,@ErrorCount as ErrorCount,@ArchiveCount as ArchiveCount,@notprocessedCount as notprocessedCount
  end
