USE [CCGS_CoreIssue]
GO
/****** Object:  StoredProcedure [dbo].[USP_CreateNewSingleTransaction]    Script Date: 5/22/2024 2:38:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* **************************************************************************************************************
	Author		: Krunal Kumbhare
	Reviwer		: Rohit Soni
	Modified For: COOKIE-226320 
	Date Added	: 11/22/2023
	Version		: 24.2.1
******************************************************************************************************************** */

/*
	Author		: Krunal Kumbhare
	Modified For: COOKIE-227703, PLAT-82906
	Date Added	: 04/10/2023
	Version		: 23.2
	Description : Added Parameter  TNPTable so that transaction job can be created into new tnp queue commonAP or PendingTxnJob
*/
ALTER   PROCEDURE [dbo].[USP_CreateNewSingleTransaction]
(
    @AccountNumber VARCHAR(19) = NULL,
    @TxnSource VARCHAR(5) = NULL,
    @TranId DECIMAL(19, 0) = NULL,
    @TNPTable VARCHAR(30) = NULL /* PLAT-82906 */
)
AS
BEGIN
    SET NOCOUNT ON
    DECLARE @AccountNumberNew VARCHAR(20) = LTRIM(RTRIM(@AccountNumber))
    DECLARE @CountTran DECIMAL(19, 0) = 0

    /* PLAT-82906 START*/
    IF (
           @TNPTable = 'PendingTxnJob'
           OR @TNPTable = 'CommonAP'
           OR @TNPTable IS NULL
       )
    BEGIN
        PRINT 'INSERTING RECORDS'
    END
    ELSE
    BEGIN
        SELECT 'INVALID SELECTION OF TNP GROUP'
        RETURN
    END
    /* PLAT-82906 END*/

    SELECT @CountTran = COUNT(1)
    FROM CreateNewSingleTransactionData WITH (NOLOCK)
    WHERE TransactionStatus = 1
          AND (
                  AccountNumber = @AccountNumberNew
                  OR @AccountNumberNew IS NULL
              )
          AND (
                  TranId = @TranId
                  OR @TranId IS NULL
              )
          AND TranId > 0

    IF (@CountTran <= 0)
        SELECT 'RESULT - NO DATA'
    ELSE
    BEGIN
        BEGIN TRY
            BEGIN
                BEGIN TRANSACTION

                INSERT INTO CCard_Primary
                (
                    UniqueID,
                    TranId,
                    AccountNumber,
                    PrimaryAccountNumber,
                    PAN_Hash,
                    InstitutionID,
                    ProductId,
                    RetrievalReferenceNumber,
                    MessageTypeIdentifier,
                    CMTTRANTYPE,
                    TxnCode_Internal,
                    TranTime,
                    PostTime,
                    CardAcceptorIdCode,
                    CardAcceptorTerminalID,
                    TransactionAmount,
                    MerchantType,
                    TransactionDescription,
                    NetworkName,
                    IResponseCode,
                    CalcOTB,
                    TxnStatus,
                    PrimaryCurrencyCode,
                    StateStatus,
                    PostingFlag,
                    TxnSource,
                    ARTxnType,
                    TransactionCurrencyCode,
                    PostingRef,
                    CardNumber4Digits,
                    --TxnIsFor,
                    TxnAcctId,
                    PostingReason,
                    EmbAcctID,
                    ATID,
                    priority,
                    TransmissionDateTime,
                    AuthTranId,
                    creditplanmaster,
                    RevTgt,
                    TotalRewardPoints,
                    ClientId,
                    MethodName,
                    MemoIndicator,
                    RMATranUUID,
                    MergeActivityFlag, --CARDS-55547/COOKIE-202304
                    PODID,             --CARDS-55547/COOKIE-202304
                    CustomerId,        --CARDS-55547/COOKIE-202304
                    CPMgroup,          -- COOKIE-226320 
                    FeesAcctID,        -- COOKIE-226320 
                    TxnIsFor           -- COOKIE-226320 
                )
                SELECT TranId,
                       TranId,
                       AccountNumber,
                       PrimaryAccountNumber,
                       PAN_Hash,
                       insitutionid,
                       ProductId,
                       NULL,
                       NULL,
                       CMTTRANTYPE,
                       TxnCode_Internal,
                       TranTime,
                       PostTime,
                       CardAcceptorIdCode,
                       NULL,
                       TransactionAmount,
                       NULL,
                       TransactionDescription,
                       NetworkName,
                       NULL,
                       NULL,
                       NULL,
                       PrimaryCurrencyCode,
                       NULL,
                       PostingFlag,
                       ISNULL(@TxnSource, TxnSource),
                       ARTxnType,
                       '840',
                       PostingRef,
                       cardLastFourdegits,
                       --0,
                       TxnAcctId,
                       PostingReason,
                       EmbAcctID,
                       ATID,
                       Tranpriority,--posttime,--PLAT-64773  
                       TransmissionDateTime, --PLAT-64773  
                       TranId,
                       creditplanmaster,
                       RevTgt,
                       TotalRewardPoints,
                       ClientId,
                       MethodName,
                       MemoIndicator,
                       RMATranUUID,
                       MergeActivityFlag,
                       PODID,
                       CustomerId,
                       CPMgroup,                        -- COOKIE-226320
                       FeesAcctID,						-- COOKIE-226320	
                       CASE								-- COOKIE-226320
                           WHEN TxnIsFor IS NULL THEN
                               '0'
                           ELSE
                               TxnIsFor
                       END
                FROM CreateNewSingleTransactionData WITH (NOLOCK)
                WHERE TransactionStatus = 1
                      AND (
                              AccountNumber = @AccountNumberNew
                              OR @AccountNumberNew IS NULL
                          )
                      AND (
                              TranId = @TranId
                              OR @TranId IS NULL
                          )

                INSERT INTO CCard_Secondary
                (
                    TranId,
                    FileName,
                    EntryReason,
                    ICCSysRelatedData,        -- COOKIE-226320
                    Amount16                  -- COOKIE-226320
                )
                SELECT TranId,
                       FileName,
                       EntryReason,
                       ICCSysRelatedData,     -- COOKIE-226320
                       Amount16               -- COOKIE-226320
                FROM CreateNewSingleTransactionData WITH (NOLOCK)
                WHERE TransactionStatus = 1
                      AND (
                              AccountNumber = @AccountNumberNew
                              OR @AccountNumberNew IS NULL
                          )
                      AND (
                              TranId = @TranId
                              OR @TranId IS NULL
                          )

                /* PLAT-82906 START */
                IF (@TNPTable = 'PendingTxnJob')
                BEGIN
                    INSERT INTO PendingTxnJob
                    (
                        tnpdate,
                        priority,
                        trantime,
                        tranid,
                        atid,
                        acctId,
                        ttid,
                        NADandROOFlag,
                        GetAllTNPJobsFlag,
                        Retries,
                        InstitutionID
                    )
                    SELECT posttime,
                           Tranpriority,
                           posttime,
                           tranid,
                           atid,
                           TxnAcctid,
                           0,
                           0,
                           0,
                           0,
                           insitutionid
                    FROM CreateNewSingleTransactionData WITH (NOLOCK)
                    WHERE TransactionStatus = 1
                          AND (
                                  accountnumber = @AccountNumberNew
                                  OR @AccountNumberNew IS NULL
                              )
                          AND (
                                  tranid = @TranId
                                  OR @TranId IS NULL
                              )
                END
                ELSE IF (@TNPTable = 'CommonAP')
                BEGIN
                    INSERT INTO CommonAP
                    (
                        tnpdate,
                        priority,
                        TranTime,
                        TranId,
                        ATID,
                        acctId,
                        ttid,
                        NADandROOFlag,
                        GetAllTNPJobsFlag,
                        Retries,
                        InstitutionID
                    )
                    SELECT PostTime,
                           Tranpriority,
                           PostTime,
                           TranId,
                           ATID,
                           TxnAcctId,
                           0,
                           0,
                           0,
                           0,
                           insitutionid
                    FROM CreateNewSingleTransactionData WITH (NOLOCK)
                    WHERE TransactionStatus = 1
                          AND (
                                  AccountNumber = @AccountNumberNew
                                  OR @AccountNumberNew IS NULL
                              )
                          AND (
                                  TranId = @TranId
                                  OR @TranId IS NULL
                              )
                END
                ELSE /* PLAT-82906 END*/
                BEGIN
                    INSERT INTO CommonTNP
                    (
                        tnpdate,
                        priority,
                        TranTime,
                        TranId,
                        ATID,
                        acctId,
                        ttid,
                        NADandROOFlag,
                        GetAllTNPJobsFlag,
                        Retries,
                        InstitutionID
                    )
                    SELECT PostTime,
                           Tranpriority,
                           PostTime,
                           TranId,
                           ATID,
                           TxnAcctId,
                           0,
                           0,
                           0,
                           0,
                           insitutionid
                    FROM CreateNewSingleTransactionData WITH (NOLOCK)
                    WHERE TransactionStatus = 1
                          AND (
                                  AccountNumber = @AccountNumberNew
                                  OR @AccountNumberNew IS NULL
                              )
                          AND (
                                  TranId = @TranId
                                  OR @TranId IS NULL
                              )
                END
                UPDATE CreateNewSingleTransactionData
                SET TransactionStatus = 2
                WHERE TransactionStatus = 1
                      AND (
                              AccountNumber = @AccountNumberNew
                              OR @AccountNumberNew IS NULL
                          )
                      AND (
                              TranId = @TranId
                              OR @TranId IS NULL
                          )

                SELECT 'RESULT - ' + TRY_CAST(@@rowcount AS VARCHAR) + ' - TRANSACTION CREATION SUCCESSFUL' [OUTPUT]

                COMMIT TRANSACTION
            END
        END TRY
        BEGIN CATCH
            SELECT 'RESULT - ' + 'ERROR LINE ( ' + CAST(ERROR_LINE() AS VARCHAR(50)) + ' ) DESCRIPTION : ' + ERROR_MESSAGE() [OUTPUT]

            ROLLBACK TRANSACTION
        END CATCH
    END
END