SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*  
Modified By  = Vandana Pawar
Reviewer     = Rohit Soni
Modify		 = PLAT-191199 
Description  = Made changes in SP related to return AmountOfCreditsCTD 
*/
/*
Modified By  = Pratiksha Dalavi
Reviewer     = Sunil Rathore
Modify		 = PLAT-40806
Description  = Made changes in SP related to CurrentBalance calculation 
			  added code related to AmountOfTotalDue,AmtOfPayCurrDue
*/
/**************************************************************************
	Changes by	: Ashish Jayswal
	Changes on	: 08/01/2021
	Changes For	: CT#55266
	Description	: Issue || Due to Multiple Aging at a time (more then 1 Statement) through Aging Api,Interest was Waived for aged Accounts.
	Review by   : Sunil Rathor
****************************************************************************/


/*	Modified By : sonam Gupta
Reviewer name : Sunil Rathore
TD# 245877
*/
CREATE OR ALTER PROCEDURE [pr_GetBeginningBalanceForInterest_PS]  
@CPSegmentAID INT,
@LastStatementDate datetime,
@IntGraceDecOn VARCHAR(1)=NULL,
@BSAcctid INT=NULL
AS
/*
	Modified By : Sunil Rathor.
	Purpose : CT#40074 : Return MSB of account instead of Plan SRB. 
*/
BEGIN
	SET NOCOUNT ON
	SET ANSI_NULLS ON
	SET QUOTED_IDENTIFIER ON



	IF(@IntGraceDecOn IS NULL OR ( @IntGraceDecOn !='5' AND @IntGraceDecOn !='6'))
	BEGIN

		SELECT (SH.CurrentBalance + ISNULL(SHCC.currentbalanceco,0.00)) - ISNULL(CSH.CurrentBalance,0.00) CurrentBalance,
		SH.acctId, ISNULL(CSH.AmountOfCreditsCTD,0.00) as AmountOfCreditsCTD --PLAT-191199
		FROM SummaryHeader SH WITH (NOLOCK) 
		JOIN SummaryHeaderCreditCard SHCC WITH (NOLOCK) ON (SH.acctId = SHCC.acctId AND SH.StatementID = SHCC.StatementID)
		JOIN CurrentSummaryHeader CSH WITH (NOLOCK) ON (SH.acctId = CSH.acctId AND SH.StatementID = CSH.StatementID )
		WHERE SH.acctId = @CPSegmentAID AND SH.StatementDate = @LastStatementDate
	END
	ELSE IF(@IntGraceDecOn ='5' OR @IntGraceDecOn ='6')
	BEGIN
				
		DECLARE @TempStmtTable TABLE
		(
			AcctId INT,
			StatementDate DATETIME,
			StatementRemainingBalance MONEY,
			SRBWithInstallmentDue MONEY,
			BalanceSubjectToGrace VARCHAR(5),
			AmountOfTotalDue MONEY, --PLAT-40806
			AmtOfPayCurrDue MONEY, --PLAT-40806  
			AmountOfCreditsCTD  MONEY --PLAT-191199
		)  

		INSERT INTO @TempStmtTable (AcctId,StatementDate,StatementRemainingBalance,SRBWithInstallmentDue,BalanceSubjectToGrace,AmountOfTotalDue,AmtOfPayCurrDue,AmountOfCreditsCTD)
		SELECT
		SH.acctId,SH.StatementDate,(ISNULL(SH.CurrentBalance,0.00) + ISNULL(CS.currentbalanceco,0.00)) - ISNULL(CSH.CurrentBalance,0.00),
		ISNULL(CS.SRBWithInstallmentDue,0.00),CPM.BalanceSubjectToGrace,CPS.AmountOfTotalDue,CPS.AmtOfPayCurrDue --PLAT-40806
		, ISNULL(CSH.AmountOfCreditsCTD,0.00) as AmountOfCreditsCTD --PLAT-191199
		FROM SummaryHeader SH WITH(NOLOCK)
		JOIN SummaryHeaderCreditCard CS WITH(NOLOCK) ON (SH.ACCTID = CS.acctId AND SH.StatementID = CS.StatementID)
		JOIN CurrentSummaryHeader CSH WITH(NOLOCK) ON (SH.ACCTID = CSH.ACCTID AND SH.StatementDate = CSH.StatementDate)
		JOIN CPMAccounts CPM WITH(NOLOCK) ON (SH.parent01AID = CPM.acctId)
		JOIN CPSgmentCreditCard CPS WITH(NOLOCK) ON (SH.acctId = CPS.acctId) --PLAT-40806
		WHERE SH.parent02AID = @BSAcctid AND SH.StatementDate = @LastStatementDate

		IF @@ROWCOUNT = 0
		BEGIN			
			SELECT StatementRemainingBalance AS CurrentBalance, AcctId,AmountOfCreditsCTD FROM @TempStmtTable
		END
		ELSE
		BEGIN

			;WITH CTE AS
			(
				/*SELECT SUM(CASE WHEN BalanceSubjectToGrace = '2' AND StatementRemainingBalance > SRBWithInstallmentDue 
					THEN SRBWithInstallmentDue ELSE StatementRemainingBalance END)
					AS CurrentBalance FROM @TempStmtTable */
					SELECT CASE WHEN  StatementRemainingBalance > SRBWithInstallmentDue   
						THEN CASE WHEN SRBWithInstallmentDue = 0 THEN (AmountOfTotalDue - AmtOfPayCurrDue) ELSE SRBWithInstallmentDue END ELSE CASE WHEN StatementRemainingBalance > 0 THEN StatementRemainingBalance ELSE 0 END --PLAT-40806
						END   AS CurrentBalance,AmountOfCreditsCTD 
				FROM @TempStmtTable  where BalanceSubjectToGrace = '2' 
				UNION ALL 
				SELECT CASE WHEN SUM(  StatementRemainingBalance ) > 0 
				THEN SUM(StatementRemainingBalance) 
				ELSE 0 END AS CurrentBalance,
				sum(AmountOfCreditsCTD) as AmountOfCreditsCTD 
				FROM @TempStmtTable  where BalanceSubjectToGrace != '2' 
			)	
			SELECT SUM(CurrentBalance) CurrentBalance,@CPSegmentAID AS AcctId,sum(AmountOfCreditsCTD) FROM CTE		
		END	
	END

END






