/****** Object:  StoredProcedure [dbo].[Sp_UpdateCSummaryHeader_BB_CB]    Script Date: 29-07-2024 20:26:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*  
Modified By  = Vandana Pawar
Reviewer     = Rohit Soni
Modify		 = PLAT-191199 
Description  = Made changes in SP related to return AmountOfCreditsCTD 
*/  
CREATE  OR ALTER PROCEDURE Sp_UpdateCSummaryHeader_BB_CB  
@StatementID decimal(19,0),   --PLAT-58753 
@Acctid int,    
@CurrentBalance money,    
@BeginningBalance money,  
@Principal money,  
@latefeesbnp money,  
@NSFFeesBilledNotPaid money,   
@insurancefeesbnp money,   
@servicefeesbnp money,  
@MembershipFeesBNP money,  
@recoveryfeesbnp money,  
@collectionfeesbnp money,  
@overlimitbnp money,
@IntBilledNotPaid money,
@PurchaseReversalFlag tinyint,
@CurrentDue money,
@AmtOfPayXDLate money,
@AmountOfPayment30DLate money,
@AmountOfPayment60DLate money,
@AmountOfPayment90DLate money,
@AmountOfPayment120DLate money,
@AmountOfPayment150DLate money,
@AmountOfPayment180DLate money,
@AmountOfPayment210DLate money,
@AmountOfTotalDue money,
@GraceDaysStatus varchar(2),
@AccountGraceStatus varchar(2),
@HoldNewTxn money,
@ChargedNewTxn money,
@HoldRevolving money,
@ChargedRevolving money,
@NewTxnAgg money,
@RevolvingAgg money,
@TrailingInterestDate DATETIME,
@AdjMSBCTDINMergeCycle INT = 0,
@SourceMSB MONEY = 0.00,
@AmtOfCrAdjMSBCTD MONEY= 0.00,
@AccountID INT,
@IN_StatementDate DATETIME,
@RowChangedDate DATETIME, /* PLAT-35628 */
@AmountOfCreditsCTD money /*PLAT-191199*/
AS    
SET NOCOUNT ON    
BEGIN    
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE   
	
	 Declare @StatementDateIn Datetime
	 set   @StatementDateIn = @IN_StatementDate

	IF(@AdjMSBCTDINMergeCycle = 1) --Merge Cycle New parameter Update 
	BEGIN
		DECLARE @AmtOfCrAdjMSBCTDDiff MONEY=0.00,
				@BeginningBalanceDiff MONEY = 0.00,
				@TransactionAmt MONEY = 0.00,
				@StatementDate DATETIME

		IF(@BeginningBalance<0)
			SET @TransactionAmt = (0-@BeginningBalance)	
		
		IF NOT EXISTS (SELECT TOP 1 1 FROM SummaryHeader WITH(NOLOCK) WHERE StatementID = @StatementID and acctId = @Acctid and Creditplantype in('16') and statementdate = @StatementDateIn)
		BEGIN
			SELECT @BeginningBalanceDiff = sum(CASE WHEN SH.creditplantype = '16' THEN 0 
													ELSE (SH.BeginningBalance - isnull(CSH.BeginningBalance,0.00)) END)
					,@StatementDate = max(SH.StatementDate)
				FROM SummaryHeader SH WITH(NOLOCK) 
					LEFT JOIN CurrentsummaryHeader CSH WITH(NOLOCK) on(SH.acctid=CSH.acctid)
				WHERE Parent02aid=@AccountID and SH.StatementID = @StatementID and SH.statementdate = @StatementDateIn

			IF(@AmtOfCrAdjMSBCTD>0)
			BEGIN
				SET @AmtOfCrAdjMSBCTDDiff = @TransactionAmt 
			END
			ELSE
			BEGIN
				print(@BeginningBalanceDiff)
				IF(@SourceMSB < (@BeginningBalanceDiff + @TransactionAmt))
				BEGIN
					SET @AmtOfCrAdjMSBCTDDiff = @SourceMSB - @BeginningBalanceDiff 
				END
				ELSE
				BEGIN
					SET @AmtOfCrAdjMSBCTDDiff = @TransactionAmt
				END
			END
			IF (@AmtOfCrAdjMSBCTDDiff > 0)
			BEGIN
				UPDATE CurrentStatementHeader SET AmtOfCrAdjMSBCTD = ISNULL(AmtOfCrAdjMSBCTD,0.00) + ISNULL(@AmtOfCrAdjMSBCTDDiff,0.00), RowChangedDate = @RowChangedDate 
				WHERE acctId = @AccountID AND StatementDate = @StatementDate				
			END
		END
	END


	Update currentsummaryheader 
	set CurrentBalance = isnull(CurrentBalance,0) + @CurrentBalance,    
		BeginningBalance = isnull(BeginningBalance,0) + @BeginningBalance,  
		Principal = isnull(Principal,0) + @Principal,  
		latefeesbnp = isnull(latefeesbnp,0) + @latefeesbnp,  
		NSFFeesBilledNotPaid = isnull(NSFFeesBilledNotPaid,0) + @NSFFeesBilledNotPaid,  
		insurancefeesbnp = isnull(insurancefeesbnp,0) + @insurancefeesbnp,  
		servicefeesbnp = isnull(servicefeesbnp,0) + @servicefeesbnp,  
		MembershipFeesBNP = isnull(MembershipFeesBNP,0) + @MembershipFeesBNP,  
		recoveryfeesbnp = isnull(recoveryfeesbnp,0) + @recoveryfeesbnp,  
		collectionfeesbnp = isnull(collectionfeesbnp,0) + @collectionfeesbnp,  
		overlimitbnp = isnull(overlimitbnp,0) + @overlimitbnp,
		IntBilledNotPaid = isnull(IntBilledNotPaid,0) + @IntBilledNotPaid,
		PurchaseReversalFlag = CASE WHEN @PurchaseReversalFlag IS NOT NULL THEN @PurchaseReversalFlag ELSE PurchaseReversalFlag END,
		CurrentDue = CASE WHEN @CurrentDue IS NOT NULL AND @CurrentDue >= 0 THEN @CurrentDue ELSE CurrentDue END,
		AmtOfPayXDLate = CASE WHEN @AmtOfPayXDLate IS NOT NULL AND @AmtOfPayXDLate >= 0 THEN @AmtOfPayXDLate ELSE AmtOfPayXDLate END,
		AmountOfPayment30DLate = CASE WHEN @AmountOfPayment30DLate IS NOT NULL AND @AmountOfPayment30DLate >= 0 THEN @AmountOfPayment30DLate ELSE AmountOfPayment30DLate END,
		AmountOfPayment60DLate =  CASE WHEN @AmountOfPayment60DLate IS NOT NULL AND @AmountOfPayment60DLate >= 0 THEN @AmountOfPayment60DLate ELSE AmountOfPayment60DLate END,
		AmountOfPayment90DLate =  CASE WHEN @AmountOfPayment90DLate IS NOT NULL AND @AmountOfPayment90DLate >= 0THEN @AmountOfPayment90DLate ELSE AmountOfPayment90DLate END,
		AmountOfPayment120DLate =  CASE WHEN @AmountOfPayment120DLate IS NOT NULL AND @AmountOfPayment120DLate >= 0THEN @AmountOfPayment120DLate ELSE AmountOfPayment120DLate END,
		AmountOfPayment150DLate =  CASE WHEN @AmountOfPayment150DLate IS NOT NULL AND @AmountOfPayment150DLate>= 0 THEN @AmountOfPayment150DLate ELSE AmountOfPayment150DLate END,
		AmountOfPayment180DLate =  CASE WHEN @AmountOfPayment180DLate IS NOT NULL AND @AmountOfPayment180DLate >= 0 THEN @AmountOfPayment180DLate ELSE AmountOfPayment180DLate END,
		AmountOfPayment210DLate =  CASE WHEN @AmountOfPayment210DLate IS NOT NULL AND @AmountOfPayment210DLate >= 0 THEN @AmountOfPayment210DLate ELSE AmountOfPayment210DLate END,
		AmountOfTotalDue =  CASE WHEN @AmountOfTotalDue IS NOT NULL AND @AmountOfTotalDue >= 0 THEN @AmountOfTotalDue ELSE AmountOfTotalDue END,
		GraceDaysStatus = CASE WHEN @GraceDaysStatus IS NOT NULL AND @GraceDaysStatus != '' THEN @GraceDaysStatus ELSE GraceDaysStatus END,
		AccountGraceStatus = CASE WHEN @AccountGraceStatus IS NOT NULL AND @AccountGraceStatus != '' THEN @AccountGraceStatus ELSE AccountGraceStatus END,
		HoldNewTxnInterest = CASE WHEN @HoldNewTxn < 0 OR @HoldNewTxn IS NULL THEN HoldNewTxnInterest ELSE @HoldNewTxn END,
		ChargedNewTxnInterest = CASE WHEN @ChargedNewTxn < 0 OR @ChargedNewTxn IS NULL THEN ChargedNewTxnInterest ELSE @ChargedNewTxn END,
		HoldWaivedInterest = CASE WHEN @HoldRevolving < 0 OR @HoldRevolving IS NULL THEN HoldWaivedInterest ELSE @HoldRevolving END,
		ChargedInterestRevolving = CASE WHEN @ChargedRevolving < 0 OR @ChargedRevolving IS NULL THEN ChargedInterestRevolving ELSE @ChargedRevolving END, 
		NewTransactionsAgg = ISNULL(NewTransactionsAgg,0) + ISNULL(@NewTxnAgg,0),
		RevolvingAgg = ISNULL(RevolvingAgg,0) + ISNULL(@RevolvingAgg,0),
		TrailingInterestDate = ISNULL(@TrailingInterestDate,TrailingInterestDate),
		RowChangedDate = @RowChangedDate, /* PLAT-35628 */ 
		AmountOfCreditsCTD = isnull(AmountOfCreditsCTD,0)  + ISNULL(@AmountOfCreditsCTD,0) /*PLAT-191199*/
	where StatementID = @StatementID and acctId = @Acctid and StatementDate = @StatementDateIn -- Added STatementDate Due to Partition of Table on basis of StatementDate	 
END 
