DECLARE
	@AccountID INT,
	@AccountNumber VARCHAR(19), 
	@CurrentBalance MONEY, 
	@AmtOfAcctHighBal MONEY,
	@TransactionAmount MONEY,
	@AccountCreationTime DATETIME,
	@CBRBreakPoint1 DATETIME,
	@CBRBreakPoint2 DATETIME,
	@CBRBreakPoint3 DATETIME,
	@CBRBreakPoint4 DATETIME,
	@CBRAmountOfCurrentBalance MONEY,
	@CBRAmountOfCurrentBalanceBP1 MONEY,
	@CBRAmountOfCurrentBalanceBP2 MONEY,
	@CBRAmountOfCurrentBalanceBP3 MONEY,
	@CBRAmountOfCurrentBalanceBP4 MONEY,
	@CBRAmountOfHighBalance MONEY,
	@CBRAmountOfHighBalanceBP1 MONEY,
	@CBRAmountOfHighBalanceBP2 MONEY,
	@CBRAmountOfHighBalanceBP3 MONEY,
	@CBRAmountOfHighBalanceBP4 MONEY,
	@TranTime DATETIME,
	@PostTime DATETIME,
	@TranID DECIMAL(19, 0),--Plat-103940
	@RevTgt DECIMAL(19, 0),--Plat-103940
	@TranType VARCHAR(8), --Plat-103940 
	@LastStatementDate DATETIME, -- Plat-114725
	@Acquisitiondate DATETIME,   --PLAT-125633
	@CBRLastCalculatedDate DATETIME , --PLAT-214247
	@CCRBuffer1 VARCHAR(MAX)

	DECLARE @BatchCount INT = 500
	DECLARE @LoopCount INT = 0

	DECLARE @acctID INT 



	WHILE((SELECT COUNT(1) FROM ##CBRAccounts WHERE JobStatus = 0) > 0 AND @LoopCount < @BatchCount)
	BEGIN
		WHILE(@LoopCount < @BatchCount)
		BEGIN
			SET @LoopCount = @LoopCount + 1
			
			SET @acctID = 0
			SELECT TOP(1) @acctID = acctID FROM ##CBRAccounts WHERE JobStatus = 0

			IF(@acctID IS NULL OR @acctID = 0)
			BEGIN
				SELECT 'ALL JOBS PROCESSED, BREAKING'
				BREAK;
			END

			SELECT 
				@AccountId = BP.AcctID, @AccountNumber = AccountNumber, @AccountCreationTime = DateAcctOpened, @Acquisitiondate = Acquisitiondate,
				@CBRAmountOfHighBalance = 0, @CBRAmountOfCurrentBalance = 0, @LastStatementDate = LastStatementDate
			FROM BSegment_primary BP WITH (NOLOCK)
			JOIN BSegmentCreditCard BC WITH (NOLOCK) ON (BP.acctID = BC.acctID)
			WHERE BP.acctID = @acctID

			DECLARE
				@CMTTranType VARCHAR(10), 
				@RowCounter INT = 0,
				@ProcessTime DATETIME,
				@Year VARCHAR(10), 
				@Month VARCHAR(15), 
				@Day VARCHAR(5), 
				@Time VARCHAR(15),
				@ValidationPointTime DATETIME,
				@CBRAmountOfHighBalance_STMT MONEY,
				@CBRAmountOfCurrentBalance_STMT MONEY,
				@SCRAAppliedDate DATETIME

		  --START PLAT-91601
			SET @ValidationPointTime = @PostTime
			SET @CBRAmountOfCurrentBalanceBP1 = ISNULL(@CBRAmountOfCurrentBalanceBP1, 0)
			SET @CBRAmountOfCurrentBalanceBP2 = ISNULL(@CBRAmountOfCurrentBalanceBP2, 0)
			SET @CBRAmountOfCurrentBalanceBP3 = ISNULL(@CBRAmountOfCurrentBalanceBP3, 0)
			SET @CBRAmountOfCurrentBalanceBP4 = ISNULL(@CBRAmountOfCurrentBalanceBP4, 0)

		  --END PLAT-91601

			--SET @TranTime = dbo.PR_ISOGetBusinessTime()

			----Logic for calculating break points

			IF(@CBRBreakPoint1 IS NULL AND @CBRBreakPoint2 IS NULL AND @CBRBreakPoint3 IS NULL AND @CBRBreakPoint4 IS NULL)
			BEGIN
				SET @Year = TRY_CAST(YEAR(@ValidationPointTime) AS VARCHAR)
				SET @Month = TRY_CAST((DATEPART(QUARTER,@ValidationPointTime)-1)*3 AS VARCHAR)
				SET @Day = TRY_CAST(DAY(EOMONTH(TRY_CAST(@Year+'-'+TRY_CAST(TRY_CAST(@Month AS INT) AS VARCHAR)+'-1' AS DATETIME))) AS VARCHAR)
				SET @Time = '23:59:57'

				IF(@Month = 0)
				BEGIN
					SET @Month = 12
					SET @Year = @Year - 1
					SET @Day = TRY_CAST(DAY(EOMONTH(TRY_CAST(@Year+'-'+TRY_CAST(@Month AS VARCHAR)+'-1' AS DATETIME))) AS VARCHAR)
				END

				SET @CBRBreakPoint1 = DATEADD(SECOND, 86397, TRY_CAST(EOMONTH(TRY_CAST(@Year+'-'+@Month+'-'+@Day AS DATETIME)) AS DATETIME))
				SET @CBRBreakPoint2 = DATEADD(SECOND, 86397, TRY_CAST(EOMONTH(DATEADD(MONTH, -3, @CBRBreakPoint1)) AS DATETIME))
				SET @CBRBreakPoint3 = DATEADD(SECOND, 86397, TRY_CAST(EOMONTH(DATEADD(MONTH, -3, @CBRBreakPoint2)) AS DATETIME))
				SET @CBRBreakPoint4 = DATEADD(SECOND, 86397, TRY_CAST(EOMONTH(DATEADD(MONTH, -3, @CBRBreakPoint3)) AS DATETIME))
			END


			IF(@CBRBreakPoint1 IS NOT NULL AND @TranTime > @CBRBreakPoint1 AND @CBRAmountOfHighBalanceBP1 > 0)
			BEGIN
				SET @CBRAmountOfCurrentBalance = @CBRAmountOfCurrentBalanceBP1
				SET @CBRAmountOfHighBalance = @CBRAmountOfHighBalanceBP1
				SET @ProcessTime = @CBRBreakPoint1
			END
			ELSE IF(@CBRBreakPoint2 IS NOT NULL AND @TranTime > @CBRBreakPoint2 AND @CBRAmountOfHighBalanceBP2 > 0)
			BEGIN
				SET @CBRAmountOfCurrentBalance = @CBRAmountOfCurrentBalanceBP2
				SET @CBRAmountOfHighBalance = @CBRAmountOfHighBalanceBP2
				SET @ProcessTime = @CBRBreakPoint2
			END
			ELSE IF(@CBRBreakPoint3 IS NOT NULL AND @TranTime > @CBRBreakPoint3 AND @CBRAmountOfHighBalanceBP3 > 0)
			BEGIN
				SET @CBRAmountOfCurrentBalance = @CBRAmountOfCurrentBalanceBP3
				SET @CBRAmountOfHighBalance = @CBRAmountOfHighBalanceBP3
				SET @ProcessTime = @CBRBreakPoint3
			END
			ELSE IF(@CBRBreakPoint4 IS NOT NULL AND @TranTime > @CBRBreakPoint4 AND @CBRAmountOfHighBalanceBP4 > 0)
			BEGIN
				SET @CBRAmountOfCurrentBalance = @CBRAmountOfCurrentBalanceBP4
				SET @CBRAmountOfHighBalance = @CBRAmountOfHighBalanceBP4
				SET @ProcessTime = @CBRBreakPoint4
			END
			ELSE
			BEGIN
				SET @CBRAmountOfCurrentBalance = 0
				SET @CBRAmountOfHighBalance = 0
				SET @ProcessTime = @AccountCreationTime
			END

	
			SELECT @SCRAAppliedDate = MAX(PostTime)
			FROM CCard_Primary WITH (NOLOCK)
			WHERE AccountNumber = @AccountNumber
			AND CMTTRANTYPE IN ('ADDSCRA', 'ADDBK', 'ECD')

			IF(@SCRAAppliedDate IS NOT NULL AND @SCRAAppliedDate > @CBRLastCalculatedDate)
			BEGIN
				SET @CBRAmountOfCurrentBalance = 0
				SET @CBRAmountOfHighBalance = 0
				SET @ProcessTime = @AccountCreationTime
			END
	

			IF(@Acquisitiondate IS NOT NULL AND @Acquisitiondate > @ProcessTime)
			BEGIN
				SELECT TOP 1
				@CBRAmountOfCurrentBalance = SH.CurrentBalance + SH.CurrentBalanceCO - CSH.CurrentBalance,
				@CBRAmountOfHighBalance = AmtOfAcctHighBalLTD,
				@ProcessTime = SH.StatementDate
				FROM StatementHeader SH WITH(NOLOCK)
				JOIN CurrentStatementHeader CSH WITH (NOLOCK) ON (SH.acctID = CSH.acctID AND SH.StatementDate = CSH.StatementDate)
				WHERE SH.Acctid = @AccountID
				AND SH.StatementDate > @Acquisitiondate
			END
			--DECLARE @Plans TABLE (PlanID INT)

			DROP TABLE IF EXISTS #CCRBuffer
			CREATE TABLE #CCRBuffer(AccountNumber VARCHAR(19), parent02AID INT, PlanID INT, StatementDate DATETIME, InterestCredits MONEY)

			IF(@CCRBuffer1 IS NOT NULL AND @CCRBuffer1 <> '')
			BEGIN
				;WITH XMLData AS (
				SELECT CAST('<r>' + REPLACE(@CCRBuffer1, '|', '</r><r>') + '</r>' AS XML) AS DataXML
				)
				INSERT INTO #CCRBuffer (PlanID, StatementDate, InterestCredits)
				SELECT 
					TRY_CONVERT(INT, SUBSTRING(RowData, 1, pos1 - 1)) AS ID,
					TRY_CONVERT(DATETIME, SUBSTRING(RowData, pos1 + 1, pos2 - pos1 - 1)) AS [Date],
					TRY_CONVERT(MONEY, SUBSTRING(RowData, pos2 + 1, LEN(RowData))) AS [Value]
				FROM (
					SELECT T.c.value('.', 'NVARCHAR(MAX)') AS RowData
					FROM XMLData
					CROSS APPLY DataXML.nodes('/r') AS T(c)
				) AS ParsedData
				CROSS APPLY (SELECT CHARINDEX(',', RowData) AS pos1) AS FirstComma
				CROSS APPLY (SELECT CHARINDEX(',', RowData, pos1 + 1) AS pos2) AS SecondComma;


				UPDATE #CCRBuffer 
				SET 
					StatementDate = DATEADD(SECOND, 86397, StatementDate),
					AccountNumber = @AccountNumber,
					parent02AID = @AccountID
			END

	   	
			DROP TABLE IF EXISTS #TempData
			SELECT --ROW_NUMBER() OVER (PARTITION BY NULL ORDER BY TranTime) RowCounter,
			CP.AccountNumber, RTRIM(CP.CMTTRANTYPE) AS CMTTRANTYPE, ISNULL(CP.TransactionAmount, 0) TransactionAmount,CP.TranId,CP.TranRef,
			CP.RevTgt, Trantime,CP.PostTime, CP.TxnSource, CP.NoBlobIndicator,Transactionidentifier,
			CASE WHEN CP.TranRef IS NULL THEN 1 ELSE 5 END Priority,  --PLAT-125950 
			CP.DateTimeLocalTransaction,
			CP.Artxntype  --PLAT-99400
			,CP.BSAcctID TxnAcctID
			,CP.TxnIsFor
			,CP.TransmissionDateTime
			INTO #TempData
			FROM CCard_Primary CP WITH (NOLOCK)
			WHERE CP.AccountNumber IN (@AccountNumber) 
			AND CP.CMTTRANTYPE IN ('02','03','04','05','06','07','08','09','10','11','12','13','14','15','16',  
									'17','18','19','21','22','23','24','25','26','28','29','30','31','32','33',  
									'35','37','38','40','41','42','43','45','48','49','50',/*'51','52',*/'53',/*'54', */  --PLAT-92882
									'55','56','57','58','60','61','62','63','64','65','66','67','68','69','70',  
									'71','72','73','74','75','76','77','78','79','80','81','82','83','84','85',  
									'86','87','90','91','92','93','94','95','96','97','98',
									'110','111','1111','115','116','117','118', 'ADDSCRA', 'ADDBK', 'ECD')
			AND CP.PostTime > @ProcessTime

			DELETE FROM #TempData WHERE Artxntype  = '93'

			INSERT INTO #TempData (TranId, CMTTRANTYPE, AccountNumber, TransactionAmount, Trantime, PostTime, Priority)
			VALUES
			(0, '00', @AccountNumber, @CBRAmountOfCurrentBalance, @ProcessTime, @ProcessTime, 0) --PLAT-91601(Changed Priority from 1 to 0)
			--Plat-103940
			--IF NOT EXISTS (SELECT TOP 1 1 FROM #TempData WHERE TranId = @TranID)
			--BEGIN
			--	INSERT INTO #TempData (TranId, CMTTRANTYPE, AccountNumber, TransactionAmount, Trantime, PostTime, Priority, RevTgt)  
			--	VALUES  
			--	(@TranID, @TranType, @AccountNumber, @TransactionAmount, @TranTime, @PostTime, 3, @RevTgt) 
			--END
			--Plat-103940

			;WITH CTE
			AS
			(
				SELECT AccountNumber, CMTTRANTYPE, TransactionAmount, TranId, TranRef,
				RevTgt, Trantime, PostTime, TxnSource, NoBlobIndicator, Transactionidentifier,
				Priority, DateTimeLocalTransaction, Artxntype, TxnAcctID, TxnIsFor, TransmissionDateTime
				FROM #TempData WHERE CMTTRANTYPE = 'ADDBK'
			)
			UPDATE C
			SET TransmissionDateTime = S.EffectiveDate
			FROM CTE C
			JOIN ccard_secondary S WITH (NOLOCK) ON (C.TranRef = S.TranID)

			DELETE FROM #TempData WHERE CMTTRANTYPE = 'ADDBK' AND TransmissionDateTime IS NULL


			If(@Acquisitiondate IS NOT NULL AND @ProcessTime > @TranTime) 
			BEGIN
				DELETE FROM #TempData WHERE TranTime < @ProcessTime 
			END

			IF(@Acquisitiondate IS NOT NULL)
			BEGIN
				DELETE FROM #TempData WHERE TranTime < @ProcessTime AND PostTime < @ProcessTime AND CMTTRANTYPE <> '00'
				DELETE FROM #TempData WHERE TranTime < @ProcessTime AND CMTTRANTYPE <> '00'


				;WITH CTE
				AS
				(
				SELECT AccountNumber, CMTTRANTYPE, TransactionAmount, TranId, TranRef,
				RevTgt, Trantime, PostTime, TxnSource, NoBlobIndicator, Transactionidentifier,
				Priority, DateTimeLocalTransaction, Artxntype, TxnAcctID, TxnIsFor, TransmissionDateTime
				FROM #TempData
				WHERE TranRef IS NOT NULL
				--AND TranRef = 2109682148225646605
				)
				DELETE C
				FROM CTE C
				JOIN CCard_Primary CP WITH (NOLOCK) ON (C.AccountNumber = CP.AccountNumber AND C.TranRef = CP.TranID)
				WHERE CP.TranTime <= @ProcessTime
				AND C.DateTimeLocalTransaction <= @ProcessTime
			END


			;WITH CTE 
			AS
			(
				SELECT AccountNumber, CMTTRANTYPE, TransactionAmount, TranId, TranRef,
				RevTgt, Trantime, PostTime, TxnSource, NoBlobIndicator, Transactionidentifier,
				Priority, DateTimeLocalTransaction, Artxntype, TxnAcctID, TxnIsFor, TransmissionDateTime 
				FROM #TempData WHERE CMTTRANTYPE = '03' AND RevTgt IS NOT NULL
			)
			DELETE T
			FROM #TempData T
			JOIN CTE C ON (T.TranID = C.RevTgt)
			WHERE T.CMTTRANTYPE = '02'

			UPDATE #TempData SET TranTime = DateTimeLocalTransaction WHERE CMTTRANTYPE IN ('02', '03') AND TxnSource = '4' AND NoblobIndicator = '9'

			DROP TABLE IF EXISTS #TCAPIntCredits
			SELECT  ROW_NUMBER() OVER(PARTITION BY AccountNumber ORDER BY PostTime) RN,AccountNumber, CMTTRANTYPE, TransactionAmount, TranId
			, Trantime, PostTime, TxnSource, NoBlobIndicator, Transactionidentifier
			, TRY_CAST(CASE WHEN EOMONTH(@LastStatementDate) = TRY_CAST(@LastStatementDate AS DATE) THEN '31' ELSE DAY(@LastStatementDate) END AS VARCHAR(5)) BillingCycle
			,
			TRY_CAST(
			CASE 
				WHEN CASE WHEN EOMONTH(@LastStatementDate) = TRY_CAST(@LastStatementDate AS DATE) THEN '31' ELSE DAY(@LastStatementDate) END = '31'
				THEN
					CASE 
						WHEN MONTH(Trantime) = 2 THEN CASE WHEN YEAR(Trantime)%4 = 0 THEN '29' ELSE '28' END
						WHEN MONTH(Trantime) = 4 OR MONTH(Trantime) = 6 OR MONTH(Trantime) = 9 OR MONTH(Trantime) = 11 THEN '30' 
						ELSE '31'
					END
				ELSE CASE WHEN EOMONTH(@LastStatementDate) = TRY_CAST(@LastStatementDate AS DATE) THEN '31' ELSE DAY(@LastStatementDate) END
			END AS VARCHAR(5)) TempBillingCycle
			,TRY_CAST(NULL AS DATETIME) CalcDate
			,TRY_CAST(NULL AS DATETIME) CalcDateToUse
			INTO #TCAPIntCredits
			FROM #TempData 
			WHERE CMTTRANTYPE = '03' AND TransactionIdentifier = 'TCAP'


			UPDATE #TCAPIntCredits
			SET CalcDate =
			TRY_CAST(
			TRY_CAST(YEAR(Trantime) AS VARCHAR(4)) 
			+ CASE WHEN MONTH(Trantime) >= 10 THEN '-' ELSE '-0' END + TRY_CAST(MONTH(Trantime) AS VARCHAR(2)) 
			+ CASE WHEN TRY_CAST(TempBillingCycle AS INT) >= 10 THEN '-' ELSE '-0' END + TempBillingCycle + ' 23:59:57'
			AS DATETIME)

			UPDATE #TCAPIntCredits
			SET CalcDateToUse = 
			CASE 
				WHEN CalcDate <= Trantime 
				THEN CalcDate 
				ELSE 
					CASE 
						WHEN BillingCycle = '31' 
						THEN DATEADD(SECOND, 86397, TRY_CAST(EOMONTH(DATEADD(MONTH, -1, CalcDate)) AS DATETIME))
						ELSE DATEADD(MONTH, -1, CalcDate) 
					END 
			END

			UPDATE T
			SET TranTime = I.CalcDateToUse
			FROM #TempData T
			JOIN #TCAPIntCredits I ON (T.TranID = I.TranID)

			DELETE FROM #TempData WHERE CMTTRANTYPE = '03' AND RevTgt IS NOT NULL

			DROP TABLE IF EXISTS #ConsolidatedCredits
			SELECT DISTINCT C.AccountNumber, 0 TranRef, C2.parent02AID BSAcctID, C2.acctID PlanID, C2.TransactionAmount, C2.StatementDate
			INTO #ConsolidatedCredits
			FROM #TempData C
			JOIN ConsolidatedCreditRecords C2 WITH (NOLOCK) ON (C.TranRef = C2.TranRef)
			WHERE C.CMTTRANTYPE = '03'
			AND C.TranRef IS NOT NULL
			UNION
			SELECT DISTINCT C.AccountNumber, 0 TranRef, parent02AID BSAcctID, PlanID, InterestCredits TransactionAmount, StatementDate
			FROM #CCRBuffer C

			DROP TABLE IF EXISTS #SCRAIntCredits
			SELECT AccountNumber, CMTTRANTYPE, TransactionAmount, TranId, TranRef,
			RevTgt, Trantime, PostTime, TxnSource, NoBlobIndicator, Transactionidentifier,
			Priority, DateTimeLocalTransaction, Artxntype, TxnAcctID, TxnIsFor, TransmissionDateTime 
			INTO #SCRAIntCredits 
			FROM #TempData 
			WHERE TxnIsFor IN ('SCRA', 'BKRUT') 
			AND CMTTRANTYPE = '03'


			DELETE FROM #TempData WHERE TxnIsFor IN ('SCRA', 'BKRUT') AND CMTTRANTYPE = '03'

			DROP TABLE IF EXISTS #ConsolidatedCredits_Combined
			SELECT AccountNumber, BSAcctID, PlanID, StatementDate, SUM(TransactionAmount) TransactionAmount
			INTO #ConsolidatedCredits_Combined
			FROM #ConsolidatedCredits
			GROUP BY AccountNumber, BSAcctID, PlanID, StatementDate


			INSERT INTO #TempData (AccountNumber, CMTTRANTYPE, TxnAcctID, TranID, TransactionAmount, Trantime, PostTime, Priority)
			SELECT AccountNumber, '03' CMTTRANTYPE, C.BSAcctID, 0, C.TransactionAmount, C.StatementDate, C.StatementDate,6 Priority
			FROM #ConsolidatedCredits_Combined C

			DELETE C
			FROM #TempData C
			JOIN ConsolidatedCreditRecords C2 WITH (NOLOCK) ON (C.TranRef = C2.TranRef)
			WHERE C.CMTTRANTYPE = '03'
			AND C.TranRef IS NOT NULL
			--AND Priority = 5

			INSERT INTO #TempData (AccountNumber, CMTTRANTYPE, TxnAcctID, TranID, TxnSource, TransactionAmount, Trantime, PostTime, Priority)
			SELECT AccountNumber, CMTTRANTYPE, TxnAcctID, 0, TxnSource, SUM(TransactionAmount) TransactionAmount, TranTime, TranTime, 6
			FROM #TempData
			WHERE CMTTRANTYPE IN ('02', '03')
			AND TxnSource = '4'
			GROUP BY AccountNumber, CMTTRANTYPE, TranTime, TxnAcctID, TxnSource

			DELETE FROM #TempData WHERE CMTTRANTYPE IN ('02', '03') AND TxnSource = '4' AND Priority = 5


			DROP TABLE IF EXISTS #SCRAIntActivity
			SELECT CP.AccountNumber, CP.TxnAcctID, MIN(CP.TransmissionDateTime) TranTime, MAX(CP.TranTime) PostTime
			INTO #SCRAIntActivity
			FROM #SCRAIntCredits T1
			JOIN #TempData CP WITH (NOLOCK) ON (T1.AccountNumber = CP.AccountNumber AND T1.TranRef = CP.TranID)
			GROUP BY CP.AccountNumber, CP.TxnAcctID

			IF EXISTS (SELECT TOP 1 1 FROM #SCRAIntActivity)
			BEGIN

				DROP TABLE IF EXISTS #SCRAWindow
				;WITH CTE
				AS
				(
					SELECT AccountNumber, PostTime, ROW_NUMBER() OVER(PARTITION BY AccountNumber ORDER BY PostTime)  RN
					FROM #TempData 
					WHERE CMTTRANTYPE IN ('ADDSCRA', 'ADDBK', 'ECD')
				)
				SELECT ROW_NUMBER() OVER(PARTITION BY C1.AccountNumber ORDER BY C1.PostTime) SCRAWindow, 
				C1.AccountNumber, C1.PostTime SCRADate1, C2.PostTime SCRADate2
				INTO #SCRAWindow
				FROM CTE C1
				JOIN CTE C2 ON (C1.AccountNumber = C2.AccountNumber AND C1.RN = C2.RN-1)
		
				DELETE T
				FROM #SCRAIntActivity C 
				JOIN #TempData T ON (C.AccountNumber = T.AccountNumber AND T.CMTTRANTYPE = '03')
				WHERE T.TranTime BETWEEN C.TranTime AND C.PostTime

				;WITH CTE
				AS
				(
				SELECT T.AccountNumber, T.CMTTRANTYPE, T.TransactionAmount, T.TranId, T.TranRef,
				T.RevTgt, T.Trantime, T.PostTime, T.TxnSource, T.NoBlobIndicator, T.Transactionidentifier,
				T.Priority, T.DateTimeLocalTransaction, T.Artxntype, T.TxnAcctID, T.TxnIsFor, T.TransmissionDateTime
				FROM #TempData T
				JOIN #SCRAWindow S ON (T.AccountNumber = S.AccountNumber)
				WHERE CMTTRANTYPE = '02'
				AND T.PostTime BETWEEN SCRADate1 AND SCRADate2
				)
				INSERT INTO #TempData (AccountNumber, CMTTRANTYPE, TxnAcctID, TranID, TxnSource, TransactionAmount, Trantime, PostTime, Priority)
				SELECT T.AccountNumber, '03', T.TxnAcctID, T.TranID, T.TxnSource, T.TransactionAmount, T.Trantime, T.PostTime, T.Priority
				FROM #SCRAIntActivity C 
				JOIN #TempData T ON (C.AccountNumber = T.AccountNumber AND T.CMTTRANTYPE = '02')
				LEFT JOIN CTE C1 ON (C1.AccountNumber = T.AccountNumber AND C1.PostTime = T.PostTime)
				WHERE T.TranTime BETWEEN C.TranTime AND C.PostTime
				AND C1.AccountNumber IS NULL
				AND C1.PostTime IS NULL

				INSERT INTO #TempData (AccountNumber, CMTTRANTYPE, TxnAcctID, TranID, TxnSource, TransactionAmount, Trantime, PostTime, Priority)
				SELECT AccountNumber, CMTTRANTYPE, TxnAcctID, 0, TxnSource, SUM(TransactionAmount) TransactionAmount, TranTime, TranTime, 7
				FROM #TempData
				WHERE CMTTRANTYPE IN ('02', '03')
				AND TxnSource = '4'
				GROUP BY AccountNumber, CMTTRANTYPE, TranTime, TxnAcctID, TxnSource

				DELETE FROM #TempData WHERE CMTTRANTYPE IN ('02', '03') AND TxnSource = '4' AND Priority = 6
			END

			DROP TABLE IF EXISTS #IntCredits
			SELECT T1.AccountNumber, T1.CMTTRANTYPE, T1.TransactionAmount, T1.TranId, T1.TranRef,
			T1.RevTgt, T1.Trantime, T1.PostTime, T1.TxnSource, T1.NoBlobIndicator, T1.Transactionidentifier,
			T1.Priority, T1.DateTimeLocalTransaction, T1.Artxntype, T1.TxnAcctID, T1.TxnIsFor, T1.TransmissionDateTime
			INTO #IntCredits
			FROM #TempData T1
			JOIN #TempData T2 ON (T1.AccountNumber = T2.AccountNumber AND T1.TranTime = T2.TranTime)
			WHERE T1.CMTTRANTYPE = '03' 
			AND T2.CMTTRANTYPE = '02' 

			--SELECT * FROM #IntCredits
	
			UPDATE T
			SET T.CMTTRANTYPE = CASE WHEN T.TransactionAmount - C.TransactionAmount >= 0 THEN '02' ELSE '03' END, 
			TransactionAmount = ABS(T.TransactionAmount - C.TransactionAmount) 
			FROM #TempData T
			JOIN #IntCredits C ON (T.AccountNumber = C.AccountNumber AND T.TranTime = C.TranTime)
			WHERE T.CMTTRANTYPE = '02'

			DELETE T
			FROM #TempData T
			JOIN #IntCredits C ON (T.AccountNumber = C.AccountNumber AND T.TranTime = C.TranTime)
			WHERE T.CMTTRANTYPE = '03' 


			DROP TABLE IF EXISTS #SCRALFCredits
			SELECT AccountNumber, CMTTRANTYPE, TransactionAmount, TranId, TranRef,
			RevTgt, Trantime, PostTime, TxnSource, NoBlobIndicator, Transactionidentifier,
			Priority, DateTimeLocalTransaction, Artxntype, TxnAcctID, TxnIsFor, TransmissionDateTime 
			INTO #SCRALFCredits 
			FROM #TempData 
			WHERE TxnIsFor IN ('SCRA', 'BKRUT') 
			AND CMTTRANTYPE = '09'

			DELETE FROM #TempData WHERE TxnIsFor IN ('SCRA', 'BKRUT') AND CMTTRANTYPE = '09'

			INSERT INTO #TempData (TranId, AccountNumber, CMTTranType, TransactionAmount, Trantime, PostTime, Priority)
			SELECT 0, @AccountNumber, '08', TransactionAmount, JobDate, PostTime, 2 --Plat-109380(Added JobDate As HighBalance Was Calculate Wrong In Case Of Payment Reversal)
			FROM LateFeeDeterminant WITH (NOLOCK)
			WHERE acctId = @AccountID
			AND LateFeeDeterminantFlag = 1
			AND ISNULL(ManualReversalFlag, 0) = 0
			AND JobDate > @ProcessTime   --PLAT-122024

	
			DROP TABLE IF EXISTS #SCRALFActivity
			SELECT CP.AccountNumber, CP.TxnAcctID, MIN(CP.TransmissionDateTime) TranTime, MAX(CP.TranTime) PostTime
			INTO #SCRALFActivity
			FROM #SCRALFCredits T1
			JOIN #TempData CP ON (T1.AccountNumber = CP.AccountNumber AND T1.TranRef = CP.TranID)
			GROUP BY CP.AccountNumber, CP.TxnAcctID

			IF EXISTS (SELECT TOP 1 1 FROM #SCRALFActivity)
			BEGIN

				DROP TABLE IF EXISTS #CreditsPriorSCRA
				SELECT C.AccountNumber, T1.TransactionAmount LFCharged, T2.TransactionAmount LFCredited, T1.TranTime
				INTO #CreditsPriorSCRA
				FROM #TempData T1 
				JOIN #TempData T2 ON (T1.AccountNumber = T2.AccountNumber AND T1.TranTime = T2.DateTimeLocalTransaction)
				JOIN #SCRALFActivity C ON (T2.AccountNumber = C.AccountNumber)
				WHERE T1.CMTTRanType = '08' 
				AND T2.CMTTRanType = '09'
				AND T1.TranTime BETWEEN C.TranTime AND C.PostTime
				AND T2.DateTimeLocalTransaction BETWEEN C.TranTime AND C.PostTime
				AND T1.TxnSource = '4'
				AND T2.TxnSource = '4'


				UPDATE T
				SET TransactionAmount = T.TransactionAmount - C.LFCharged
				FROM #TempData T
				JOIN #CreditsPriorSCRA C ON (T.AccountNumber = C.AccountNumber AND T.TranTime = C.TranTime)
				WHERE T.CMTTRANTYPE = '08'


				UPDATE T
				SET TransactionAmount = T.TransactionAmount - C.LFCredited
				FROM #TempData T
				JOIN #CreditsPriorSCRA C ON (T.AccountNumber = C.AccountNumber AND T.DateTimeLocalTransaction = C.TranTime)
				WHERE T.CMTTRANTYPE = '09'


				;WITH CTE 
				AS
				(
					SELECT AccountNumber, SUM(TransactionAmount) TransactionAmount, MAX(TranTime) TranTime, MAX(PostTime) PostTime
					FROM #SCRALFCredits
					GROUP BY AccountNumber
				)
				, SCRAActivity
				AS
				(
				SELECT C.AccountNumber, S.TxnAcctID, S.TranTime, S.PostTime, C.TransactionAmount SCRALFCredits
				FROM CTE C 
				JOIN #SCRALFActivity S ON (S.AccountNumber = C.AccountNumber)
				)
				, SCRACredits
				AS
				(
				SELECT T.AccountNumber, T.CMTTranType, T.TransactionAmount, T.TranTime, T.PostTime, T.DateTimeLocalTransaction, C.SCRALFCredits
				, SUM(T.TransactionAmount) OVER (PARTITION BY T.AccountNumber ORDER BY T.TranTime, Priority ROWS UNBOUNDED PRECEDING) SCRALFDisrtibuted
				, ROW_NUMBER() OVER(PARTITION BY T.AccountNumber ORDER BY T.TranTime DESC) RN
				FROM #TempData T
				JOIN SCRAActivity C ON (T.AccountNumber = C.AccountNumber)
				WHERE T.PostTime BETWEEN C.TranTime AND C.PostTime
				AND T.CMTTranType = '08'
				)
				INSERT INTO #TempData (TranId, AccountNumber, CMTTranType, TransactionAmount, Trantime, PostTime, Priority)
				SELECT 0, T.AccountNumber, '09', T.TransactionAmount - S.SCRALFDisrtibuted, T.TranTime, T.PostTime, 6
				FROM SCRACredits S
				JOIN CTE T ON (S.AccountNumber = T.AccountNumber)
				WHERE RN = 1
			END

			DELETE FROM #TempData WHERE CMTTranType IN(/*'03','02',*/'09') AND TxnSource = '4' AND NoBlobIndicator = '9' --PLAT-105058(Added '02'), Added '09' regarding CARDS-279884
			--DELETE FROM #TempData WHERE CMTTranType = '03' AND TxnSource = '2' AND Transactionidentifier = 'TCAP' --PLAT-136407
			--DELETE FROM #TempData WHERE CMTTranType = '03' AND TxnSource = '2' AND RevTgt IS NOT NULL --PLAT-144199
			DELETE FROM #TempData WHERE CMTTranType = '08' AND TranRef IS NOT NULL --PLAT-144199 
			DELETE FROM #TempData WHERE CMTTranType = '09' AND RevTgt IS NOT NULL --PLAT-144199  

			;WITH CTE  
			AS  
			(  
				SELECT AccountNumber, CMTTRANTYPE, TransactionAmount, TranId, TranRef,
				RevTgt, Trantime, PostTime, TxnSource, NoBlobIndicator, Transactionidentifier,
				Priority, DateTimeLocalTransaction, Artxntype, TxnAcctID, TxnIsFor, TransmissionDateTime  
				FROM #TempData  
				WHERE RevTgt IS NOT NULL  
			)  
			UPDATE T1  
			SET TransactionAmount = CASE WHEN T1.TransactionAmount - C.TransactionAmount >= 0 THEN T1.TransactionAmount - C.TransactionAmount END
			FROM #TempData T1  
			JOIN CTE C ON (T1.TranID = C.RevTgt)  
	
			;WITH CTE  
			AS  
			(  
				SELECT AccountNumber, CMTTRANTYPE, TransactionAmount, TranId, TranRef,
				RevTgt, Trantime, PostTime, TxnSource, NoBlobIndicator, Transactionidentifier,
				Priority, DateTimeLocalTransaction, Artxntype, TxnAcctID, TxnIsFor, TransmissionDateTime  
				FROM #TempData  
				WHERE CMTTranType = '03'
				--AND TxnSource <> '2'  
			)
			, InterestCalculation
			AS
			( 
			SELECT T1.TxnAcctID, T1.TranTime, T1.CMTTRanType InterestCharged, C.CMTTranType InterestCredited, 
			--CASE WHEN T1.TransactionAmount - C.TransactionAmount >= 0 THEN C.TransactionAmount ELSE T1.TransactionAmount - C.TransactionAmount END InterestCreditToAdjust,
			--CASE WHEN T1.TransactionAmount - C.TransactionAmount >= 0 THEN 0 ELSE C.TransactionAmount - T1.TransactionAmount END InterestCreditLeft
			CASE WHEN T1.TransactionAmount > C.TransactionAmount THEN C.TransactionAmount ELSE T1.TransactionAmount END InterestCreditToAdjust,
			CASE WHEN T1.TransactionAmount > C.TransactionAmount THEN 0 ELSE C.TransactionAmount - T1.TransactionAmount END InterestCreditLeft
			FROM #TempData T1  
			JOIN CTE C ON (T1.TranTime = C.TranTime AND T1.TxnAcctID = C.TxnAcctID AND T1.CMTTranType = '02')
			)
			UPDATE T
			SET TransactionAmount = CASE WHEN T.CMTTRanType = '02' THEN T.TransactionAmount - InterestCreditToAdjust ELSE InterestCreditLeft END
			--SELECT CASE WHEN T.CMTTRanType = '02' THEN T.TransactionAmount - InterestCreditToAdjust ELSE InterestCreditLeft END, T.*
			FROM #TempData T
			JOIN InterestCalculation I ON (T.TxnAcctID = I.TxnAcctID AND T.TranTime = I.TranTime)
			WHERE T.CMTTRanType IN ('02', '03')
			AND T.TxnSource <> '2' 
	

			DELETE FROM #TempData WHERE RevTgt IS NOT NULL 
			--DELETE FROM #TempData WHERE CMTTranType = '03' AND TranID = 0
			DELETE FROM #TempData WHERE CMTTranType = '03' AND TranID = 0 AND TransactionAmount <= 0

			DELETE FROM #TempData WHERE TransactionAmount = 0 AND Priority > 0 --PLAT-91601 
			DELETE FROM #TempData WHERE Artxntype  IN ('99','104')  --PLAT-99400 (Added Artxntype '95' for PLAT-92882)
			DELETE FROM #TempData WHERE Artxntype  = '95' AND CMTTranType <> '61' 

			DROP TABLE IF EXISTS #TempRecords
			;WITH CTE
			AS
			(
				SELECT ROW_NUMBER() OVER (PARTITION BY NULL ORDER BY TranTime, Priority) RowCounter, 
				AccountNumber, CMTTRANTYPE, TransactionAmount, TranId, TranRef, RevTgt, Trantime, PostTime, TxnSource, Priority, TxnAcctID,
				SUM(CASE WHEN TRY_CAST(CMTTRANTYPE AS INT)%2 = 1 THEN TransactionAmount*-1 ELSE TransactionAmount END) 
				OVER (PARTITION BY AccountNumber ORDER BY TranTime, Priority ROWS UNBOUNDED PRECEDING) CurrentBalance
				FROM #TempData
			)
			SELECT RowCounter, AccountNumber, CMTTRANTYPE, TransactionAmount, TranId, TranRef, RevTgt, Trantime, PostTime, TxnSource, Priority, TxnAcctID, CurrentBalance,
			CASE WHEN RowCounter = 1 Then @CBRAmountOfHighBalance
			ELSE MAX(CASE WHEN CurrentBalance > @CBRAmountOfHighBalance THEN CurrentBalance ELSE @CBRAmountOfHighBalance END) OVER (PARTITION BY AccountNumber ORDER BY TranTime, Priority ROWS UNBOUNDED PRECEDING) END HighBalance
			--MAX(CurrentBalance) OVER (PARTITION BY NULL ORDER BY TranTime, Priority ROWS UNBOUNDED PRECEDING) HighBalance
			INTO #TempRecords
			FROM CTE

			/*
			PRINT 'ROWS IN #TempRecords FOR High balance===> ' + TRY_CAST(@@rowcount AS VARCHAR)  --Plat-103940

			SELECT * FROM #TempRecords
	
			DECLARE @RowCounter1 INT = 0, @TotalRecords1 INT = 0
			DECLARE @AccountNumber1 VARCHAR(19), @CMTTranType1 VARCHAR(20), @TranID1 DECIMAL(19, 0), @TranRef1 DECIMAL(19, 0), @RevTGT1 DECIMAL(19, 0),
			@TranTime1 DATETIME, @PostTime1 DATETIME, @TxnSource1 VARCHAR(5), @Priority1 INT, @TxnAcctId1 INT, @CurrentBalance1 MONEY, @HighBalance1 MONEY,@TransactionAmount1 MONEY, 
			@Output VARCHAR(MAX)

			SELECT @TotalRecords1 = COUNT(1) FROM #TempRecords
			SELECT TOP 1 @RowCounter1 = RowCounter FROM #TempRecords ORDER BY RowCounter

			WHILE(@RowCounter1 <= @TotalRecords1)
			BEGIN
				SELECT
					@AccountNumber1 = AccountNumber, @CMTTranType1 = CMTTranType, @TranID1 = ISNULL(TranID, 0), @TranRef1 = ISNULL(TranRef, 0), @RevTGT1 = ISNULL(RevTGT, 0),
					@TranTime1 = ISNULL(TranTime, ''), @PostTime1 = ISNULL(PostTime, ''), @TxnSource1 = ISNULL(TxnSource, ''), @Priority1 = ISNULL(Priority, 0), @TxnAcctId1 = ISNULL(TxnAcctId, 0), 
					@CurrentBalance1 = ISNULL(CurrentBalance, 0), @HighBalance1 = ISNULL(HighBalance, 0),@TransactionAmount1 = ISNULL(TransactionAmount, 0)
				FROM #TempRecords
				WHERE RowCounter = @RowCounter1

				--SELECT * FROM #TempRecords
				--WHERE RowCounter = @RowCounter 

				SET @Output = TRY_CAST(@RowCounter1 AS VARCHAR(5)) + ' ' + @AccountNumber1 + ' ' + @CMTTranType1 + ' ' + TRY_CAST(@TranID1 AS VARCHAR(50)) + ' ' + TRY_CAST(@TranRef1 AS VARCHAR(50)) + ' ' + TRY_CAST(@RevTGT1 AS VARCHAR(50))
				+ ' ' + TRY_CONVERT( VARCHAR(50), @TranTime1, 20) + ' ' + TRY_CONVERT( VARCHAR(50), @PostTime1, 20) + ' ' + @TxnSource1 + ' ' + TRY_CAST(@Priority1 AS VARCHAR(2)) + ' ' + TRY_CAST(@TxnAcctId1 AS VARCHAR(20))
				+ ' ' + TRY_CAST(@CurrentBalance1 AS VARCHAR) + ' ' + TRY_CAST(@HighBalance1 AS VARCHAR) + ' ' + TRY_CAST(@TransactionAmount1 AS VARCHAR)

				--SET @Output = CAST(@RowCounter AS VARCHAR(5)) + ' ' + @AccountNumber1 + ' ' + @CMTTranType + ' ' + CAST(@TranID AS VARCHAR(50)) + ' ' + CAST(@TranRef AS VARCHAR(50)) + ' ' + CAST(@RevTGT AS VARCHAR(50))
				--+ ' ' + CONVERT( VARCHAR(50), @TranTime, 20) + ' ' + CONVERT( VARCHAR(50), @PostTime, 20) + ' ' + @TxnSource + ' ' + CAST(@Priority AS VARCHAR(2)) + ' ' + CAST(@TxnAcctId AS VARCHAR(20))
				--+ ' ' + CAST(@CurrentBalance AS VARCHAR) + ' ' + CAST(@HighBalance AS VARCHAR)

				PRINT @Output

				SET @RowCounter1 = @RowCounter1 + 1
		
			END
			*/


			--Logic for calculating break points -- refreshed population

			SET @Year = TRY_CAST(YEAR(@ValidationPointTime) AS VARCHAR)
			SET @Month = TRY_CAST((DATEPART(QUARTER,@ValidationPointTime)-1)*3 AS VARCHAR)
			SET @Day = TRY_CAST(DAY(EOMONTH(TRY_CAST(@Year+'-'+TRY_CAST(TRY_CAST(@Month AS INT) AS VARCHAR)+'-1' AS DATETIME))) AS VARCHAR)
			SET @Time = '23:59:57'

			IF(@Month = 0)
			BEGIN
				SET @Month = 12
				SET @Year = @Year - 1
				SET @Day = TRY_CAST(DAY(EOMONTH(TRY_CAST(@Year+'-'+TRY_CAST(@Month AS VARCHAR)+'-1' AS DATETIME))) AS VARCHAR)
			END

			SET @CBRBreakPoint1 = DATEADD(SECOND, 86397, TRY_CAST(EOMONTH(TRY_CAST(@Year+'-'+@Month+'-'+@Day AS DATETIME)) AS DATETIME))
			SET @CBRBreakPoint2 = DATEADD(SECOND, 86397, TRY_CAST(EOMONTH(DATEADD(MONTH, -3, @CBRBreakPoint1)) AS DATETIME))
			SET @CBRBreakPoint3 = DATEADD(SECOND, 86397, TRY_CAST(EOMONTH(DATEADD(MONTH, -3, @CBRBreakPoint2)) AS DATETIME))
			SET @CBRBreakPoint4 = DATEADD(SECOND, 86397, TRY_CAST(EOMONTH(DATEADD(MONTH, -3, @CBRBreakPoint3)) AS DATETIME))
	
			SELECT TOP 1 @CBRAmountOfCurrentBalance = CurrentBalance, @CBRAmountOfHighBalance = HighBalance FROM #TempRecords ORDER BY RowCounter DESC 
			SELECT TOP 1 @CBRAmountOfCurrentBalanceBP1 = CurrentBalance, @CBRAmountOfHighBalanceBP1 = HighBalance FROM #TempRecords WHERE PostTime <= @CBRBreakPoint1 AND PostTime >= @CBRBreakPoint2 ORDER BY RowCounter DESC
			SELECT TOP 1 @CBRAmountOfCurrentBalanceBP2 = CurrentBalance, @CBRAmountOfHighBalanceBP2 = HighBalance FROM #TempRecords WHERE PostTime <= @CBRBreakPoint2 AND PostTime >= @CBRBreakPoint3 ORDER BY RowCounter DESC
			SELECT TOP 1 @CBRAmountOfCurrentBalanceBP3 = CurrentBalance, @CBRAmountOfHighBalanceBP3 = HighBalance FROM #TempRecords WHERE PostTime <= @CBRBreakPoint3 AND PostTime >= @CBRBreakPoint4 ORDER BY RowCounter DESC
			SELECT TOP 1 @CBRAmountOfCurrentBalanceBP4 = CurrentBalance, @CBRAmountOfHighBalanceBP4 = HighBalance FROM #TempRecords WHERE PostTime <= @CBRBreakPoint4 ORDER BY RowCounter DESC
			SELECT TOP 1 @CBRAmountOfCurrentBalance_STMT = CurrentBalance, @CBRAmountOfHighBalance_STMT = HighBalance FROM #TempRecords WHERE PostTime <= @LastStatementDate ORDER BY RowCounter DESC --Plat-114725

			--SELECT TOP 1 CurrentBalance, HighBalance FROM #TempRecords ORDER BY RowCounter DESC
			--SELECT TOP 1 CurrentBalance, HighBalance FROM #TempRecords WHERE PostTime <= @CBRBreakPoint1 AND PostTime >= @CBRBreakPoint2 ORDER BY RowCounter DESC
			--SELECT TOP 1 CurrentBalance, HighBalance FROM #TempRecords WHERE PostTime <= @CBRBreakPoint2 AND PostTime >= @CBRBreakPoint3 ORDER BY RowCounter DESC
			--SELECT TOP 1 CurrentBalance, HighBalance FROM #TempRecords WHERE PostTime <= @CBRBreakPoint3 AND PostTime >= @CBRBreakPoint4 ORDER BY RowCounter DESC
			--SELECT TOP 1 CurrentBalance, HighBalance FROM #TempRecords WHERE PostTime <= @CBRBreakPoint4 ORDER BY RowCounter DESC


			--SELECT 
			--	@AccountID acctId,
			--	@CBRBreakPoint1 CBRBreakPoint1,
			--	@CBRBreakPoint2 CBRBreakPoint2,
			--	@CBRBreakPoint3 CBRBreakPoint3,
			--	@CBRBreakPoint4 CBRBreakPoint4,
			--	@CBRAmountOfCurrentBalance CBRAmountOfCurrentBalance, 
			--	CASE WHEN @ValidationPointTime > @CBRBreakPoint1 THEN @CBRAmountOfCurrentBalanceBP1 ELSE 0 END CBRAmountOfCurrentBalanceBP1, 
			--	CASE WHEN @ValidationPointTime > @CBRBreakPoint2 THEN @CBRAmountOfCurrentBalanceBP2 ELSE 0 END CBRAmountOfCurrentBalanceBP2,  
			--	CASE WHEN @ValidationPointTime > @CBRBreakPoint3 THEN @CBRAmountOfCurrentBalanceBP3 ELSE 0 END CBRAmountOfCurrentBalanceBP3, 
			--	CASE WHEN @ValidationPointTime > @CBRBreakPoint4 THEN @CBRAmountOfCurrentBalanceBP4 ELSE 0 END CBRAmountOfCurrentBalanceBP4, 
			--	@CBRAmountOfHighBalance CBRAmountOfHighBalance,
			--	CASE WHEN @ValidationPointTime > @CBRBreakPoint1 THEN @CBRAmountOfHighBalanceBP1 ELSE 0 END CBRAmountOfHighBalanceBP1,
			--	CASE WHEN @ValidationPointTime > @CBRBreakPoint2 THEN @CBRAmountOfHighBalanceBP2 ELSE 0 END CBRAmountOfHighBalanceBP2,
			--	CASE WHEN @ValidationPointTime > @CBRBreakPoint3 THEN @CBRAmountOfHighBalanceBP3 ELSE 0 END CBRAmountOfHighBalanceBP3,
			--	CASE WHEN @ValidationPointTime > @CBRBreakPoint4 THEN @CBRAmountOfHighBalanceBP4 ELSE 0 END CBRAmountOfHighBalanceBP4,
			--	@CBRAmountOfCurrentBalance_STMT CBRAmountOfCurrentBalance_STMT,  --Plat-114725
			--	@CBRAmountOfHighBalance_STMT CBRAmountOfHighBalance_STMT         --Plat-114725

			UPDATE ##CBRAccounts
			SET
				CB_Calc = @CBRAmountOfCurrentBalance,
				HB_Calc = @CBRAmountOfHighBalance,
				CB_Stmt_Calc = @CBRAmountOfCurrentBalance_STMT,
				HB_Stmt_Calc = @CBRAmountOfHighBalance_STMT,
				JobStatus = 1
			WHERE acctID = @acctID

		END

	END
