
select transactionamount,cmttrantype,noblobindicator,* from ccard_primary with(nolock) where  txnacctid = 28059748 and cmttrantype = '121' and accountnumber = '1100011148208303'  and memoindicator is not null
select transactionamount,cmttrantype,noblobindicator,* from ccard_primary with(nolock) where  txnacctid = 28059748 and cmttrantype = '121' and accountnumber = '1100011148208303'  and memoindicator is  null

select transactionamount,cmttrantype,noblobindicator,txnsource,accountnumber,postingref,* from ccard_primary with(nolock) where   accountnumber = '1100011148208303'   order by posttime  desc

select * from  LS_PRODDRGSDB01.ccgs_coreissue.dbo.purchasereversalrecord  with(nolock) where  acctid  = 28059748
select * from  LS_PRODDRGSDB01.ccgs_coreissue.dbo.purchasereversalrecord  with(nolock) where  acctid  = 27902415
select * from currentbalanceauditps  with(nolock) where   aid = 28059748  order by businessday   desc


select transactionamount,cmttrantype,noblobindicator,* from ccard_primary with(nolock) where  txnacctid = 27902415 and cmttrantype = '121' and accountnumber = '1100011148208303'  and memoindicator is not null
select transactionamount,cmttrantype,noblobindicator,* from ccard_primary with(nolock) where  txnacctid = 27902415 and cmttrantype = '121' and accountnumber = '1100011148208303'  and memoindicator is  null


drop table #ReversalPayments
drop table #CCardFinal
DECLARE    
 @AcctID INT = 28059748,
 @CMTTRANTYPE VARCHAR(5) = '121',
 @TxnAmount MONEY = 98.37,
 @InvoiceNumber VARCHAR(20) = NULL    
      
  
BEGIN    
    
 SELECT     
  Distinct IsNull(RevTgt,0) RevTgt     
 INTO     
  #ReversalPayments     
 FROM     
  dbo.CCard_Primary CP WITH(NOLOCK)     
  JOIN dbo.trans_in_acct TIA WITH(NOLOCK) ON(CP.Tranid=TIA.Tran_id_index AND TIA.ATID=51)    
 WHERE     
  CP.CMTTRANTYPE in ('22','26') AND TIA.Acctid=@AcctID    
     
     
 IF(@InvoiceNumber is null or @InvoiceNumber ='')     
 BEGIN     
  SELECT     
   a.TxnAcctId,     
   a.AccountNumber,     
   a.UniqueID,     
   a.creditplanmaster,     
   a.tranid,     
   c.trantime,     
   c.posttime,     
   a.cmttrantype,     
   a.transactionamount,     
   a.TxnSource,     
   a.SettlementAmount,     
   a.MemoIndicator,     
   a.PrimaryCurrencyCode,     
   a.RetrievalReferenceNumber,     
   b.FeeTypeCode,     
   a.PaymentType,     
   a.AdditionalDataPrivateUse,     
   a.SecProgramName,     
   a.TransactionDescription,     
   a.PaymentCreditFlag,     
   b.FilmLocator,     
   a.PrimaryAccountNumber,     
   --b.PCASIndicator, ---Comments Due to CCard_secondary Optimization     
   a.MessageTypeIdentifier,     
   a.TxnCode_Internal,     
   a.CPMgroup,     
   a.CardholderBillingAmount,     
   a.NoBlobIndicatorGEN,     
   a.NoBlobIndicator,     
   a.DateTimeLocalTransaction,     
   a.CardNumber4Digits,     
   a.PAN_Hash,     
   a.SubProductType,     
   b.LoanNumber,     
   b.InvoiceNumber,     
   b.FeeProcessingCode,     
   b.POSFiller,     
   b.DecimalPositionsIndicator,     
   a.FleetRepricing,     
   a.TranRef,  
  a.MessageIdentifier  
  INTO     
   #CCardFinal     
  FROM     
   dbo.CCard_Primary a WITH(NOLOCK)     
   LEFT OUTER JOIN dbo.CCard_Secondary b WITH(NOLOCK) ON(a.TranID=b.TranID)     
   JOIN dbo.CCard_Primary C WITH(NOLOCK) ON(c.TranID=a.TranRef)    
  -- LEFT OUTER JOIN #ReversalPayments RP WITH(NOLOCK) ON(C.TranID=RP.RevTgt)    
  WHERE     
   a.TxnAcctId=@AcctID and a.CMTTRANTYPE=@CMTTRANTYPE    
   and a.NoBlobIndicator='6'
    --and RP.RevTgt IS NULL    
  ORDER BY     
   PostTime DESC,TranId DESC     
     
	 

   SELECT TxnAcctId,AccountNumber,UniqueID,cps.parent01aid as creditplanmaster,tranid,trantime,posttime,cmttrantype,transactionamount,TxnSource,  
   SettlementAmount,MemoIndicator, C.PrimaryCurrencyCode,RetrievalReferenceNumber,FeeTypeCode,PaymentType,AdditionalDataPrivateUse,  
   SecProgramName,TransactionDescription,PaymentCreditFlag,FilmLocator,PrimaryAccountNumber,MessageTypeIdentifier,TxnCode_Internal,  
   CPMgroup,CardholderBillingAmount,NoBlobIndicatorGEN,NoBlobIndicator,DateTimeLocalTransaction,CardNumber4Digits,PAN_Hash,SubProductType,  
   LoanNumber,cps.InvoiceNumber as InvoiceNumber,FeeProcessingCode,POSFiller,DecimalPositionsIndicator,FleetRepricing,TranRef, NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,  
   CASE WHEN MessageIdentifier IS NOT NULL THEN '1' ELSE '0' END  
   FROM #CCardFinal C  WITH(NOLOCK)    
   left join cpsgmentaccounts cps with(nolock)   on (C.TxnAcctId = cps.acctid )
   --WHERE MessageIdentifier = '1'  
 END    
 ELSE    
 BEGIN    
  SELECT     
   a.TxnAcctId,     
   a.AccountNumber,     
   a.UniqueID,     
   a.creditplanmaster,     
   a.tranid,     
   c.trantime,     
   c.posttime,     
   a.cmttrantype,     
   a.transactionamount,     
   a.TxnSource,     
   a.SettlementAmount,     
   a.MemoIndicator,     
   a.PrimaryCurrencyCode,     
   a.RetrievalReferenceNumber,     
   b.FeeTypeCode,     
   a.PaymentType,     
   a.AdditionalDataPrivateUse,     
   a.SecProgramName,     
   a.TransactionDescription,     
   a.PaymentCreditFlag,     
   b.FilmLocator,     
   a.PrimaryAccountNumber,     
   --b.PCASIndicator, ---Comments Due to CCard_secondary Optimization     
   a.MessageTypeIdentifier,     
   a.TxnCode_Internal,     
   a.CPMgroup,     
   a.CardholderBillingAmount,     
   a.NoBlobIndicatorGEN,     
   a.NoBlobIndicator,     
   a.DateTimeLocalTransaction,     
   a.CardNumber4Digits,     
   a.PAN_Hash,     
   a.SubProductType,     
   b.LoanNumber,     
   b.InvoiceNumber,     
   b.FeeProcessingCode,     
   b.POSFiller,     
   b.DecimalPositionsIndicator,     
   a.FleetRepricing,     
   a.TranRef,  
   a.MessageIdentifier  
  INTO     
   #CCardFinalNew     
  FROM     
   dbo.CCard_Primary a WITH(NOLOCK)     
   LEFT OUTER JOIN dbo.CCard_Secondary b WITH(NOLOCK) ON(a.TranID=b.TranID)     
   JOIN dbo.CCard_Primary C WITH(NOLOCK) ON(c.TranID=a.TranRef)     
   LEFT OUTER JOIN #ReversalPayments RP WITH(NOLOCK) ON(C.TranID=RP.RevTgt)    
  WHERE     
   a.TxnAcctId=@AcctID AND a.CMTTRANTYPE=@CMTTRANTYPE    
   AND RP.RevTgt IS NULL    
  ORDER BY PostTime DESC,TranId DESC     
     
  --Retain CPS code Update Transaction Amount by RetainCPSDeliquencyRecords which is ditibuted on invoice.     
  DELETE FROM #CCardFinalNew WHERE tranid not in (SELECT tranid FROM dbo.RetainCPSDeliquencyRecords RCPSD WITH(NOLOCK)     
  WHERE InvoiceNumber =@InvoiceNumber and Status = 0)     
     
  UPDATE CSF SET CSF.InvoiceNumber = @InvoiceNumber,CSF.transactionamount = RCPSD.TransactionAmount     
  FROM #CCardFinalNew CSF     
  JOIN dbo.RetainCPSDeliquencyRecords RCPSD WITH(NOLOCK) ON(CSF.TranId = RCPSD.TranId)     
  WHERE RCPSD.InvoiceNumber =@InvoiceNumber AND RCPSD.Status = 0     
     
  SELECT TxnAcctId,AccountNumber,UniqueID,creditplanmaster,tranid,trantime,posttime,cmttrantype,transactionamount,TxnSource,  
  SettlementAmount,MemoIndicator,PrimaryCurrencyCode,RetrievalReferenceNumber,FeeTypeCode,PaymentType,AdditionalDataPrivateUse,  
  SecProgramName,TransactionDescription,PaymentCreditFlag,FilmLocator,PrimaryAccountNumber,MessageTypeIdentifier,TxnCode_Internal,  
  CPMgroup,CardholderBillingAmount,NoBlobIndicatorGEN,NoBlobIndicator,DateTimeLocalTransaction,CardNumber4Digits,PAN_Hash,SubProductType,  
  LoanNumber,InvoiceNumber,FeeProcessingCode,POSFiller,DecimalPositionsIndicator,FleetRepricing,TranRef, NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,  
  CASE WHEN MessageIdentifier IS NOT NULL THEN '1' ELSE '0' END  
  FROM #CCardFinalNew WITH(NOLOCK)    
  --WHERE MessageIdentifier = '1'    
 END     
END