
--USP_GetPlanDetails  14551545,40755618,'04/30/2018 23:59:57:000',null,null,null,null,null,null,null,null,null,null
--USP_GetPlanDetails  50000069,0,null,null,null,null,null,null,null,null,null,null,null
ALTER     PROCEDURE [dbo].[USP_GetPlanDetails]
	@AccountID				INT ,   
	@PlanID					INT ,   
	@DateofTotalDue			DATETIME,  
	@ClientId				VARCHAR(64),  
	@CustomerId				VARCHAR(64),
	@PageSize				INT ,			-- Added by Puspraj Regarding PLAT-111574
	@PageNumber				INT,			-- Added by Puspraj Regarding PLAT-111574
	@Offset					INT = 0,		-- Added by Puspraj Regarding PLAT-111574
	@PaginationStatus			INT = 0,		-- Added by Puspraj Regarding PLAT-111574
	@InstallmentPlanStatus		INT,            --Added By Arathore Regarding Defect Plat-109007;
	@MonthsFilter				INT,            --Added By Arathore Regarding Defect Plat-109007;
	@ProcessingDate			DATETIME,        --Added By Arathore Regarding Defect Plat-109007;
	@BillingTableAID			INT,            -- PLAT-123178
	@APIQueueEnabled			CHAR(2)            -- COOKIE-240255_PLAT-124829
AS          
BEGIN          
	SET NOCOUNT ON   
   
	-- Author  :: PRASOON PARASHAR  
	-- Purpose  :: Retail Implementation  
          
	--DECLARE @AccountID INT = 5000          
	--,@PlanID INT = 0 '  
	--- exec USP_GetPlanDetails 5030, 0,'05/31/2018 23:59:57:000','TestCLientID',null  

   
	DECLARE @AccountNumber  VARCHAR(19)  
 
	--Puspraj: Start Code for Pagination regarding PLAT-111574
	IF(@PaginationStatus = 1)
	BEGIN
		DECLARE @EndTxn  INT = 0
		DECLARE @StartTxn  INT = 0
		IF(@PageSize IS NULL OR @PageSize = 0) 
		BEGIN
			SET @PageSize = 20
		END

		IF(@PageNumber IS NULL OR @PageNumber = 0) 
		BEGIN
			SET @PageNumber = 1
		END  

		SET @EndTxn		= @PageSize * @PageNumber 
		SET @StartTxn	= @EndTxn - @PageSize
		SET @StartTxn	= @StartTxn + ISNULL(@Offset,0)
	END
	ELSE
		SET @PaginationStatus = 0

	----Puspraj: Pagination logic end regarding PLAT-111574

	DECLARE @MonthToCountFrom DATETIME

 
	DROP TABLE IF EXISTS #TempILPSummary            
	DROP TABLE IF EXISTS #TempTotalPlans      
	DROP TABLE IF EXISTS #TempPlanEndDate     
	DROP TABLE IF EXISTS #TempTotalPlansToExclude    
	DROP TABLE IF EXISTS #TempRecords        
          
	CREATE TABLE #TempTotalPlans          
	(          
		PlanID INT
	)       
	CREATE TABLE #TempTotalPlansToExclude         
	(          
		PlanID   INT,  
		PlanUUID VARCHAR(64)          
	)     
	CREATE TABLE #TempPlanEndDate          
	(          
		PlanID INT,  
		LoanDate DATETIME         
	)  
	CREATE TABLE #TempRecords  
	( 
		Skey									INT				NOT NULL IDENTITY(1,1), --Added by Puspraj Regarding PLAT-111574
		PlanID								INT				NULL  
		,CpmDescription						VARCHAR(50)		NULL  
		,PlanType							VARCHAR(20)		NULL  
		,UniversalUniqueID					VARCHAR(64)		NULL  
		,TranId								DECIMAL(19,0)		NULL  
		,acctid								INT				NULL  
		,LastUpdatedTime						DATETIME			NULL  
		,OriginalLoanAmount					MONEY			NULL  
		,TotalOriginalInterest					MONEY			NULL  
		,TotalOriginalPrincipalwithInterest		MONEY			NULL  
		,EqualPaymentAmountCalc				MONEY			NULL  
		,FirstMonthPayment					MONEY			NULL  
		,LastMonthPayment						MONEY			NULL  
		,LoanDate							DATETIME			NULL  
		,LoanEndDate							DATETIME			NULL  
		,OriginalLoanEndDate					DATETIME			NULL  
		,LoanTerm							INT				NULL  
		,RevisedLoanTerm						INT				NULL  
		,CurrentBalance						MONEY			NULL  
		,Principal							MONEY			NULL  
		,APR									MONEY			NULL  
		,AmountOfTotalDue						MONEY			NULL  
		,TotalInterestDue						MONEY			NULL  
		,AmtOfInterestLTD						MONEY			NULL  
		,AmountOfCreditsAsPmtLTD				MONEY			NULL  
		,servicefeesbnp						MONEY			NULL  
		,MembershipFeesBNP					MONEY			NULL  
		,latefeesbnp							MONEY			NULL  
		,IntBilledNotPaid						MONEY			NULL  
		,recoveryfeesbnp						MONEY			NULL  
		,NSFFeesBilledNotPaid					MONEY			NULL  
		,collectionfeesbnp					MONEY			NULL  
		,insurancefeesbnp						MONEY			NULL  
		,overlimitbnp							MONEY			NULL  
		,CycleDueDTD							INT				NULL  
		,AmtOfPayCurrDue						MONEY			NULL  
		,AmtOfPayXDLate						MONEY			NULL  
		,AmountOfPayment30DLate				MONEY			NULL  
		,AmountOfPayment60DLate				MONEY			NULL  
		,AmountOfPayment90DLate				MONEY			NULL  
		,AmountOfPayment120DLate				MONEY			NULL  
		,AmountOfPayment150DLate				MONEY			NULL  
		,AmountOfPayment180DLate				MONEY			NULL  
		,AmountOfPayment210DLate				MONEY			NULL  
		,TotalPastDue							MONEY			NULL  
		,PlanUUID							VARCHAR(64)		NULL  
		,ScheduleID							DECIMAL(19,0)		NULL  
		,ScheduleIndicator					INT				NULL  
		,RetailInvoiceNumber					VARCHAR(20)		NULL  
		,RetailOrderNumber					VARCHAR(36)		NULL  
		,DueDate								DATETIME			NULL  
		,RecordStatus							INT				NULL
		,RefundedAmount						MONEY			NULL  
		,RefundedFull							VARCHAR(10)		NULL 
		,Retailtransactiondescription			VARCHAR(256)		NULL
		,PaidOutDate							DATETIME			NULL 
		,APIQueue_JSON1							VARBINARY(MAX)	NULL
		,jobstatus							VARCHAR(10)		NULL
		,JSON1_StringHashSHA256				VARCHAR(50)		NULL 
		,TotalPaymentTerms					INT				NULL
		,TotalRewardsTerms					INT				NULL
		
 	)  
             
	IF((@PlanID IS NOT NULL) OR (@AccountID IS NOT NULL))          
	BEGIN          
          
		IF(@PlanID IS NULL OR @PlanID = 0)          
		BEGIN  
			SELECT @AccountNumber = AccountNumber FROM BSegment_Primary bp WITH (NOLOCK) WHERE bp.acctid = @AccountID  
    
			INSERT INTO #TempRecords (PlanUUID, RecordStatus)  
			EXEC USP_GetRetailPendingActivationPlans @AccountNumber, NULL, @AccountID  
  
			--SELECT * FROM #TempRecords       
			UPDATE TT  
			SET TT.acctid = CCC.acctId 
			FROM #TempRecords TT  
			JOIN CPSgmentCreditCard CCC WITH (NOLOCK) ON (TT.PlanUUID = CCC.PlanUUID)  
            /*
			INSERT INTO #TempTotalPlans          
			SELECT acctid FROM CPSgmentAccounts WITH (NOLOCK) WHERE parent02AID = @AccountID   
			EXCEPT  
			SELECT acctid FROM #TempRecords 
			*/
			
			/***********Arathore: Start Code for Jira PLAT-109007************/

			IF(ISNULL(@InstallmentPlanStatus, 0) = 0)
			BEGIN
				INSERT INTO #TempTotalPlans 
				SELECT acctid FROM CPSgmentAccounts WITH (NOLOCK) WHERE parent02AID = @AccountID   
				EXCEPT  
				SELECT acctid FROM #TempRecords 
			END
			ELSE
			BEGIN
				SET @MonthToCountFrom = DATEADD(MONTH, -@MonthsFilter, @ProcessingDate)

				INSERT INTO #TempTotalPlans          
				SELECT CP.acctid 
				FROM CPSgmentAccounts CP WITH (NOLOCK) 
				JOIN CPSgmentCreditCard CPCC WITH (NOLOCK) ON (CP.acctID = CPCC.acctId)
				WHERE parent02AID = @AccountID 
				AND (PaidOutDate IS NULL OR PaidOutDate >= @MonthToCountFrom) -- Paid off installments in last 3 months
				EXCEPT  
				SELECT acctid FROM #TempRecords

			END

			/***********Arathore: End Code for Jira PLAT-109007************/   


		END          
		ELSE          
		BEGIN          
			INSERT INTO #TempTotalPlans VALUES (@PlanID)          
		END  
		
		--COOKIE-240255_PLAT-124829 - Starts
		--IF NOT EXISTS (SELECT TOP 1 1 FROM APIQueue (NOLOCK) WHERE acctId = @PlanID AND JobStatus IN ('New', 'Processing'))
		--BEGIN
		--	;WITH CTEAPIQueue
		--	as
		--	(
		--		SELECT JobStatus, APIQueue_JSON1, JSON1_StringHashSHA256, acctId, parent02AID, TotalPaymentTerms, TotalRewardsTerms,
		--		ROW_NUMBER() OVER(PARTITION BY acctId ORDER BY SKey DESC) RowCounter
		--		FROM APIQueue (NOLOCK)  
		--		WHERE JobStatus = 'DONE'  
		--		AND parent02AID = @AccountID
		--	)
			
		IF ISNULL(@APIQueueEnabled, '0') = '1'	
		BEGIN
			INSERT INTO #TempRecords  (recordstatus, acctId, jobstatus, APIQueue_JSON1, JSON1_StringHashSHA256, Paidoutdate, TotalPaymentTerms, TotalRewardsTerms, DueDate)          
			SELECT 5, CPCC.acctId,A.jobstatus, A.APIQueue_JSON1, A.JSON1_StringHashSHA256, Paidoutdate, A.TotalPaymentTerms, A.TotalRewardsTerms,
			CASE WHEN CPCC.FirstDueDate > @DateofTotalDue THEN CPCC.FirstDueDate ELSE @DateofTotalDue END
			FROM CPSgmentCreditCard CPCC WITH (NOLOCK)
			JOIN #TempTotalPlans T WITH (NOLOCK) ON (T.PlanID = CPCC.acctId)
			JOIN APIQueue A WITH (INDEX (cspk_APIQueue),NOLOCK) ON (T.PlanID = A.acctId/* AND A.RowCounter = 1*/)
			WHERE A.parent02aid = @AccountID  
			AND A.JobStatus = 'DONE'
			AND CPCC.Paidoutdate IS NOT NULL
		
			DELETE T1 
			FROM #TempTotalPlans T1  
			JOIN #TempRecords T ON T.acctId = T1.PlanID  
			WHERE T.Paidoutdate IS NOT NULL   
			AND T.JobStatus = 'DONE'
		END
		--END
		--COOKIE-240255_PLAT-124829 - Ends

		
		INSERT INTO #TempPlanEndDate  
		SELECT ILPS.PlanID,LoanDate FROM ILPScheduleDetailSummary ILPS WITH (NOLOCK)    
		JOIN #TempTotalPlans TP ON (ILPS.PlanID = TP.PlanID)  
		WHERE ILPS.ScheduleIndicator IN (0, 1)  
         
		SELECT        
		ILP.PlanID        
		,TranId        
		,TransactionUniqueID        
		,OriginalLoanAmount   
		,ILP.TotalInterest AS TotalOriginalInterest  
		,(OriginalLoanAmount + ILP.TotalInterest) AS TotalOriginalPrincipalwithInterest  
		,EqualPaymentAmountCalc          
		,FirstMonthPayment          
		,LastMonthPayment          
		,TPD.LoanDate          
		,CASE WHEN ILP.CurrentBalance > 0 THEN ActualLoanEndDate ELSE PaidOffDate END AS LoanEndDate          
		,OriginalLoanEndDate          
		,LoanTerm          
		,CASE WHEN ILP.CurrentBalance > 0 THEN RevisedLoanTerm ELSE 0 END AS RevisedLoanTerm  
		,APR        
		,ILP.ScheduleID       
		,ILP.ScheduleIndicator    
		,ILP.LoanDate AS LastUpdatedTime    
		,RANK() OVER (PARTITION BY ILP.PlanID ORDER BY ILP.ActivityOrder DESC) AS Ranking        
		INTO #TempILPSummary        
		FROM ILPScheduleDetailSummary ILP WITH (NOLOCK)         
		JOIN #TempTotalPlans TP ON (TP.PlanID = ILP.PlanID)    
		JOIN #TempPlanEndDate TPD ON (TPD.PlanID = ILP.PlanID)      
		ORDER BY ActivityOrder DESC
		
		-- Added by Arun 
	  
		IF(@ClientId IS not NULL OR @ClientId <>'')  
		BEGIN   
			INSERT INTO #TempRecords
			SELECT          
			CPM.acctId AS PlanID          
			,CPM.CpmDescription          
			,CASE WHEN CP.creditplantype = '16' AND CPM.paymenttype = '9' THEN 'RETAIL' ELSE 'NORMAL' END AS PlanType          
			,ID.TransactionUniqueID AS UniversalUniqueID          
			,ID.TranId          
			,CP.acctid     
			,ID.LastUpdatedTime       
			,ID.OriginalLoanAmount  
			,ID.TotalOriginalInterest  
			,ID.TotalOriginalPrincipalwithInterest       
			,ID.EqualPaymentAmountCalc          
			,ID.FirstMonthPayment          
			,ID.LastMonthPayment          
			,ID.LoanDate          
			,ID.LoanEndDate          
			,ID.OriginalLoanEndDate          
			,ID.LoanTerm          
			,ID.RevisedLoanTerm          
			,CP.CurrentBalance          
			,CP.Principal          
			,CASE WHEN CP.creditplantype = '16' AND CPM.paymenttype = '9' THEN ID.APR ELSE (select APR from UDF_Getaprbycpm(CP.Parent01aid,@BillingTableAID,@AccountID,CPC.IPOStartDate,CPC.IPOEndDate,@ProcessingDate,CP.creditplantype,CPC.PromoPlanActive,CPC.CPSOverrideIntPlan))  /*CPC.interestrate1 */ END AS APR       -- PLAT-123178  --PLAT-127401 -Increased parameter in function UDF_GetAprByCPM   
			,CPC.AmountOfTotalDue          
			,CPC.IntBilledNotPaid        
			,CPC.AmtOfInterestLTD          
			,(ID.TotalOriginalPrincipalwithInterest - CP.CurrentBalance - CPC.currentbalanceco) AS AmountOfCreditsAsPmtLTD--(CPC.AmountOfCreditsAsPmtLTD - CPC.AmountOfCreditsRevLTD) AS AmountOfCreditsAsPmtLTD  
			,CP.servicefeesbnp          
			,CP.MembershipFeesBNP          
			,CP.latefeesbnp          
			,CPC.IntBilledNotPaid        
			,CP.recoveryfeesbnp          
			,CP.NSFFeesBilledNotPaid          
			,CP.collectionfeesbnp          
			,0 AS insurancefeesbnp --CIP.insurancefeesbnp          
			,CP.overlimitbnp          
			,CPC.CycleDueDTD          
			,CPC.AmtOfPayCurrDue          
			,CPC.AmtOfPayXDLate          
			,CPC.AmountOfPayment30DLate          
			,CPC.AmountOfPayment60DLate          
			,CPC.AmountOfPayment90DLate          
			,CPC.AmountOfPayment120DLate          
			,CPC.AmountOfPayment150DLate          
			,CPC.AmountOfPayment180DLate          
			,CPC.AmountOfPayment210DLate          
			,(          
			CPC.AmtOfPayXDLate          
			+ CPC.AmountOfPayment30DLate          
			+ CPC.AmountOfPayment60DLate          
			+ CPC.AmountOfPayment90DLate          
			+ CPC.AmountOfPayment120DLate          
			+ CPC.AmountOfPayment150DLate          
			+ CPC.AmountOfPayment180DLate          
			+ CPC.AmountOfPayment210DLate          
			)           
			AS TotalPastDue          
			,CPC.PlanUUID         
			,ID.ScheduleID     
			,ID.ScheduleIndicator    
			,CPC.RetailInvoiceNumber  
			,CPC.RetailOrderNumber  
			,CASE WHEN CP.creditplantype = '16' AND CPC.FirstDueDate > @DateofTotalDue THEN CPC.FirstDueDate ELSE @DateofTotalDue END AS DueDate  
			,CASE WHEN CP.creditplantype <> '16' OR (OrigEqualPmtAmt IS NOT NULL OR CPC.OrigEqualPmtAmt <> 0) THEN 1 ELSE 0 END AS RecordStatus 
			,CASE WHEN CP.AmountOfReturnsLTD >= ID.OriginalLoanAmount THEN ID.OriginalLoanAmount ELSE CP.AmountOfReturnsLTD END AS RefundedAmount  
			,CASE WHEN CP.AmountOfReturnsLTD >= ID.OriginalLoanAmount THEN 'True' ELSE 'False' END AS RefundedFull  
			,CPC.Retailtransactiondescription																	 --Added By Arathore Regarding Defect Plat-109007;
			,CAST (NULL AS DATETIME)
			,CAST (NULL AS VARBINARY(MAX))
			,CAST (NULL AS VARCHAR(10))
			,CAST (NULL AS VARCHAR(50))
			,CAST (NULL AS INT)
			,CAST (NULL AS INT)
			FROM CPSgmentAccounts CP WITH (NOLOCK)          
			JOIN CPSgmentCreditCard CPC WITH (NOLOCK) ON (CP.acctId = CPC.acctId)          
			--LEFT JOIN CPSgmentInsurance CIP WITH (NOLOCK) ON (CIP.acctId = CP.acctId)          
			LEFT JOIN CPMAccounts CPM WITH (NOLOCK) ON (CPM.acctId = CP.parent01AID)        
			LEFT JOIN #TempILPSummary ID ON (ID.PlanID = CP.acctId)        
			JOIN #TempTotalPlans TP ON (TP.PlanID = CP.acctId)        
			WHERE (ID.Ranking IS NULL OR ID.Ranking = 1)   AND CPC.clientid=@ClientId     
			-- AND (CP.CurrentBalance + CPC.currentbalanceco) > 0    --CT#32574    
		END  
		ELSE IF (@CustomerId IS not NULL OR @CustomerId <>'')  
			BEGIN   
			INSERT INTO #TempRecords
			SELECT          
			CPM.acctId AS PlanID          
			,CPM.CpmDescription          
			,CASE WHEN CP.creditplantype = '16' AND CPM.paymenttype = '9' THEN 'RETAIL' ELSE 'NORMAL' END AS PlanType          
			,ID.TransactionUniqueID AS UniversalUniqueID          
			,ID.TranId          
			,CP.acctid     
			,ID.LastUpdatedTime       
			,ID.OriginalLoanAmount  
			,ID.TotalOriginalInterest  
			,ID.TotalOriginalPrincipalwithInterest       
			,ID.EqualPaymentAmountCalc          
			,ID.FirstMonthPayment          
			,ID.LastMonthPayment          
			,ID.LoanDate          
			,ID.LoanEndDate          
			,ID.OriginalLoanEndDate          
			,ID.LoanTerm          
			,ID.RevisedLoanTerm          
			,CP.CurrentBalance          
			,CP.Principal          
			,CASE WHEN CP.creditplantype = '16' AND CPM.paymenttype = '9' THEN ID.APR ELSE (select APR from UDF_Getaprbycpm(CP.Parent01aid,@BillingTableAID,@AccountID,CPC.IPOStartDate,CPC.IPOEndDate,@ProcessingDate,CP.creditplantype,CPC.PromoPlanActive,CPC.CPSOverrideIntPlan)) /* CPC.interestrate1 */END AS APR         --PLAT-123178 --PLAT-127401 -Increased parameter in function UDF_GetAprByCPM  
			,CPC.AmountOfTotalDue          
			,CPC.IntBilledNotPaid        
			,CPC.AmtOfInterestLTD          
			,(ID.TotalOriginalPrincipalwithInterest - CP.CurrentBalance - CPC.currentbalanceco) AS AmountOfCreditsAsPmtLTD--(CPC.AmountOfCreditsAsPmtLTD - CPC.AmountOfCreditsRevLTD) AS AmountOfCreditsAsPmtLTD  
			,CP.servicefeesbnp          
			,CP.MembershipFeesBNP          
			,CP.latefeesbnp          
			,CPC.IntBilledNotPaid        
			,CP.recoveryfeesbnp          
			,CP.NSFFeesBilledNotPaid          
			,CP.collectionfeesbnp          
			,0 AS insurancefeesbnp --CIP.insurancefeesbnp          
			,CP.overlimitbnp          
			,CPC.CycleDueDTD          
			,CPC.AmtOfPayCurrDue          
			,CPC.AmtOfPayXDLate          
			,CPC.AmountOfPayment30DLate          
			,CPC.AmountOfPayment60DLate          
			,CPC.AmountOfPayment90DLate          
			,CPC.AmountOfPayment120DLate          
			,CPC.AmountOfPayment150DLate          
			,CPC.AmountOfPayment180DLate          
			,CPC.AmountOfPayment210DLate          
			,(          
			CPC.AmtOfPayXDLate          
			+ CPC.AmountOfPayment30DLate          
			+ CPC.AmountOfPayment60DLate          
			+ CPC.AmountOfPayment90DLate          
			+ CPC.AmountOfPayment120DLate          
			+ CPC.AmountOfPayment150DLate          
			+ CPC.AmountOfPayment180DLate          
			+ CPC.AmountOfPayment210DLate          
			)           
			AS TotalPastDue          
			,CPC.PlanUUID         
			,ID.ScheduleID     
			,ID.ScheduleIndicator    
			,CPC.RetailInvoiceNumber  
			,CPC.RetailOrderNumber  
			,CASE WHEN CP.creditplantype = '16' AND CPC.FirstDueDate > @DateofTotalDue THEN CPC.FirstDueDate ELSE @DateofTotalDue END AS DueDate  
			,CASE WHEN CP.creditplantype <> '16' OR (OrigEqualPmtAmt IS NOT NULL OR CPC.OrigEqualPmtAmt <> 0) THEN 1 ELSE 0 END AS RecordStatus
			,CASE WHEN CP.AmountOfReturnsLTD >= ID.OriginalLoanAmount THEN ID.OriginalLoanAmount ELSE CP.AmountOfReturnsLTD END AS RefundedAmount  
			,CASE WHEN CP.AmountOfReturnsLTD >= ID.OriginalLoanAmount THEN 'True' ELSE 'False' END AS RefundedFull  
			,CPC.Retailtransactiondescription                                                                  --Added By Arathore Regarding Defect Plat-109007;
			,CAST (NULL AS DATETIME)
			,CAST (NULL AS VARBINARY(MAX))
			,CAST (NULL AS VARCHAR(10))
			,CAST (NULL AS VARCHAR(50))
			,CAST (NULL AS INT)
			,CAST (NULL AS INT)
			FROM CPSgmentAccounts CP WITH (NOLOCK)          
			JOIN CPSgmentCreditCard CPC WITH (NOLOCK) ON (CP.acctId = CPC.acctId)          
			--LEFT JOIN CPSgmentInsurance CIP WITH (NOLOCK) ON (CIP.acctId = CP.acctId)          
			LEFT JOIN CPMAccounts CPM WITH (NOLOCK) ON (CPM.acctId = CP.parent01AID)        
			LEFT JOIN #TempILPSummary ID ON (ID.PlanID = CP.acctId)        
			JOIN #TempTotalPlans TP ON (TP.PlanID = CP.acctId)        
			WHERE (ID.Ranking IS NULL OR ID.Ranking = 1)   AND CP.CustomerId=@CustomerId    
			-- AND (CP.CurrentBalance + CPC.currentbalanceco) > 0    --CT#32574    
		END  
		---end Arun  
		ELSE  
		BEGIN   
			INSERT INTO #TempRecords
			SELECT          
			CPM.acctId AS PlanID          
			,CPM.CpmDescription          
			,CASE WHEN CP.creditplantype = '16' AND CPM.paymenttype = '9' THEN 'RETAIL' ELSE 'NORMAL' END AS PlanType          
			,ID.TransactionUniqueID AS UniversalUniqueID          
			,ID.TranId          
			,CP.acctid     
			,ID.LastUpdatedTime       
			,ID.OriginalLoanAmount  
			,ID.TotalOriginalInterest  
			,ID.TotalOriginalPrincipalwithInterest       
			,ID.EqualPaymentAmountCalc          
			,ID.FirstMonthPayment          
			,ID.LastMonthPayment          
			,ID.LoanDate          
			,ID.LoanEndDate          
			,ID.OriginalLoanEndDate          
			,ID.LoanTerm          
			,ID.RevisedLoanTerm          
			,CP.CurrentBalance          
			,CP.Principal          
			,CASE WHEN CP.creditplantype = '16' AND CPM.paymenttype = '9' THEN ID.APR ELSE (select APR from UDF_Getaprbycpm(CP.Parent01aid,@BillingTableAID,@AccountID,CPC.IPOStartDate,CPC.IPOEndDate,@ProcessingDate,CP.creditplantype,CPC.PromoPlanActive,CPC.CPSOverrideIntPlan)) /*CPC.interestrate1 */  END AS APR      --PLAT-123178   --PLAT-127401 -Increased parameter in function UDF_GetAprByCPM  
			,CPC.AmountOfTotalDue          
			,CPC.IntBilledNotPaid        
			,CPC.AmtOfInterestLTD          
			,(ID.TotalOriginalPrincipalwithInterest - CP.CurrentBalance - CPC.currentbalanceco) AS AmountOfCreditsAsPmtLTD--(CPC.AmountOfCreditsAsPmtLTD - CPC.AmountOfCreditsRevLTD) AS AmountOfCreditsAsPmtLTD  
			,CP.servicefeesbnp          
			,CP.MembershipFeesBNP          
			,CP.latefeesbnp          
			,CPC.IntBilledNotPaid        
			,CP.recoveryfeesbnp          
			,CP.NSFFeesBilledNotPaid          
			,CP.collectionfeesbnp          
			,0 AS insurancefeesbnp --CIP.insurancefeesbnp          
			,CP.overlimitbnp          
			,CPC.CycleDueDTD          
			,CPC.AmtOfPayCurrDue          
			,CPC.AmtOfPayXDLate          
			,CPC.AmountOfPayment30DLate          
			,CPC.AmountOfPayment60DLate          
			,CPC.AmountOfPayment90DLate          
			,CPC.AmountOfPayment120DLate          
			,CPC.AmountOfPayment150DLate          
			,CPC.AmountOfPayment180DLate          
			,CPC.AmountOfPayment210DLate          
			,(          
			CPC.AmtOfPayXDLate          
			+ CPC.AmountOfPayment30DLate          
			+ CPC.AmountOfPayment60DLate          
			+ CPC.AmountOfPayment90DLate          
			+ CPC.AmountOfPayment120DLate          
			+ CPC.AmountOfPayment150DLate          
			+ CPC.AmountOfPayment180DLate          
			+ CPC.AmountOfPayment210DLate          
			)           
			AS TotalPastDue          
			,CPC.PlanUUID         
			,ID.ScheduleID     
			,ID.ScheduleIndicator    
			,CPC.RetailInvoiceNumber  
			,CPC.RetailOrderNumber  
			,CASE WHEN CP.creditplantype = '16' AND CPC.FirstDueDate > @DateofTotalDue THEN CPC.FirstDueDate ELSE @DateofTotalDue END AS DueDate  
			,CASE WHEN CP.creditplantype <> '16' OR (OrigEqualPmtAmt IS NOT NULL OR CPC.OrigEqualPmtAmt <> 0) THEN 1 ELSE 0 END AS RecordStatus 
			,CASE WHEN CP.AmountOfReturnsLTD >= ID.OriginalLoanAmount THEN ID.OriginalLoanAmount ELSE CP.AmountOfReturnsLTD END AS RefundedAmount  
			,CASE WHEN CP.AmountOfReturnsLTD >= ID.OriginalLoanAmount THEN 'True' ELSE 'False' END AS RefundedFull  
			,CPC.Retailtransactiondescription
			,CAST (NULL AS DATETIME)
			,CAST (NULL AS VARBINARY(MAX))
			,CAST (NULL AS VARCHAR(10))
			,CAST (NULL AS VARCHAR(50))
			,CAST (NULL AS INT)
			,CAST (NULL AS INT)
			FROM CPSgmentAccounts CP WITH (NOLOCK)          
			JOIN CPSgmentCreditCard CPC WITH (NOLOCK) ON (CP.acctId = CPC.acctId)          
			--LEFT JOIN CPSgmentInsurance CIP WITH (NOLOCK) ON (CIP.acctId = CP.acctId)          
			LEFT JOIN CPMAccounts CPM WITH (NOLOCK) ON (CPM.acctId = CP.parent01AID)        
			LEFT JOIN #TempILPSummary ID ON (ID.PlanID = CP.acctId)        
			JOIN #TempTotalPlans TP ON (TP.PlanID = CP.acctId)        
			WHERE (ID.Ranking IS NULL OR ID.Ranking = 1)    
			-- AND (CP.CurrentBalance + CPC.currentbalanceco) > 0    --CT#32574    
		END   
 
		SELECT   
			PlanID  
			,CpmDescription  
			,PlanType  
			,UniversalUniqueID  
			,TranId  
			,CASE WHEN RecordStatus in (1,5) THEN acctid ELSE NULL END AS acctid  
			,LastUpdatedTime  
			,OriginalLoanAmount  
			,TotalOriginalInterest  
			,TotalOriginalPrincipalwithInterest  
			,EqualPaymentAmountCalc  
			,FirstMonthPayment  
			,LastMonthPayment  
			,LoanDate  
			,LoanEndDate  
			,OriginalLoanEndDate  
			,LoanTerm  
			,RevisedLoanTerm  
			,CurrentBalance  
			,Principal  
			,APR  
			,AmountOfTotalDue  
			,TotalInterestDue  
			,AmtOfInterestLTD  
			,AmountOfCreditsAsPmtLTD  
			,servicefeesbnp  
			,MembershipFeesBNP  
			,latefeesbnp  
			,IntBilledNotPaid  
			,recoveryfeesbnp  
			,NSFFeesBilledNotPaid  
			,collectionfeesbnp  
			,insurancefeesbnp  
			,overlimitbnp  
			,CycleDueDTD  
			,AmtOfPayCurrDue  
			,AmtOfPayXDLate  
			,AmountOfPayment30DLate  
			,AmountOfPayment60DLate  
			,AmountOfPayment90DLate  
			,AmountOfPayment120DLate  
			,AmountOfPayment150DLate  
			,AmountOfPayment180DLate  
			,AmountOfPayment210DLate  
			,TotalPastDue  
			,PlanUUID  
			,ScheduleID  
			,ScheduleIndicator  
			,RetailInvoiceNumber  
			,RetailOrderNumber  
			,DueDate  
			,RecordStatus
			,RefundedAmount  
			,RefundedFull
			,Retailtransactiondescription
			,PaidOutDate 
			,APIQueue_JSON1 
			,jobstatus 
			,JSON1_StringHashSHA256
			,TotalPaymentTerms
			,TotalRewardsTerms
		FROM #TempRecords
		WHERE (@PaginationStatus =0  OR (@PaginationStatus = 1 AND Skey >@StartTxn AND Skey<= @EndTxn)) -- Added Puspraj regarding PLAT-111574
		ORDER BY Skey
  
	END        
END