
--EXEC USP_GetRetailPendingActivationPlans '1100001000000005', '0f16dd65-fd7d-4c1a-b12a-cf5254670c55', 5000
ALTER   PROCEDURE [dbo].[USP_GetRetailPendingActivationPlans]
	@AccountNumber		VARCHAR(19),
	@PlanUUID			VARCHAR(64),
	@BSAcctid			INT
	
AS
BEGIN
	SET NOCOUNT ON
	-- Author	 :: PRASOON PARASHAR
	-- Purpose	 :: Retail Implementation

	--SET @AccountNumber = '1100001000000005'
	--SET @PlanUUID = 'd898c121-1fd7-4d5f-870b-0ed3148ffe09'
	--SET @BSAcctid = 5000

	DROP TABLE IF EXISTS #TempUUIDTable
	DROP TABLE IF EXISTS #TempPlanID

	CREATE TABLE #TempPlanID
	(
		PlanID INT
	)

	CREATE TABLE #TempUUIDTable
	(
		PlanUUID VARCHAR(64)
	)

	INSERT INTO #TempPlanID
		SELECT 
			acctId 
		FROM CPMAccounts WITH (NOLOCK) WHERE creditplantype = '16'

	IF @BSAcctid IS NULL OR @BSAcctid = 0
	BEGIN
    	SELECT @BSAcctid = acctId FROM BSegment_Primary WITH (NOLOCK) WHERE AccountNumber = @AccountNumber
    END
	
	IF(@PlanUUID IS NOT NULL)
	BEGIN
		INSERT INTO #TempUUIDTable
			SELECT 
				DISTINCT A.uuid 
			FROM SYN_CoreAuth_RetailAPILineItems A WITH (NOLOCK)
			JOIN SYN_CoreAuth_RetailAPILog B WITH (NOLOCK) ON (A.request_id = B.request_id)
			JOIN #TempPlanID TT ON (A.plan_id = TT.PlanID)
			WHERE B.AccountNumber = @AccountNumber AND A.uuid = @PlanUUID AND A.MTI IN ('9200','9100','9420','9120') AND A.APIErrorFound = 0
	END
	ELSE
	BEGIN
		INSERT INTO #TempUUIDTable
			SELECT 
				DISTINCT A.uuid 
			FROM SYN_CoreAuth_RetailAPILineItems A WITH (NOLOCK)
			JOIN SYN_CoreAuth_RetailAPILog B WITH (NOLOCK) ON (A.request_id = B.request_id)
			JOIN #TempPlanID TT ON (A.plan_id = TT.PlanID)
			WHERE B.AccountNumber = @AccountNumber AND A.MTI IN ('9200','9100','9420','9120') AND A.APIErrorFound = 0
	END

		SELECT PlanUUID, 0 AS RecordStatus FROM #TempUUIDTable
		EXCEPT 
		SELECT CC.PlanUUID, 0 AS RecordStatus FROM CPSgmentCreditCard CC WITH (NOLOCK)
		JOIN CPSgmentAccounts CA WITH (NOLOCK) ON (CA.acctId = CC.acctId)
		JOIN trans_in_acct TIA WITH (NOLOCK) ON (CA.acctId = TIA.acctId AND CA.ATID = TIA.ATID AND CA.SingleSaleTranID = TIA.tran_id_index)
		WHERE CA.parent02AID = @BSAcctid AND CA.creditplantype = '16' --AND (CC.OrigEqualPmtAmt IS NOT NULL OR CC.OrigEqualPmtAmt <> 0)

END