
DROP PROCEDURE IF EXISTS PR_ApplyDBCrFileProcessing
GO
CREATE PROCEDURE PR_ApplyDBCrFileProcessing
(
	 @EarnTranCode VARCHAR(10) = NULL
	,@RefundTranCode VARCHAR(10) = NULL
	,@ValidationBatchCount INT = NULL
	,@TxnBatchCount INT = NULL
)
AS          
BEGIN  
	SET NOCOUNT ON
	/******************************************************************************************************************
	Created by	: Vinod Prajapati
	Created on	: 06/04/2020
	Version		: 15.00.19.01
	Description	: This Stored Procedure divide into following sections, to move directly on that section
		SECTION-A : TABLE CREATION
		SECTION-B : VARIABLE DECLARATION
		SECTION-C : Fill records to resume transaction creation of fail file
		SECTION-D : if EARN and REFUND is in same file for same account
		SECTION-E : Transaction Validation
		SECTION-F : Cook data for transaction creation
		SECTION-G : Get TranId from PostValues
		SECTION-H : Dump records into Apply_DBCr_Transaction table for log purpose
		SECTION-I : Transaction Creation

	BEGIN TRANSACTION
	--COMMIT TRANSACTION
	--ROLLBACK TRANSACTION
	EXEC PR_ApplyDBCrFileProcessing '4101','4201',1,1	
	EXEC PR_ApplyDBCrFileProcessing '4101','4201',50,100	
	
	JobStatus	:
	0 - Initial Value
	1 - Matched
	2 - Reversed
	3 - SUCCESS (Transaction Creation Done)
	4 - No Matched
	5/10 - Same file Validation, once matched it will update to 1
	6 - Amount not match but ResponseId match
	******************************************************************************************************************/
	--DECLARE @EarnTranCode VARCHAR(10) = '4101'
	--,@RefundTranCode VARCHAR(10) = '4204'
	--,@ValidationBatchCount = 50
	--,@TxnBatchCount INT = 100
	--------------------------------------------------------------------------------------------------------------------
	--SECTION-A : TABLE CREATION
	--------------------------------------------------------------------------------------------------------------------
	
	IF EXISTS ( SELECT 1 FROM tempdb.dbo.sysobjects  WHERE ID = OBJECT_ID('tempdb..#TEMP_Apply_DBCr_Transaction') )  
	DROP TABLE #TEMP_Apply_DBCr_Transaction
	CREATE TABLE #TEMP_Apply_DBCr_Transaction
	(
		 RecordID INT IDENTITY(1,1) PRIMARY KEY,JobID DECIMAL(19,0),Invoice_Id varchar(240),Invoice_Create_Ts datetime,Transaction_Method varchar(50)
		,Transaction_Type varchar(50),Response_Id varchar(240),Pan_Last_4_Nr int,Amount money DEFAULT 0,Publish_Ts datetime,AccountNumber varchar(200) NULL
		,TransactionDescription varchar(200) NULL,ActualTrancode varchar(200) NULL,AccountTransactionSequence int NULL,TransactionCount int NULL
		,TransactionAmount money NULL,TransactionStatus int NULL,InsitutionId int NULL,ProductId int NULL,TxnCode_Internal varchar(10) NULL
		,TranTime datetime NULL,PostTime datetime NULL,TransmissionDateTime datetime NULL,TxnAcctid int NULL,ATID int NULL,CMTTRANTYPE varchar(10) NULL
		,TranPriority int NULL,PrimaryCurrencyCode varchar(40) NULL,MerchantId int NULL,CardAcceptorIdCode varchar(25) NULL,TranId decimal(19, 0) NULL
		,EffectiveDate datetime NULL,PostingRef varchar(100) NULL,InternalResponseCode varchar(100) NULL,PostingReason varchar(100) NULL,PrimaryAccountNumber varbinary(100) NULL
		,Pan_hash int NULL,CardNumber4Digits int NULL,ARTxnType varchar(10) NULL,PostingFlag varchar(10) NULL,EmbAcctID int NULL,NetworkName varchar(10) NULL
		,POSFiller varchar(10) NULL,TxnSource varchar(10) NULL,FileName varchar(100) NULL,FileID varchar(100) NULL,GUID varchar(400) NULL,CreditPlanMaster int NULL
		,RevTgt decimal(19,0),TotalRewardPoints money,ClientId VARCHAR(64),MethodName INT,Reason VARCHAR(255),JobStatus TINYINT
		,NewTranId DECIMAL(19,0),MTCGrpName INT,UniqueId DECIMAL(19,0),TxnValidation TINYINT DEFAULT 0,EarnRecordID INT,AccountUUID VARCHAR(64)
	)
	CREATE NONCLUSTERED INDEX #IX_TEMP_Apply_DBCr_Transaction_RecordID 
	ON #TEMP_Apply_DBCr_Transaction (JobStatus,Transaction_Type,Transaction_Method,RecordID)
	INCLUDE (Response_Id,Pan_Last_4_Nr,Amount,TranId,AccountNumber,CardNumber4Digits,Pan_hash,CMTTRANTYPE,TxnValidation)

	IF EXISTS ( SELECT 1 FROM tempdb.dbo.sysobjects  WHERE ID = OBJECT_ID('tempdb..#TEMP_ErrorDupTransaction') )  
	DROP TABLE #TEMP_ErrorDupTransaction
	CREATE TABLE #TEMP_ErrorDupTransaction
	(
		 Idx DECIMAL(19,0) IDENTITY(1,1),Rno INT,DupCount TINYINT DEFAULT 0,DupJob TINYINT
		,RecordID INT,EarnRecordID INT,Transaction_Method varchar(50),Transaction_Type varchar(50),Response_Id varchar(240)
	)
	CREATE NONCLUSTERED INDEX #IX_ErrorDupTransaction ON #TEMP_ErrorDupTransaction (RecordID,Transaction_Method,Transaction_Type,Response_Id)

	IF EXISTS ( SELECT 1 FROM tempdb.dbo.sysobjects  WHERE ID = OBJECT_ID('tempdb..#TEMP_Apply_DBCr_TransactionTranId') )  
	DROP TABLE #TEMP_Apply_DBCr_TransactionTranId
	CREATE TABLE #TEMP_Apply_DBCr_TransactionTranId 
	(
		Idx DECIMAL(19,0) IDENTITY(0,1),RecordID INT,NewTranId DECIMAL(19,0),UniqueId DECIMAL(19,0),EarnRecordID INT
	)
	CREATE NONCLUSTERED INDEX #IX_Apply_DBCr_TransactionTranId ON #TEMP_Apply_DBCr_TransactionTranId (RecordID)

	IF EXISTS ( SELECT 1 FROM tempdb.dbo.sysobjects  WHERE ID = OBJECT_ID('tempdb..#TEMP_Apply_DBCr_CCardTransaction') )  
	DROP TABLE #TEMP_Apply_DBCr_CCardTransaction
	CREATE TABLE #TEMP_Apply_DBCr_CCardTransaction (Idx DECIMAL(19,0) IDENTITY(1,1),RecordID INT,UniqueId DECIMAL(19,0))
	CREATE NONCLUSTERED INDEX #IX_Apply_DBCr_CCardTransaction ON #TEMP_Apply_DBCr_CCardTransaction (RecordID)

	IF EXISTS ( SELECT 1 FROM tempdb.dbo.sysobjects  WHERE ID = OBJECT_ID('tempdb..#TEMP_Apply_DBCr_TransactionValidation') )  
	DROP TABLE #TEMP_Apply_DBCr_TransactionValidation
	CREATE TABLE #TEMP_Apply_DBCr_TransactionValidation 
	(
		 Idx DECIMAL(19,0) IDENTITY(1,1),RecordID INT,JobID DECIMAL(19,0),JobStatus TINYINT,Invoice_Id varchar(240),Invoice_Create_Ts datetime
		,Transaction_Method varchar(50),Transaction_Type varchar(50),Response_Id varchar(240),Pan_Last_4_Nr int,Amount money DEFAULT 0
		,Publish_Ts datetime
	)
	CREATE NONCLUSTERED INDEX #IX_Apply_DBCr_TransactionValidation ON #TEMP_Apply_DBCr_TransactionValidation (RecordID)


	--------------------------------------------------------------------------------------------------------------------
	--SECTION B : VARIABLE DECLARATION
	--------------------------------------------------------------------------------------------------------------------

	DECLARE @DateTimeStamp DATETIME,@StartDate DATETIME  
	DECLARE @ErrorFlag TINYINT,@ErrorDescription VARCHAR(500)
	DECLARE @JobID DECIMAL(19,0),@JobStatus VARCHAR(30),@TranCount BIGINT,@TranId DECIMAL(19,0),@FileName VARCHAR(255)
	DECLARE @NewFileProcess VARCHAR(5)
	DECLARE @FileProcessLogTime DATETIME,@TxnValidation DATETIME,@LogTime DATETIME,@DeltaTime REAL
	DECLARE @TotalJobCount INT,@BatchJobCount INT,@ValidatedJobCount INT,@Message VARCHAR(255)

	SET @ErrorFlag = 0
	SET @NewFileProcess = 'YES'
	SET @DateTimeStamp = DBO.PR_ISOGetBusinessTime()	--This returns current time with business date
	SET @StartDate = DATEADD(DAY,-150,@DateTimeStamp)
	
	IF @ValidationBatchCount IS NULL
		SET @ValidationBatchCount = 50	--DEFAULT VALUE

	IF @TxnBatchCount IS NULL
		SET @TxnBatchCount = 100	--DEFAULT VALUE
	
	SET @JobID = 0
	SET @Message = ''
	--------------------------------------------------------------------------------------------------------------------
	--SELECT * FROM ExternalFileProcessing WITH(NOLOCK)
	--SELECT * FROM Apply_DBCr_FileDump WITH(NOLOCK)
	--SELECT * FROM Apply_DBCr_Transaction WITH(NOLOCK)
	--------------------------------------------------------------------------------------------------------------------

	SELECT TOP 1 @JobID = JobID, @JobStatus = JobStatus, @FileName = FileName
	FROM ExternalFileProcessing WITH(NOLOCK) WHERE FileSource = 'DBCr' 
	AND JobStatus IN ('NEW','INPROCESS')
	ORDER BY Date_Received ASC

	UPDATE ExternalFileProcessing SET LogTime = GETDATE() WHERE JobID = @JobID

	SELECT @TranCount = COUNT(1) FROM Apply_DBCr_FileDump WITH(NOLOCK)
	SET @Message = 'TRANSACTION IN FILE - ' + CAST(@TranCount AS VARCHAR(5))
	--Detail Log Creation
	SET @FileProcessLogTime = GETDATE()
	INSERT INTO Apply_DBCr_FileLog(JobID,Step,Status,LogTime,TookTime,ErrorReason)
	SELECT @JobID,'FILE_PROCESSING','START',GETDATE(),NULL,@Message

	--------------------------------------------------------------------------------------------------------------------
	--SECTION C : Fill records to resume transaction creation of fail file
	--------------------------------------------------------------------------------------------------------------------
	IF (@ErrorFlag = 0 AND @JobID > 0 AND @JobStatus = 'INPROCESS')
	BEGIN
		BEGIN TRY
			--Detail Log Creation
			SET @LogTime = GETDATE()
			INSERT INTO Apply_DBCr_FileLog(JobID,Step,Status,LogTime,TookTime,ErrorReason)
			SELECT @JobID,'PENDING_JOB_PROCESS','START',GETDATE(),NULL,'RESUME PROCESSING OF JobID - '	+ CAST(@JobID AS VARCHAR(5))
			
			SET @NewFileProcess = 'NO'
			
			INSERT INTO #TEMP_Apply_DBCr_Transaction(JobID,JobStatus,Invoice_Id,Invoice_Create_Ts,Transaction_Method,Transaction_Type,Response_Id,Pan_Last_4_Nr,Amount,Publish_Ts
				,AccountNumber,TransactionDescription,ActualTrancode,AccountTransactionSequence,TransactionCount,TransactionAmount,TransactionStatus,InsitutionId
				,ProductId,TxnCode_Internal,TranTime,PostTime,TransmissionDateTime,TxnAcctid,ATID,CMTTRANTYPE,TranPriority,PrimaryCurrencyCode,MerchantId,AccountUUID
				,CardAcceptorIdCode,TranId,EffectiveDate,PostingRef,InternalResponseCode,PostingReason,PrimaryAccountNumber,Pan_hash,CardNumber4Digits,ARTxnType
				,PostingFlag,EmbAcctID,NetworkName,POSFiller,TxnSource,CreditPlanMaster,ClientId,RevTgt,MethodName,FileName,FileID,GUID,TotalRewardPoints
				,Reason,NewTranId,UniqueId,RecordID,EarnRecordID)
			SELECT JobID,JobStatus,Invoice_Id,Invoice_Create_Ts,Transaction_Method,Transaction_Type,Response_Id,Pan_Last_4_Nr,Amount,Publish_Ts
				,AccountNumber,TransactionDescription,ActualTrancode,AccountTransactionSequence,TransactionCount,TransactionAmount,TransactionStatus,InsitutionId
				,ProductId,TxnCode_Internal,TranTime,PostTime,TransmissionDateTime,TxnAcctid,ATID,CMTTRANTYPE,TranPriority,PrimaryCurrencyCode,MerchantId,AccountUUID
				,CardAcceptorIdCode,TranId,EffectiveDate,PostingRef,InternalResponseCode,PostingReason,PrimaryAccountNumber,Pan_hash,CardNumber4Digits,ARTxnType
				,PostingFlag,EmbAcctID,NetworkName,POSFiller,TxnSource,CreditPlanMaster,ClientId,RevTgt,MethodName,FileName,FileID,GUID,TotalRewardPoints
				,Reason,NewTranId,UniqueId,RecordID,EarnRecordID
			FROM Apply_DBCr_Transaction WITH(NOLOCK)  
			WHERE JobID = @JobID AND JobStatus = 1

			SELECT @TranCount = COUNT(1) FROM #TEMP_Apply_DBCr_Transaction WITH(NOLOCK)

			--Detail Log Creation
			SET @DeltaTime = DATEDIFF(MILLISECOND,@LogTime,GETDATE())/1000.0
			INSERT INTO Apply_DBCr_FileLog(JobID,Step,Status,LogTime,TookTime,ErrorReason)
			SELECT @JobID,'PENDING_JOB_PROCESS','DONE',GETDATE(),@DeltaTime,NULL

		END TRY
		
		BEGIN CATCH
			SET @ErrorFlag = 1
			SET @ErrorDescription = 'ERROR LINE ( ' + CAST(ERROR_LINE() AS VARCHAR(50)) + ' ) DESCRIPTION : ' + ERROR_MESSAGE()

			--Detail Log Creation
			SET @DeltaTime = DATEDIFF(MILLISECOND,@LogTime,GETDATE())/1000.0
			INSERT INTO Apply_DBCr_FileLog(JobID,Step,Status,LogTime,TookTime,ErrorReason)
			SELECT @JobID,'PENDING_JOB_PROCESS','ERROR',GETDATE(),@DeltaTime,@ErrorDescription	
		END CATCH
	END

	IF (@ErrorFlag = 0 AND @JobID > 0 AND @JobStatus = 'NEW')
	BEGIN
		SET @NewFileProcess = 'YES'

		--Detail Log Creation
		SET @TxnValidation = GETDATE()
		INSERT INTO Apply_DBCr_FileLog(JobID,Step,Status,LogTime,TookTime,ErrorReason)
		SELECT @JobID,'TXN_VALIDATION','START',GETDATE(),NULL,'VALIDATION BATCH SIZE - ' + CAST(@ValidationBatchCount AS VARCHAR(5))		

		UPDATE Apply_DBCr_FileDump SET JobID = @JobID

		INSERT INTO #TEMP_Apply_DBCr_Transaction (JobID,JobStatus,Invoice_Id,Invoice_Create_Ts,Transaction_Method,Transaction_Type,Response_Id,Pan_Last_4_Nr,Amount,Publish_Ts)
		SELECT @JobID,0,[Invoice Id],[Invoice Create Ts],[Transaction Method],[Transaction Type],[Response Id],RIGHT('0000'+ [Pan Last 4 Nr],4),[Amount],[Publish Ts] 
		FROM Apply_DBCr_FileDump WITH(NOLOCK)

		SET @ValidatedJobCount = 0

		BEGIN TRY
			--------------------------------------------------------------------------------------------------------------------
			--SECTION-D : if EARN and REFUND is in same file for same account
			--------------------------------------------------------------------------------------------------------------------
			--Detail Log Creation
			SET @LogTime = GETDATE()
			INSERT INTO Apply_DBCr_FileLog(JobID,Step,Status,LogTime,TookTime,ErrorReason)
			SELECT @JobID,'DUP_VALIDATION','START',GETDATE(),NULL,NULL	
			
			;WITH CTE_A AS
			(
				SELECT Response_Id,COUNT(1) AS 'DupCount' FROM #TEMP_Apply_DBCr_Transaction WITH(NOLOCK)
				GROUP BY Response_Id
			), CTE_B AS 
			(
				SELECT ROW_NUMBER() OVER (PARTITION BY TA.Response_Id ORDER BY TA.Transaction_Type,TA.Transaction_Method) AS Rno
				,TA.RecordID,TA.Transaction_Type,TA.Transaction_Method,TA.Response_Id,CTE_A.DupCount
				FROM #TEMP_Apply_DBCr_Transaction TA WITH(NOLOCK) JOIN CTE_A ON TA.Response_Id = CTE_A.Response_Id
				WHERE DupCount > 1
			)
			INSERT INTO #TEMP_ErrorDupTransaction(Rno,RecordID,Transaction_Type,Transaction_Method,Response_Id,DupCount,DupJob)
			SELECT Rno,RecordID,Transaction_Type,Transaction_Method,Response_Id,DupCount,0 FROM CTE_B WITH(NOLOCK) 

			UPDATE TB SET TB.DupJob = 1	--Mark for duplicate
			,TB.EarnRecordID = TA.RecordID
			FROM #TEMP_ErrorDupTransaction TA JOIN #TEMP_ErrorDupTransaction TB WITH(NOLOCK) ON TA.Response_Id = TB.Response_Id
			WHERE TA.Transaction_Method = 'ACMI' AND TA.Transaction_Type = 'EARN' AND TB.Transaction_Type = 'REFUND'

			UPDATE TB SET TB.DupJob = 1	--Mark for duplicate
			,TB.EarnRecordID = TA.RecordID
			FROM #TEMP_ErrorDupTransaction TA JOIN #TEMP_ErrorDupTransaction TB WITH(NOLOCK) ON TA.Response_Id = TB.Response_Id
			WHERE TA.Transaction_Method = 'PIF' AND TA.Transaction_Type = 'EARN' AND TB.Transaction_Type = 'REFUND'

			UPDATE TA SET TA.JobStatus = 5		--DUPLICATE
			,Reason = 'REFUND along with EARN'
			,TA.EarnRecordID = TB.EarnRecordID
			FROM #TEMP_Apply_DBCr_Transaction TA JOIN #TEMP_ErrorDupTransaction TB WITH(NOLOCK) ON TA.RecordID = TB.RecordID
			WHERE TB.DupJob = 1

			--SELECT * FROM #TEMP_ErrorDupTransaction WITH(NOLOCK)
		
			SELECT @TotalJobCount = COUNT(1) FROM #TEMP_Apply_DBCr_Transaction WITH(NOLOCK) WHERE JobStatus = 5

			SET @Message = CAST(@TotalJobCount AS VARCHAR(5)) + ' - EARN and REFUND received on same account in same file'	
			--Detail Log Creation
			SET @DeltaTime = DATEDIFF(MILLISECOND,@LogTime,GETDATE())/1000.0
			INSERT INTO Apply_DBCr_FileLog(JobID,Step,Status,LogTime,TookTime,ErrorReason)
			SELECT @JobID,'DUP_VALIDATION','DONE',GETDATE(),@DeltaTime,@Message
			
			SELECT @TotalJobCount = COUNT(1) FROM #TEMP_Apply_DBCr_Transaction WITH(NOLOCK) WHERE JobStatus = 0
				
		END TRY
		
		BEGIN CATCH
			SET @ErrorFlag = 1
			SET @ErrorDescription = 'ERROR LINE ( ' + CAST(ERROR_LINE() AS VARCHAR(50)) + ' ) DESCRIPTION : ' + ERROR_MESSAGE()

			UPDATE ExternalFileProcessing SET JobStatus = 'ERROR',ErrorReason = @ErrorDescription
			WHERE JobID = @JobID

			--Detail Log Creation
			SET @DeltaTime = DATEDIFF(MILLISECOND,@LogTime,GETDATE())/1000.0
			INSERT INTO Apply_DBCr_FileLog(JobID,Step,Status,LogTime,TookTime,ErrorReason)
			SELECT @JobID,'DUP_VALIDATION','ERROR',GETDATE(),@DeltaTime,@ErrorDescription	

		END CATCH
		
		--------------------------------------------------------------------------------------------------------------------
		--SECTION-E : Transaction Validation
		--------------------------------------------------------------------------------------------------------------------
		IF (@ErrorFlag = 0)
		BEGIN
			WHILE ((SELECT TOP 1 1 FROM #TEMP_Apply_DBCr_Transaction WITH(NOLOCK) WHERE JobStatus = 0 AND TxnValidation = 0) > 0)
			BEGIN
				BEGIN TRY
					--Detail Log Creation
					SET @LogTime = GETDATE()

					TRUNCATE TABLE #TEMP_Apply_DBCr_TransactionValidation

					IF (@ValidationBatchCount > 0)
					BEGIN
						INSERT INTO #TEMP_Apply_DBCr_TransactionValidation (RecordID,JobID,JobStatus,Invoice_Id,Invoice_Create_Ts
						,Transaction_Method,Transaction_Type,Response_Id,Pan_Last_4_Nr,Amount,Publish_Ts)
						SELECT TOP (@ValidationBatchCount) RecordID,JobID,JobStatus,Invoice_Id,Invoice_Create_Ts
						,Transaction_Method,Transaction_Type,Response_Id,Pan_Last_4_Nr,Amount,Publish_Ts
						FROM #TEMP_Apply_DBCr_Transaction WITH(NOLOCK) WHERE JobStatus = 0 AND TxnValidation = 0
					END
					ELSE
					BEGIN
						INSERT INTO #TEMP_Apply_DBCr_TransactionValidation (RecordID,JobID,JobStatus,Invoice_Id,Invoice_Create_Ts
						,Transaction_Method,Transaction_Type,Response_Id,Pan_Last_4_Nr,Amount,Publish_Ts)
						SELECT RecordID,JobID,JobStatus,Invoice_Id,Invoice_Create_Ts
						,Transaction_Method,Transaction_Type,Response_Id,Pan_Last_4_Nr,Amount,Publish_Ts
						FROM #TEMP_Apply_DBCr_Transaction WITH(NOLOCK) WHERE JobStatus = 0 AND TxnValidation = 0
					END

					SELECT @BatchJobCount = COUNT(1) FROM #TEMP_Apply_DBCr_TransactionValidation WITH(NOLOCK) 
					SET @ValidatedJobCount = @ValidatedJobCount + @BatchJobCount

					/***************************************************************************************************************
					For Transaction_Type = 'EARN' AND Transaction_Method = 'ACMI' 
					Transaction to be Post: LM41
					Match Criteria: Latest row of Auth_Primary with given ResponseId (PlanUUID), if not found return Error
					***************************************************************************************************************/
					;WITH CTE_A AS 
					(
						SELECT ROW_NUMBER() OVER(PARTITION BY A.PlanUUID ORDER BY A.PostTime DESC) AS Rno,TA.RecordID
							,A.TranId,A.PlanUUID,A.AccountNumber,A.TxnAcctId,A.PrimaryAccountNumber,A.CardNumber4Digits,A.PAN_Hash
							,A.CardAcceptorIdCode,A.InstitutionID,A.ProductID,A.NetworkName,A.creditplanmaster,A.PrimaryCurrencyCode
							,A.ClientId
						FROM #TEMP_Apply_DBCr_Transaction TA 
						JOIN #TEMP_Apply_DBCr_TransactionValidation TV WITH(NOLOCK) ON (TA.RecordID = TV.RecordID)
						JOIN Auth_Primary A WITH(NOLOCK) ON (TA.Response_Id = A.PlanUUID AND TA.Amount = A.TransactionAmount)
						WHERE TA.JobStatus = 0 AND TA.Transaction_Type = 'EARN' AND TA.Transaction_Method = 'ACMI'
						AND A.PostTime > @StartDate
					)
					UPDATE TA SET TA.JobStatus	= 1		--MATCHED
						,TA.TranId				= A.TranId
						,TA.AccountNumber		= A.AccountNumber
						,TA.PrimaryAccountNumber= A.PrimaryAccountNumber
						,TA.CardNumber4Digits	= A.CardNumber4Digits
						,TA.Pan_hash			= A.PAN_Hash
						,TA.CardAcceptorIdCode	= A.CardAcceptorIdCode
						,TA.InsitutionId		= A.InstitutionID
						,TA.ProductId			= A.ProductID
						,TA.NetworkName			= A.NetworkName
						,TA.CreditPlanMaster	= A.creditplanmaster
						,TA.PrimaryCurrencyCode	= A.PrimaryCurrencyCode
						,TA.ClientId			= A.ClientId
						,TA.EmbAcctID			= A.TxnAcctId
					FROM #TEMP_Apply_DBCr_Transaction TA JOIN CTE_A A WITH(NOLOCK) ON TA.RecordID = A.RecordID
					WHERE A.Rno = 1

					/***************************************************************************************************************
					For Transaction_Type = 'EARN' AND Transaction_Method = 'PIF' 
					Transaction to be Post: LM41
					Match Criteria: TraceId of Auth_Secondary with given ResponseId and CardNumber4Digits of Auth_Primary with given Pan_Last_4_Nr, 
					if not found return Error
					***************************************************************************************************************/
					--VP - TAKE RECENT TOP 1 RECORD FOR MATCHING

					UPDATE TA SET TA.JobStatus	= 1		--MATCHED
						,TA.TranId				= A.TranId
						,TA.AccountNumber		= A.AccountNumber
						,TA.PrimaryAccountNumber= A.PrimaryAccountNumber
						,TA.CardNumber4Digits	= A.CardNumber4Digits
						,TA.Pan_hash			= A.PAN_Hash
						,TA.CardAcceptorIdCode	= A.CardAcceptorIdCode
						,TA.InsitutionId		= A.InstitutionID
						,TA.ProductId			= A.ProductID
						,TA.NetworkName			= A.NetworkName
						,TA.CreditPlanMaster	= A.creditplanmaster
						,TA.PrimaryCurrencyCode	= A.PrimaryCurrencyCode
						,TA.ClientId			= A.ClientId
						,TA.EmbAcctID			= A.TxnAcctId
					FROM #TEMP_Apply_DBCr_Transaction TA 
					JOIN #TEMP_Apply_DBCr_TransactionValidation TV WITH(NOLOCK) ON (TA.RecordID = TV.RecordID)
					JOIN Auth_Primary A WITH(NOLOCK) ON (TA.Pan_Last_4_Nr = A.CardNumber4Digits AND TA.Amount = A.TransactionAmount)
					JOIN Auth_Secondary B WITH(NOLOCK) ON (A.TranId = B.TranId AND TA.Response_Id = B.TraceId)
					WHERE TA.JobStatus = 0 AND TA.Transaction_Type = 'EARN' AND TA.Transaction_Method = 'PIF'
					AND A.PostTime > @StartDate

					/***************************************************************************************************************
					For Transaction_Type = 'REFUND' AND Transaction_Method = 'ACMI' 
					Transaction to be Post: LM42
					Match Criteria: RMATranUUID and TransactionAmount of CCard_Primary with given ResponseId and Amount, if non reversed LM41 found with RMATranUUID
					If Refund RMATranUUID is not found in CCard (LM41) than mark as error
					Transaction amount should be match, because if RMATranUUID is match with two records but amount is diff
					***************************************************************************************************************/
					UPDATE TA SET TA.JobStatus	= 1		--MATCHED
						,TA.TranId				= CP.TranId
						,TA.AccountNumber		= CP.AccountNumber
						,TA.PrimaryAccountNumber= CP.PrimaryAccountNumber
						,TA.CardNumber4Digits	= CP.CardNumber4Digits
						,TA.Pan_hash			= CP.PAN_Hash
						,TA.InsitutionId		= CP.InstitutionID
						,TA.ProductId			= CP.ProductID
						,TA.NetworkName			= CP.NetworkName
						,TA.CreditPlanMaster	= CP.creditplanmaster
						,TA.PrimaryCurrencyCode	= CP.PrimaryCurrencyCode
						,TA.ClientId			= CP.ClientId
						,TA.EmbAcctID			= CP.EmbAcctID
					FROM #TEMP_Apply_DBCr_Transaction TA 
					JOIN #TEMP_Apply_DBCr_TransactionValidation TV WITH(NOLOCK) ON (TA.RecordID = TV.RecordID)
					JOIN CCard_Primary CP WITH(NOLOCK) ON (TA.Response_Id = CP.RMATranUUID AND TA.Amount = CP.TransactionAmount)
					WHERE TA.JobStatus = 0 AND TA.Transaction_Type = 'REFUND' AND TA.Transaction_Method = 'ACMI'
					AND CP.PostTime > @StartDate
					AND CP.CMTTRANTYPE = '41'
					AND CP.Transactionidentifier = 'BTSFile'

					UPDATE TA SET TA.JobStatus = 2	--Reversed
						,TA.RevTgt = CP.TranId
						,TA.Reason = 'Transaction Already Reversed'
					FROM #TEMP_Apply_DBCr_Transaction TA JOIN CCard_Primary CP WITH(NOLOCK) ON (TA.TranId = CP.RevTgt)
					WHERE TA.JobStatus = 1 AND TA.Transaction_Type = 'REFUND' AND TA.Transaction_Method = 'ACMI'

					/***************************************************************************************************************
					For Transaction_Type = 'REFUND' AND Transaction_Method = 'PIF' 
					Transaction to be Post: LM42
					Match Criteria: 
					STEP-1:	TraceId,Pan_Last_4_Nr,Amount match with CCard, if found and reversed then ERROR else reversed
					STEP-2: If not found in step 1, TraceId,Pan_Last_4_Nr match with CCard, if found and reversed then ERROR else reversed
					***************************************************************************************************************/
					--STEP-1:	TraceId,Pan_Last_4_Nr,Amount match with CCard, if found and reversed then ERROR else reversed
					UPDATE TA SET TA.JobStatus	= 1		--MATCHED
						,TA.TranId				= CP.TranId
						,TA.AccountNumber		= CP.AccountNumber
						,TA.PrimaryAccountNumber= CP.PrimaryAccountNumber
						,TA.CardNumber4Digits	= CP.CardNumber4Digits
						,TA.Pan_hash			= CP.PAN_Hash
						,TA.InsitutionId		= CP.InstitutionID
						,TA.ProductId			= CP.ProductID
						,TA.NetworkName			= CP.NetworkName
						,TA.CreditPlanMaster	= CP.creditplanmaster
						,TA.PrimaryCurrencyCode	= CP.PrimaryCurrencyCode
						,TA.ClientId			= CP.ClientId
						,TA.EmbAcctID			= CP.EmbAcctID
					FROM #TEMP_Apply_DBCr_Transaction TA 
					JOIN #TEMP_Apply_DBCr_TransactionValidation TV WITH(NOLOCK) ON (TA.RecordID = TV.RecordID)
					JOIN CCard_Primary CP WITH(NOLOCK) ON (TA.Pan_Last_4_Nr = CP.CardNumber4Digits AND TA.Amount = CP.TransactionAmount)
					JOIN CCardTransactionMC CCM WITH(NOLOCK) ON (CP.TranId = CCM.TranId AND TA.Response_Id = CCM.TraceID)
					WHERE TA.JobStatus = 0 AND TA.Transaction_Type = 'REFUND' AND TA.Transaction_Method = 'PIF'
					AND CP.PostTime > @StartDate
					AND CP.CMTTRANTYPE = '41'
					AND CP.Transactionidentifier = 'BTSFile'

					UPDATE TA SET TA.JobStatus = 2	--REVERSED
						,TA.RevTgt = CP.TranId
						,TA.Reason = 'Transaction Already Reversed'
					FROM #TEMP_Apply_DBCr_Transaction TA JOIN CCard_Primary CP WITH(NOLOCK) ON (TA.TranId = CP.RevTgt)
					WHERE TA.JobStatus = 1 AND TA.Transaction_Type = 'REFUND' AND TA.Transaction_Method = 'PIF'
					
					--STEP-2: If not found in step 1, find TOP 1 TraceId,Pan_Last_4_Nr match with CCard, if found and reversed then ERROR else reversed
					;WITH CTE_A AS 
					(
						SELECT ROW_NUMBER() OVER(PARTITION BY CP.RMATranUUID ORDER BY CP.PostTime DESC) AS Rno,TA.RecordID
							,CP.TranId,CP.AccountNumber,CP.EmbAcctID,CP.PrimaryAccountNumber,CP.CardNumber4Digits,CP.PAN_Hash,CP.CardAcceptorIdCode
							,CP.InstitutionID,CP.ProductID,CP.NetworkName,CP.creditplanmaster,CP.PrimaryCurrencyCode,CP.ClientId
						FROM #TEMP_Apply_DBCr_Transaction TA 
						JOIN #TEMP_Apply_DBCr_TransactionValidation TV WITH(NOLOCK) ON (TA.RecordID = TV.RecordID)
						JOIN CCard_Primary CP WITH(NOLOCK) ON (TA.Pan_Last_4_Nr = CP.CardNumber4Digits)
						JOIN CCardTransactionMC CCM WITH(NOLOCK) ON (CP.TranId = CCM.TranId AND TA.Response_Id = CCM.TraceID)
						WHERE TA.JobStatus = 0 AND TA.Transaction_Type = 'REFUND' AND TA.Transaction_Method = 'PIF'
						AND CP.PostTime > @StartDate
						AND CP.CMTTRANTYPE = '41' 
						AND CP.Transactionidentifier = 'BTSFile'
					)
					UPDATE TA SET TA.JobStatus	= 6	
						,TA.Reason				= 'AMOUNT NOT MATCH'
						,TA.TranId				= A.TranId
						,TA.AccountNumber		= A.AccountNumber
						,TA.PrimaryAccountNumber= A.PrimaryAccountNumber
						,TA.CardNumber4Digits	= A.CardNumber4Digits
						,TA.Pan_hash			= A.PAN_Hash
						,TA.CardAcceptorIdCode	= A.CardAcceptorIdCode
						,TA.InsitutionId		= A.InstitutionID
						,TA.ProductId			= A.ProductID
						,TA.CreditPlanMaster	= A.creditplanmaster
						,TA.PrimaryCurrencyCode	= A.PrimaryCurrencyCode
						,TA.ClientId			= A.ClientId
						,TA.EmbAcctID			= A.EmbAcctID
					FROM #TEMP_Apply_DBCr_Transaction TA JOIN CTE_A A WITH(NOLOCK) ON (TA.RecordID = A.RecordID)
					WHERE A.Rno = 1
				
					--Update TxnValidation = 1, to pick next jobs
					UPDATE TA SET TA.TxnValidation = 1
					FROM #TEMP_Apply_DBCr_Transaction TA JOIN #TEMP_Apply_DBCr_TransactionValidation TB WITH(NOLOCK) ON (TA.RecordID = TB.RecordID)

					--Detail Log Creation
					SET @Message = CAST(@ValidatedJobCount AS VARCHAR(5)) + ' - JOBS VALIDATED OUT OF - ' + CAST(@TotalJobCount AS VARCHAR(5))

					SET @DeltaTime = DATEDIFF(MILLISECOND,@LogTime,GETDATE())/1000.0
					INSERT INTO Apply_DBCr_FileLog(JobID,Step,Status,LogTime,TookTime,ErrorReason)
					SELECT @JobID,'TXN_VALIDATION_BATCH','DONE',GETDATE(),@DeltaTime,@Message

				END TRY

				BEGIN CATCH
					SET @ErrorFlag = 1
					SET @ErrorDescription = 'ERROR LINE ( ' + CAST(ERROR_LINE() AS VARCHAR(50)) + ' ) DESCRIPTION : ' + ERROR_MESSAGE()

					UPDATE ExternalFileProcessing SET JobStatus = 'ERROR',ErrorReason = @ErrorDescription
					WHERE JobID = @JobID

					--Detail Log Creation
					SET @DeltaTime = DATEDIFF(MILLISECOND,@LogTime,GETDATE())/1000.0
					INSERT INTO Apply_DBCr_FileLog(JobID,Step,Status,LogTime,TookTime,ErrorReason)
					SELECT @JobID,'TXN_VALIDATION_BATCH','ERROR',GETDATE(),@DeltaTime,@ErrorDescription	

					BREAK	--EXIT WHILE LOOP
				END CATCH

				--WAITFOR DELAY '00:00:01'	-- 1 Second Delay
			END		--WHILE LOOP END
		END

		IF(@ErrorFlag = 0)
		BEGIN
			BEGIN TRY

				IF NOT EXISTS (SELECT TOP 1 1 FROM #TEMP_Apply_DBCr_Transaction WITH(NOLOCK) WHERE TxnValidation = 0)
				BEGIN
					--Detail Log Creation
					SET @DeltaTime = DATEDIFF(MILLISECOND,@TxnValidation,GETDATE())/1000.0
					INSERT INTO Apply_DBCr_FileLog(JobID,Step,Status,LogTime,TookTime,ErrorReason)
					SELECT @JobID,'TXN_VALIDATION','DONE',GETDATE(),@DeltaTime,NULL
				END

				--------------------------------------------------------------------------------------------------------------------
				--SECTION-F : Cook data for transaction creation
				--------------------------------------------------------------------------------------------------------------------
				--Detail Log Creation
				SET @LogTime = GETDATE()
				INSERT INTO Apply_DBCr_FileLog(JobID,Step,Status,LogTime,TookTime,ErrorReason)
				SELECT @JobID,'PREPARE_DATA','START',GETDATE(),NULL,'Prepare data for transaction creation'
						
				--MARK ERRROR
				UPDATE TA SET FileName = @FileName
				,JobStatus		= CASE WHEN JobStatus = 0 THEN 4 ELSE JobStatus END		--Record Not Match
				,Reason			= CASE WHEN JobStatus = 0 THEN 'No Match' ELSE Reason END
				FROM #TEMP_Apply_DBCr_Transaction TA

				--if EARN and REFUND is in same file for same account
				--1st matched record will be process (JobStatus - 10)
				--Further processing will be done on JobStatus - 1 and 10
				;WITH CTE_A AS 
				(
					SELECT ROW_NUMBER() OVER(PARTITION BY TB.Response_Id ORDER BY TB.Transaction_Type) AS Rno
					,TA.RecordID,TB.RecordID AS 'RecordIDUpd',TA.AccountNumber,TA.PrimaryAccountNumber,TA.CardNumber4Digits,TA.Pan_hash
					,TA.InsitutionId,TA.ProductId,TA.NetworkName,TA.CreditPlanMaster,TA.ClientId,TA.EmbAcctID,TA.PrimaryCurrencyCode
					FROM #TEMP_Apply_DBCr_Transaction TA JOIN #TEMP_Apply_DBCr_Transaction TB ON (TA.RecordID = TB.EarnRecordID AND TA.Amount = TB.Amount)
				)
				UPDATE TA SET JobStatus		= 10
				,TA.AccountNumber			= TB.AccountNumber
				,TA.PrimaryAccountNumber	= TB.PrimaryAccountNumber
				,TA.CardNumber4Digits		= TB.CardNumber4Digits
				,TA.Pan_hash				= TB.PAN_Hash
				,TA.InsitutionId			= TB.InsitutionId
				,TA.ProductId				= TB.ProductID
				,TA.NetworkName				= TB.NetworkName
				,TA.CreditPlanMaster		= TB.creditplanmaster
				,TA.PrimaryCurrencyCode		= TB.PrimaryCurrencyCode
				,TA.ClientId				= TB.ClientId
				,TA.EmbAcctID				= TB.EmbAcctID
				FROM #TEMP_Apply_DBCr_Transaction TA JOIN CTE_A TB ON TA.RecordID = TB.RecordIDUpd
				WHERE Rno = 1
				--if EARN and REFUND is in same file for same account

				--Override values from BSegment
				UPDATE TA SET TA.ATID	= BP.ATID
					,TA.TxnAcctid		= BP.acctId
					,TA.AccountUUID		= BP.UniversalUniqueID
					,TA.ProductId		= BP.parent02AID
					,TA.InsitutionId	= BP.InstitutionID
					,TA.MerchantId		= BP.parent05AID
					,TA.PrimaryCurrencyCode = BP.PrimaryCurrencyCode
				FROM #TEMP_Apply_DBCr_Transaction TA JOIN BSegment_Primary BP WITH(NOLOCK) ON TA.AccountNumber = BP.AccountNumber
				WHERE TA.JobStatus IN (1,10)		--MATCHED
			
				UPDATE TA SET TA.MTCGrpName = LP.MTCGrpName
				FROM #TEMP_Apply_DBCr_Transaction TA JOIN Logo_Primary LP WITH(NOLOCK) ON (TA.ProductId = LP.acctId)
				WHERE TA.JobStatus IN (1,10)	--MATCHED

				--UPDATE Transaction Sequence
				;WITH CTE_A AS 
				(
					SELECT ROW_NUMBER() OVER(PARTITION BY AccountNumber ORDER BY AccountNumber,Transaction_Type) AS TranSeq,RecordID 
					FROM #TEMP_Apply_DBCr_Transaction WITH(NOLOCK)
					WHERE JobStatus IN (1,10)		--MATCHED
				)
				UPDATE TA SET TA.AccountTransactionSequence = A.TranSeq
				FROM #TEMP_Apply_DBCr_Transaction TA JOIN CTE_A A WITH(NOLOCK) ON (TA.RecordID = A.RecordID)
			
				UPDATE TA SET CMTTRANTYPE = CASE 
												WHEN TA.Transaction_Type = 'EARN' THEN '41'
												WHEN TA.Transaction_Type = 'REFUND' THEN '42'
											END
					,TransactionAmount	= CAST(TA.Amount AS MONEY)
					,TranTime			= DATEADD(SECOND,TA.AccountTransactionSequence,@DateTimeStamp)
					,PostTime			= DATEADD(SECOND,TA.AccountTransactionSequence,@DateTimeStamp)
					,EffectiveDate		= DATEADD(SECOND,TA.AccountTransactionSequence,@DateTimeStamp)
					,TransmissionDateTime = DATEADD(SECOND,TA.AccountTransactionSequence,@DateTimeStamp)
					,TranPriority		= 0
					,PostingRef			= 'Transaction Posted Successfully'
					,InternalResponseCode = 'Posted successfuly'
					,PostingReason		= '0000'
					,ARTxnType			= '91'
					,PostingFlag		= '1'
					,POSFiller			= '0'
					,TxnSource			= '2'
					,ActualTrancode		=	CASE 
												WHEN TA.Transaction_Type = 'EARN' THEN @EarnTranCode
												WHEN TA.Transaction_Type = 'REFUND' THEN @RefundTranCode
											END	
					,RevTgt				= CASE WHEN TA.Transaction_Type = 'REFUND' THEN TA.TranId ELSE NULL END	--TranId of LM41 will be RevTgt of LM42
				FROM #TEMP_Apply_DBCr_Transaction TA WITH(NOLOCK)
				WHERE TA.JobStatus IN (1,10)	--MATCHED

				--REFUND will be post after EARN, hence add 2 sec
				UPDATE TA SET TranTime	= DATEADD(SECOND,2,TranTime)
					,PostTime			= DATEADD(SECOND,2,PostTime)
					,EffectiveDate		= DATEADD(SECOND,2,EffectiveDate)
				FROM #TEMP_Apply_DBCr_Transaction TA WITH(NOLOCK)
				WHERE TA.JobStatus IN (1,10)	--MATCHED
				AND TA.Transaction_Type = 'REFUND'

				--Update TransactionCode from MonetaryTxnControl
				UPDATE TA SET TA.TxnCode_Internal = MTC.TransactionCode
				FROM #TEMP_Apply_DBCr_Transaction TA JOIN MonetaryTxnControl MTC 
				ON (TA.ActualTrancode = MTC.ActualTranCode AND TA.CMTTRANTYPE = MTC.LogicModule)
				WHERE TA.JobStatus IN (1,10)	--MATCHED

				--Detail Log Creation
				SET @DeltaTime = DATEDIFF(MILLISECOND,@LogTime,GETDATE())/1000.0
				INSERT INTO Apply_DBCr_FileLog(JobID,Step,Status,LogTime,TookTime,ErrorReason)
				SELECT @JobID,'PREPARE_DATA','DONE',GETDATE(),@DeltaTime,NULL
				
			END TRY

			BEGIN CATCH
				SET @ErrorFlag = 1
				SET @ErrorDescription = 'ERROR LINE ( ' + CAST(ERROR_LINE() AS VARCHAR(50)) + ' ) DESCRIPTION : ' + ERROR_MESSAGE()

				UPDATE ExternalFileProcessing SET JobStatus = 'ERROR',ErrorReason = @ErrorDescription
				WHERE JobID = @JobID

				--Detail Log Creation
				SET @DeltaTime = DATEDIFF(MILLISECOND,@LogTime,GETDATE())/1000.0
				INSERT INTO Apply_DBCr_FileLog(JobID,Step,Status,LogTime,TookTime,ErrorReason)
				SELECT @JobID,'PREPARE_DATA','ERROR',GETDATE(),@DeltaTime,@ErrorDescription	

			END CATCH
		END

		IF (@ErrorFlag = 0)
		BEGIN
			--------------------------------------------------------------------------------------------------------------------
			--SECTION-G : Get TranId from PostValues
			--------------------------------------------------------------------------------------------------------------------
			--Detail Log Creation
			SET @LogTime = GETDATE()
			INSERT INTO Apply_DBCr_FileLog(JobID,Step,Status,LogTime,TookTime,ErrorReason)
			SELECT @JobID,'GET_TRANID','START',GETDATE(),NULL,'Get TranId from PostValues'

			SELECT @TranCount = COUNT(1) FROM #TEMP_Apply_DBCr_Transaction WITH(NOLOCK) WHERE JobStatus IN (1,10)
			
			IF (@TranCount > 0)
			BEGIN
				BEGIN TRY
					BEGIN TRANSACTION
						SELECT @TranId = Seq FROM PostValues WITH(UPDLOCK) WHERE Name = 'TranId'
						UPDATE PostValues SET Seq = Seq + @TranCount + 1 WHERE Name = 'TranId'

						--Detail Log Creation
						SET @DeltaTime = DATEDIFF(MILLISECOND,@LogTime,GETDATE())/1000.0
						INSERT INTO Apply_DBCr_FileLog(JobID,Step,Status,LogTime,TookTime,ErrorReason)
						SELECT @JobID,'GET_TRANID','DONE',GETDATE(),@DeltaTime,NULL	

					COMMIT TRANSACTION
				END TRY

				BEGIN CATCH
					ROLLBACK TRANSACTION

					SET @ErrorFlag = 1
					SET @ErrorDescription = 'ERROR LINE ( ' + CAST(ERROR_LINE() AS VARCHAR(50)) + ' ) DESCRIPTION : ' + ERROR_MESSAGE()

					UPDATE ExternalFileProcessing SET JobStatus = 'ERROR',ErrorReason = @ErrorDescription
					WHERE JobID = @JobID

					--Detail Log Creation
					SET @DeltaTime = DATEDIFF(MILLISECOND,@LogTime,GETDATE())/1000.0
					INSERT INTO Apply_DBCr_FileLog(JobID,Step,Status,LogTime,TookTime,ErrorReason)
					SELECT @JobID,'GET_TRANID','ERROR',GETDATE(),@DeltaTime,@ErrorDescription

				END CATCH
			END
			--------------------------------------------------------------------------------------------------------------------
			--SECTION-H : Dump records into Apply_DBCr_Transaction table for log purpose
			--------------------------------------------------------------------------------------------------------------------
			IF(@ErrorFlag = 0)
			BEGIN			
			BEGIN TRY
				BEGIN TRANSACTION

					--Detail Log Creation
					SET @LogTime = GETDATE()
					INSERT INTO Apply_DBCr_FileLog(JobID,Step,Status,LogTime,TookTime,ErrorReason)
					SELECT @JobID,'DUMP_DATA','START',GETDATE(),NULL,'Insert prepared data into Apply_DBCr_Transaction table'
					
					--Get matched record to generate TranId 
					INSERT INTO #TEMP_Apply_DBCr_TransactionTranId(RecordID)
					SELECT RecordID FROM #TEMP_Apply_DBCr_Transaction WITH(NOLOCK) WHERE JobStatus IN (1,10)	--Matched

					UPDATE #TEMP_Apply_DBCr_TransactionTranId SET NewTranId = Idx + @TranId

					UPDATE TA SET TA.NewTranId = TB.NewTranId
					FROM #TEMP_Apply_DBCr_Transaction TA JOIN #TEMP_Apply_DBCr_TransactionTranId TB WITH(NOLOCK) ON TA.RecordID = TB.RecordID

					--if EARN and REFUND is in same file for same account
					--Update NewTranId of LM41 as RevTgt on LM42
					--Update JobStatus 1 for further processing
					--Update Reason on records, which will not be processed
					UPDATE TA SET TA.RevTgt = CASE	WHEN TA.JobStatus = 10 THEN TB.NewTranId ELSE NULL END	
					,TA.JobStatus			= CASE	WHEN TA.JobStatus = 10 THEN 1 ELSE TA.JobStatus END	
					,TA.Reason				= CASE	WHEN TA.JobStatus = 5 
													THEN 
														CASE WHEN TA.Amount = TB.Amount THEN 'Duplicate REFUND' ELSE 'NO MATCH' END
													ELSE TA.Reason END
					FROM #TEMP_Apply_DBCr_Transaction TA JOIN #TEMP_Apply_DBCr_Transaction TB WITH(NOLOCK) 
					ON (TA.EarnRecordID = TB.RecordID AND TA.Response_Id = TB.Response_Id)
					--if EARN and REFUND is in same file for same account

					INSERT INTO Apply_DBCr_Transaction(JobID,JobStatus,Invoice_Id,Invoice_Create_Ts,Transaction_Method,Transaction_Type,Response_Id,Pan_Last_4_Nr,Amount,Publish_Ts
						,AccountNumber,TransactionDescription,ActualTrancode,AccountTransactionSequence,TransactionCount,TransactionAmount,TransactionStatus,InsitutionId
						,ProductId,TxnCode_Internal,TranTime,PostTime,TransmissionDateTime,TxnAcctid,ATID,CMTTRANTYPE,TranPriority,PrimaryCurrencyCode,MerchantId,AccountUUID
						,CardAcceptorIdCode,TranId,EffectiveDate,PostingRef,InternalResponseCode,PostingReason,PrimaryAccountNumber,Pan_hash,CardNumber4Digits,ARTxnType
						,PostingFlag,EmbAcctID,NetworkName,POSFiller,TxnSource,CreditPlanMaster,ClientId,RevTgt,MethodName,FileName,FileID,GUID,TotalRewardPoints
						,Reason,NewTranId,RecordID,EarnRecordID)
					SELECT JobID,JobStatus,Invoice_Id,Invoice_Create_Ts,Transaction_Method,Transaction_Type,Response_Id,Pan_Last_4_Nr,Amount,Publish_Ts
						,AccountNumber,TransactionDescription,ActualTrancode,AccountTransactionSequence,TransactionCount,TransactionAmount,TransactionStatus,InsitutionId
						,ProductId,TxnCode_Internal,TranTime,PostTime,TransmissionDateTime,TxnAcctid,ATID,CMTTRANTYPE,TranPriority,PrimaryCurrencyCode,MerchantId,AccountUUID
						,CardAcceptorIdCode,TranId,EffectiveDate,PostingRef,InternalResponseCode,PostingReason,PrimaryAccountNumber,Pan_hash,CardNumber4Digits,ARTxnType
						,PostingFlag,EmbAcctID,NetworkName,POSFiller,TxnSource,CreditPlanMaster,ClientId,RevTgt,MethodName,FileName,FileID,GUID,TotalRewardPoints
						,Reason,NewTranId,TA.RecordID,TA.EarnRecordID
					FROM #TEMP_Apply_DBCr_Transaction TA WITH(NOLOCK) 

					UPDATE ExternalFileProcessing SET JobStatus = 'INPROCESS' WHERE JobID = @JobID

					--Detail Log Creation
					SET @DeltaTime = DATEDIFF(MILLISECOND,@LogTime,GETDATE())/1000.0
					INSERT INTO Apply_DBCr_FileLog(JobID,Step,Status,LogTime,TookTime,ErrorReason)
					SELECT @JobID,'DUMP_DATA','DONE',GETDATE(),@DeltaTime,NULL	

					COMMIT TRANSACTION			
				END TRY
				
				BEGIN CATCH
					ROLLBACK TRANSACTION

					SET @ErrorFlag = 1
					SET @ErrorDescription = 'ERROR LINE ( ' + CAST(ERROR_LINE() AS VARCHAR(50)) + ' ) DESCRIPTION : ' + ERROR_MESSAGE()

					UPDATE ExternalFileProcessing SET JobStatus = 'ERROR',ErrorReason = @ErrorDescription
					WHERE JobID = @JobID

					--Detail Log Creation
					SET @DeltaTime = DATEDIFF(MILLISECOND,@LogTime,GETDATE())/1000.0
					INSERT INTO Apply_DBCr_FileLog(JobID,Step,Status,LogTime,TookTime,ErrorReason)
					SELECT @JobID,'DUMP_DATA','ERROR',GETDATE(),@DeltaTime,@ErrorDescription	
				END CATCH
			END
		END
	END	--@JobStatus = 'NEW'
	
	--SELECT * FROM #TEMP_Apply_DBCr_Transaction WITH(NOLOCK)
	--------------------------------------------------------------------------------------------------------------------
	--SECTION-I : Transaction Creation
	--------------------------------------------------------------------------------------------------------------------
	
	IF (@ErrorFlag = 0 AND @JobID > 0 
		OR (@NewFileProcess = 'NO' AND @JobStatus = 'INPROCESS')
	)
	BEGIN
		SET @TotalJobCount = 0
		--Detail Log Creation
		INSERT INTO Apply_DBCr_FileLog(JobID,Step,Status,LogTime,TookTime,ErrorReason)
		SELECT @JobID,'TXN_CREATION','START',GETDATE(),NULL,'TRANSACTION BATCH SIZE - ' + CAST(@TxnBatchCount AS VARCHAR(5))
		
		WHILE ((SELECT TOP 1 1 FROM #TEMP_Apply_DBCr_Transaction WITH(NOLOCK) WHERE JobStatus = 1) > 0)	--Matched
		BEGIN
			BEGIN TRY
				--Detail Log Creation
				SET @LogTime = GETDATE()
							
				TRUNCATE TABLE #TEMP_Apply_DBCr_CCardTransaction
					
				IF @TxnBatchCount > 0
				BEGIN
					INSERT INTO #TEMP_Apply_DBCr_CCardTransaction (RecordID,UniqueId)
					SELECT TOP (@TxnBatchCount) RecordID,UniqueId FROM #TEMP_Apply_DBCr_Transaction WITH(NOLOCK) WHERE JobStatus = 1	--MATCHED
				END
				ELSE
				BEGIN
					INSERT INTO #TEMP_Apply_DBCr_CCardTransaction (RecordID,UniqueId)
					SELECT RecordID,UniqueId FROM #TEMP_Apply_DBCr_Transaction WITH(NOLOCK) WHERE JobStatus = 1		--MATCHED
				END

				SELECT @BatchJobCount = COUNT(1) FROM #TEMP_Apply_DBCr_CCardTransaction WITH(NOLOCK)
				SET @TotalJobCount = @TotalJobCount + @BatchJobCount

				BEGIN TRANSACTION

				INSERT INTO dbo.CCard_Primary (UniqueID,TranId,AccountNumber,PrimaryAccountNumber,PAN_Hash,InstitutionID,ProductID
					,RetrievalReferenceNumber,MessageTypeIdentifier,CMTTRANTYPE,TxnCode_Internal,TranTime,PostTime,CardAcceptorIdCode,CardAcceptorTerminalID
					,TransactionAmount,MerchantType,TransactionDescription,NetworkName,IResponseCode,CalcOTB,TxnStatus,PrimaryCurrencyCode,StateStatus,PostingFlag
					,TxnSource,ARTxnType,TransactionCurrencyCode,PostingRef,CardNumber4Digits,TxnIsFor,TxnAcctId,PostingReason,EmbAcctID,ATID,priority
					,TransmissionDateTime,AuthTranId,creditplanmaster,RevTgt,Transactionidentifier
					,RMATranUUID) 
				SELECT NewTranId,NewTranId,AccountNumber,PrimaryAccountNumber,Pan_hash,InsitutionId,ProductId
					,NULL,NULL,CMTTRANTYPE,TxnCode_Internal,TranTime,PostTime,CardAcceptorIdCode,NULL
					,TransactionAmount,NULL,TransactionDescription,NetworkName,NULL,NULL,NULL,PrimaryCurrencyCode,NULL,PostingFlag
					,TxnSource,ARTxnType,'840',PostingRef,CardNumber4Digits,0,TxnAcctid,PostingReason,EmbAcctID,ATID,TranPriority
					,PostTime,NULL,CreditPlanMaster,RevTgt,'BTSFile'
					,CASE WHEN /*TA.Transaction_Type = 'EARN' AND*/ TA.Transaction_Method = 'ACMI' THEN TA.Response_Id ELSE NULL END AS 'RMATranUUID'
				FROM #TEMP_Apply_DBCr_Transaction TA WITH(NOLOCK) JOIN #TEMP_Apply_DBCr_CCardTransaction TB WITH(NOLOCK) ON TA.RecordID = TB.RecordID

				INSERT INTO CCardTransactionMC(TranId,TraceID)
				SELECT NewTranId
				,CASE WHEN /*TA.Transaction_Type = 'EARN' AND*/ TA.Transaction_Method = 'PIF' THEN TA.Response_Id ELSE NULL END AS 'TraceID'
				FROM #TEMP_Apply_DBCr_Transaction TA WITH(NOLOCK) JOIN #TEMP_Apply_DBCr_CCardTransaction TB WITH(NOLOCK) ON TA.RecordID = TB.RecordID
	
				INSERT INTO CommonTNP (tnpdate,TranTime,TranId,ATID,acctId,ttid,NADandROOFlag,GetAllTNPJobsFlag,Retries,InstitutionID,priority) 
				SELECT TA.TranTime,TA.TranPriority,TA.TranTime,TA.NewTranId,TA.ATID,TA.TxnAcctid,0,0,0,0,TA.InsitutionId
				,CASE WHEN TA.CMTTRANTYPE = '42' THEN 1000 ELSE priority END
				FROM #TEMP_Apply_DBCr_Transaction TA WITH(NOLOCK) JOIN #TEMP_Apply_DBCr_CCardTransaction TB WITH(NOLOCK) ON TA.RecordID = TB.RecordID

				-------------------------------------------------------------------------------------------------------------------------
				UPDATE TA SET JobStatus = 3	--Transaction Created
				FROM #TEMP_Apply_DBCr_Transaction TA JOIN #TEMP_Apply_DBCr_CCardTransaction TB WITH(NOLOCK) ON TA.RecordID = TB.RecordID

				IF(@NewFileProcess = 'NO')
				BEGIN
					--Update JobStatus, if resume old file
					UPDATE T SET T.JobStatus = 3	--Transaction Created
					,Reason = 'SUCCESS'
					FROM Apply_DBCr_Transaction T JOIN #TEMP_Apply_DBCr_CCardTransaction TA WITH(NOLOCK) ON T.UniqueId = TA.UniqueId
				END
				ELSE
				BEGIN
					UPDATE T SET T.JobStatus = 3	--Transaction Created
					,Reason = 'SUCCESS'
					FROM Apply_DBCr_Transaction T JOIN #TEMP_Apply_DBCr_CCardTransaction TA WITH(NOLOCK) ON T.RecordID = TA.RecordID
				END

				SET @Message = CAST(@TotalJobCount AS VARCHAR(5)) + ' - TRANSACTION CREATED OUT OF - ' + CAST(@TranCount AS VARCHAR(5))
				
				--Detail Log Creation
				SET @DeltaTime = DATEDIFF(MILLISECOND,@LogTime,GETDATE())/1000.0
				INSERT INTO Apply_DBCr_FileLog(JobID,Step,Status,LogTime,TookTime,ErrorReason)
				SELECT @JobID,'TXN_CREATION','DONE',GETDATE(),@DeltaTime,@Message	

				COMMIT TRANSACTION			
			END TRY
				
			BEGIN CATCH
				ROLLBACK TRANSACTION

				SET @ErrorFlag = 1
				SET @ErrorDescription = 'ERROR LINE ( ' + CAST(ERROR_LINE() AS VARCHAR(50)) + ' ) DESCRIPTION : ' + ERROR_MESSAGE()

				UPDATE ExternalFileProcessing SET ErrorReason = @ErrorDescription
				WHERE JobID = @JobID

				--Detail Log Creation
				SET @DeltaTime = DATEDIFF(MILLISECOND,@LogTime,GETDATE())/1000.0
				INSERT INTO Apply_DBCr_FileLog(JobID,Step,Status,LogTime,TookTime,ErrorReason)
				SELECT @JobID,'TXN_CREATION','ERROR',GETDATE(),@DeltaTime,@ErrorDescription	

				BREAK	--EXIT WHILE LOOP
			END CATCH
				
			WAITFOR DELAY '00:00:02'	--2 Second Delay
		END		--WHILE LOOP END
	END
		
	IF(@ErrorFlag = 0)
	BEGIN
		BEGIN TRY
			BEGIN TRANSACTION
				
			IF NOT EXISTS (SELECT TOP 1 1 FROM #TEMP_Apply_DBCr_Transaction WITH(NOLOCK) WHERE JobStatus = 1)	--MATCHED
			BEGIN
				IF @JobID = 0
					SET @Message = 'No File'
				ELSE
					SET @Message = NULL
				
				DECLARE @TotalRecord INT,@SuccesRecord INT,@ErrorRecord INT
				--Detail Log Creation
				SET @DeltaTime = DATEDIFF(MILLISECOND,@FileProcessLogTime,GETDATE())/1000.0
				INSERT INTO Apply_DBCr_FileLog(JobID,Step,Status,LogTime,TookTime,ErrorReason)
				SELECT @JobID,'FILE_PROCESSING','DONE',GETDATE(),@DeltaTime,@Message
				
				SELECT @TotalRecord = COUNT(1) FROM Apply_DBCr_Transaction WITH(NOLOCK) WHERE JobID = @JobID			
				SELECT @SuccesRecord = COUNT(1) FROM Apply_DBCr_Transaction WITH(NOLOCK) WHERE JobID = @JobID AND JobStatus = 3			
				SET @ErrorRecord = @TotalRecord - @SuccesRecord

				UPDATE ExternalFileProcessing SET TookTime = @DeltaTime
				,JobStatus		= 'DONE' 
				,TotalRecord	= @TotalRecord 
				,SuccesRecord	= @SuccesRecord
				,ErrorRecord	= @ErrorRecord
				WHERE JobID = @JobID
			END

			COMMIT TRANSACTION
		END TRY
			
		BEGIN CATCH
			ROLLBACK TRANSACTION

			SET @ErrorFlag = 1
			SET @ErrorDescription = 'ERROR LINE ( ' + CAST(ERROR_LINE() AS VARCHAR(50)) + ' ) DESCRIPTION : ' + ERROR_MESSAGE()

			--Detail Log Creation
			SET @DeltaTime = DATEDIFF(MILLISECOND,@FileProcessLogTime,GETDATE())/1000.0
			INSERT INTO Apply_DBCr_FileLog(JobID,Step,Status,LogTime,TookTime,ErrorReason)
			SELECT @JobID,'FILE_PROCESSING','ERROR',GETDATE(),@DeltaTime,@ErrorDescription	
		END CATCH
	END
	
	IF EXISTS(SELECT TOP 1 1 FROM ExternalFileProcessing WITH(NOLOCK) WHERE JobID = @JobID AND JobStatus = 'NEW')	
		SELECT CASE WHEN @ErrorFlag = 1 THEN @ErrorDescription ELSE 'UNKNOWN ERROR' END [RESULT]
	ELSE 
		SELECT CASE WHEN @ErrorFlag = 0 THEN 'SUCCESS' ELSE @ErrorDescription END [RESULT]
END
