{
  "loadprofile": "6",
  "1": {
    "coreissue": "kk_ci",
    "coreissue_secondary": "kk_ci_secondary",
	"server": "bpldevdb01"
  },
  "2": {
    "coreissue": "platdev_ci",
    "coreissue_secondary": "platdev_ci_secondary",
	"server": "bpldevdb01"
  },
  "3": {
    "coreissue": "posting2_ci",
    "coreissue_secondary": "posting2_ci_secondary",
	"server": "bpldevdb01"
  },
  "4": {
    "coreissue": "rohit_ci",
    "coreissue_secondary": "rohit_ci_secondary",
	"server": "bpldevdb01"
  },
  "5": {
    "coreissue": "rajeshm_ci",
    "coreissue_secondary": "rajeshm_ci_secondary",
	"server": "bplqadb01"
  },
  "6": {
    "coreissue": "pp_ci",
    "coreissue_secondary": "pp_ci_secondary",
	"server": "bpldevdb01"
  }
}