USE CCGS_CoreIssue
GO

Begin TRANSACTION A

UPDATE CBRJobsDetail SET JobSTatus = '3' WHERE statementdate > '2021-04-30 23:59:57.000' and midfileindicator = '1' and JobSTatus = '0'
--4341 ros affected

update top(1) bsegment_primary  set  LastStatementdate = '2021-05-31 23:59:57.000', DateofNextStmt = '2021-06-30 23:59:57.000'  where 
 acctid = 17346311
 -- 1 row 
--ROLLBACK TRANSACTION A
--COMMIT TRANSACTION A